{{ form_widget(form._token) }}
{#<div class="quiz">#}
  <div class="form-group row">
    <div class="col-sm-8">
      Diplomé :   {{ satisfactionSearch.personDegree }}
    </div>
    {%  if app.user.roles|role =="ADMIN" %}
      <div class="col-sm-2">
        Id : {{ satisfactionSearch.id }}
      </div>
    {% endif %}
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      Date de création : {{ satisfactionSearch.createdDate|date("d/m/Y H:i") }}
    </div>
    <div class="col-sm-6">
      Obtention du Diplôme : {{ satisfactionSearch.degreeDate }}
    </div>
  </div>
  <div class="line-separator"></div>
  <div class="row">
    <div class="col-sm-5 form-check registered_training">
      <label for=""> <br>Êtes-vous inscrit à une formation ?</label>
      {{ form_widget(form.registeredTraining) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.registeredTraining) }}</div>
    </div>
    <div class="col-sm-7 form-check hide_block_registered_training">
      <label for=""> Est-ce que cette formation est une poursuite<br>d’études en lien avec votre dernier diplôme ? </label>
      {{ form_widget(form.formationPursuitLastDegree) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.formationPursuitLastDegree) }}</div>
    </div>
  </div>
  <div class="line-separator hide_block_registered_training"></div>
  <div class="row hide_flex_registered_training">
    <div class="col-sm-6 form-group">
      <label for=""> diplôme recherché * </label>
      {{ form_widget(form.degree) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.degree) }}</div>
    </div>
    <div class="col-sm-6 form-group hide_block_other_degree_name">
      <label for=""> Autre diplôme </label>
      {{ form_widget(form.otherFormationDegreeName) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherFormationDegreeName) }}</div>
    </div>
  </div>
  <div class="row hide_flex_registered_training">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for=""> Secteur d'activité ? </label>
          {{ form_widget(form.sectorArea) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
        </div>
      </div>
      <div class="row hide_flex_other_activity">
        <div class="col-sm-12 form-group">
          <label for=""> Autre métier </label>
          {{ form_widget(form.otherFormationActivityName) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherFormationActivityName) }}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 form-group">
      <label for=""> métier/filière choisie ? </label>
      {{ form_widget(form.activities) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities) }}</div>
    </div>
  </div>

  <div class="line-separator"></div>
  <div class="row">
    <div class="col-sm-4 form-check">
      <label for=""> Cherchez-vous du travail ?</label>
      {{ form_widget(form.searchWork) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.searchWork) }}</div>
    </div>
    <div class="col-sm-8 form-check hide_block_searchWork">
      <label for=""> Pourquoi ?</label>
      {{ form_widget(form.noSearchWorkReason) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.noSearchWorkReason) }}</div>
    </div>
  </div>
  <div class="line-separator"></div>
  <div class="row">
    <div class="col-sm-4 form-check">
      <label for=""> Travaillez-vous comme volontaire/bénévole ?</label>
      {{ form_widget(form.activeVolunteer) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activeVolunteer) }}</div>
    </div>
    <div class="col-sm-4 form-group hide_block_sectorAreaVolunteer">
      <label for=""> Si oui, dans quel domaine ? </label>
      {{ form_widget(form.sectorAreaVolunteer) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorAreaVolunteer) }}</div>
    </div>
    <div class="col-sm-4 form-group hide_block_sectorAreaVolunteer">
      <label for=""> filière / métier ? </label>
      {{ form_widget(form.activityVolunteer) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activityVolunteer) }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group hide_block_sectorAreaVolunteer hide_block_otherDomainVolunteer">
      <label for=""> Autre filière / métier: </label>
      {{ form_widget(form.otherDomainVolunteer) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherDomainVolunteer) }}</div>
    </div>
    <div class="col-sm-6 form-group hide_block_sectorAreaVolunteer">
      <label for=""> Poste occupé ? </label>
      {{ form_widget(form.jobVolunteer) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobVolunteer) }}</div>
    </div>
  </div>
  <div class="line-separator"></div>
  <div class="row">
    <div class="col-sm-4 form-check">
      <label for=""> Avez-vous refusé une offre d’emploi<br>depuis la fin de votre formation ?</label>
      {{ form_widget(form.jobRefuse) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobRefuse) }}</div>
    </div>
    <div class="col-sm-4 form-check">
      <label for=""> Avez-vous occupé un emploi<br>depuis la fin de votre formation ?</label>
      {{ form_widget(form.jobFromFormation) }}
      <div class="slider round">
        <span class="non">Non</span>
        <span class="oui">Oui</span>
      </div>
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobFromFormation) }}</div>
    </div>
    <div class="col-sm-4 form-group hide_block_jobTime">
      <label for=""> Si oui, pendant combien de temps ?</label>
      {{ form_widget(form.jobTime) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobTime) }}</div>
    </div>
  </div>
  <div class="line-separator"></div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for=""> Pourquoi, à votre avis, n'avez-vous pas trouvé / retrouvé un travail ?<br>plusieurs choix possibles (+ touche ctrl)</label>
      {{ form_widget(form.jobNotFoundReasons) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobNotFoundReasons) }}</div>
    </div>
  </div>
  <div class="row hide_flex_jobNotFoundOther">
    <div class="col-sm-12 form-group">
      <label for=""> Autre raison </label>
      {{ form_widget(form.jobNotFoundOther) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobNotFoundOther) }}</div>
    </div>
  </div>

{{ show_allactivities() }}
{#<div><span>* : champ obligatoire</span></div>#}
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonSatisfactionSearch" onclick="preventDefaultSubmit()"> Valider</button>
  <button class="btn btn-primary" type="submit" id="submitSatisfactionSearch" hidden="hidden" > Valider</button>
</div>