{% extends 'satisfactionSearch/content.html.twig' %}

{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon"
             style="margin-bottom: -35px;">
        <h6 class="element-header">{{ 'survey.list_of_insertion_surveys_graduates_looking_for_a_job' | trans }}</h6>
        <div class="element-box">
          {% if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
            <div class="controls-above-table">
              <div class="row">
                <div class="col-sm-6">
{#                  <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                  {#<a class="btn btn-sm btn-primary" href="{{ path('satisfaction_search_new'| route_persondegree) }}">#}
                    {#<i class="fa fa-plus"></i> Nouvelle enquête d'insertion</a>#}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="table-responsive">
            <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
              <thead>
              <tr>
                <th class="no-print">Actions</th>

                {% if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                  <th><div><span>N°</span></div></th>
                  <th><div><span> {{ 'menu.name' | trans }} </span></div></th>
                  <th><div><span>{{ 'menu.phone_abr' | trans }}.</span></div></th>
                {% endif %}

                <th><div><span>{{ 'menu.created_date_with_tag' | trans({'%tag_br%': '<br/>'}) | raw}}</span></div></th>
                <th><div><span>{{ 'menu.updated_date_with_tag' | trans({'%tag_br%': '<br/>'}) | raw}}</span></div></th>
                <th><div><span>{{ 'survey.registered_training_with_tag' | trans({'%tag_br%': '<br/>'}) | raw}}</span></div></th>
                <th><div><span>{{ 'survey.looking_for_a_job_with_tag' | trans({'%tag_br%': '<br/>', '%tag_br%': '<br/>'}) | raw}}</span></div></th>
                <th><div><span>{{ 'survey.volunteer' | trans }}</span></div></th>
                <th><div><span>{{ 'survey.job_rejected_with_tag' | trans({'%tag_br%': '<br/>'}) | raw}}</span></div></th>
                <th><div><span>{{ 'survey.employment_since_training_with_tag' | trans({'%tag_br%': '<br/>', '%tag_br%': '<br/>'}) | raw}}</span></div></th>
              </tr>
              </thead>
              <tbody>
              {% set rowNumber = 0 %}
              {% for satisfaction in satisfactionSearches %}
                {% set rowNumber = rowNumber+1 %}
                <tr>
                  <td class="row-actions">
                    <a href="{{ path('satisfaction_search_edit' | route_persondegree, { 'id': satisfaction.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                    <a href="{{ path('satisfaction_search_show' | route_persondegree, { 'id': satisfaction.id }) }}#"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                    {% if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                      <a class="danger"
                         onclick="deleteElement('{{ path('satisfaction_search_delete' , {'id': satisfaction.id}) }}')"><img
                            src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                    {% endif %}
                    <div>
                      {# On affiche tous les messages flash dont le nom est « info » #}
                      {% for message in app.session.flashbag.get('info') %}
                        <p>Message flash : {{ message }}</p>
                      {% endfor %}
                    </div>
                  </td>
                  {#<td><a href="{{ path('satisfaction_search_show', { 'id': satisfaction.id }) }}">{{ satisfaction.id }}</a></td>#}

                  {% if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                    <td>{{ rowNumber }}</td>
                    <td>{{ satisfaction.personDegree }}</td>
                    <td>{{ satisfaction.personDegree.phoneMobile1 }}</td>
                  {% endif %}

                  <td>{{ satisfaction.createdDate|date('d M Y H:i') }}</td>
                  <td>{{ satisfaction.updatedDate|date('d M Y H:i') }}</td>

                  {% if satisfaction.registeredTraining %}
                    <td>{{ 'menu.yes' | trans }}</td>
                  {% else %}
                    <td>{{ 'menu.no' | trans }}</td>
                  {% endif %}

                  {% if satisfaction.searchWork %}
                    <td>{{ 'menu.yes' | trans }}</td>
                  {% else %}
                    <td>{{ 'menu.no' | trans }}</td>
                  {% endif %}

                  {% if satisfaction.activeVolunteer %}
                    <td>{{ 'menu.yes' | trans }}</td>
                  {% else %}
                    <td>{{ 'menu.no' | trans }}</td>
                  {% endif %}

                  {% if satisfaction.jobRefuse %}
                    <td>{{ 'menu.yes' | trans }}</td>
                  {% else %}
                    <td>{{ 'menu.no' | trans }}</td>
                  {% endif %}

                  {% if satisfaction.jobFromFormation %}
                    <td>{{ 'menu.yes' | trans }}</td>
                  {% else %}
                    <td>{{ 'menu.no' | trans }}</td>
                  {% endif %}

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
{% endblock %}
