{% extends 'satisfactionSearch/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'menu.detail' | trans }}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfaction_search_new' | route_persondegree)  }}">
                            <i class="fa fa-plus"></i> Ajouter une enquête d'insertion : diplômé sans emploi
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('satisfaction_search_index' | route_persondegree) }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box form-show">
                    <form>
                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <label for=""> {{ 'menu.graduate' | trans }} </label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.personDegree }}">
                            </div>
                          {%  if app.user.roles|role =="ADMIN" %}
                              <div class="col-sm-4 form-group ">
                                  <label for=""> Id</label>
                                  <input class="form-control" disabled value="{{ satisfactionSearch.id }}">
                              </div>
                          {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for=""> {{ 'menu.created_date' | trans }} : </label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.createdDate|date("d/m/Y H:i") }}">
                            </div>
                            <div class="col-sm-6 form-group ">
                                <label for=""> {{ 'graduate.obtaining_the_diploma' | trans }}</label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.degreeDate }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                                {% if satisfactionSearch.searchWork==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-form-label col-sm-12"> {{ 'survey.searching_for_a_job' | trans }}</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-5">
                                {% if satisfactionSearch.registeredTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> {{ 'survey.are_you_enrolled_in_a_course' | trans }} ?</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-7">
                              {% if satisfactionSearch.formationPursuitLastDegree==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label">
                                    {{ "survey.is_this_training_a_continuation_of_your_last_degree" | trans({'%tag_br%': '<br/>'}) | raw }} ?</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> {{ "survey.degree_sought" | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.degree | trans }}">
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> {{ 'menu.other_degree' | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherFormationDegreeName }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label col-sm-12"> {{ 'menu.activity_area' | trans }} ?</label>
                                        <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.sectorArea | trans }}">
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-form-label col-sm-12"> {{ 'menu.other_trade' | trans }} ? </label>
                                        <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherFormationActivityName }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12">
                                    {{ 'survey.chosen_field_of_study' | trans }}
                                </label>
                                {%  set activities = "" %}
                                {% for activity in satisfactionSearch.activities %}
                                    {%  set activities = activities ~ activity|trans ~ '\n' %}
                                {% endfor %}
                                <textarea class="form-control" disabled style="height: 80px">{{ activities }}</textarea>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.searchWork==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> {{ 'survey.are_you_looking_for_work' | trans }} ?</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-form-label col-sm-12"> {{ 'menu.why' | trans }} ? </label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.noSearchWorkReason }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.activeVolunteer==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> T{{ 'survey.do_you_work_as_a_volunteer' | trans }} ?</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> {{ 'survey.if_yes_in_what_area' | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.sectorAreaVolunteer | trans }}">
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> {{ 'menu.job' | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.activityVolunteer }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> {{ 'menu.other_field' | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherDomainVolunteer }}">
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> {{ 'menu.position_held' | trans }} ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobVolunteer }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.jobRefuse==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> {{ 'survey.have_you_turned_down_a_job_offer_since_completing_your_training' | trans({'%tag_br%': '<br/>'}) | raw }}</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                              {% if satisfactionSearch.jobFromFormation==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> {{ 'survey.have_you_held_a_job_since_completing_your_training' | trans({'%tag_br%': '<br />'}) | raw }}</label>
                                <div class="col-sm-12">
                                    <div class="slider round">
                                        <span class="non">{{ 'menu.no' | trans }}</span>
                                        <span class="oui">{{ 'menu.yes' | trans }}</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> {{ 'survey.if_so_for_how_long' | trans }}</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobTime }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12">
                                    {{ 'survey.why_do_you_think_you_haven_found_returned_to_work' | trans }}
                                </label>
                                {%  set reasons = ""  %}
                                {% for reason in satisfactionSearch.jobNotFoundReasons %}
                                    {%  set reasons = reasons ~ '\n' ~ reason  | trans   %}
                                {% endfor %}
                                <textarea class="form-control" disabled style="height: 80px">{{ reasons}}</textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> {{ 'menu.other_reason' | trans }}</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobNotFoundOther }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                    </form>
                    <div class="controls-above-table">
                        <div class="row" id="actions">
                            <div class="col-sm-6">
                                {% if is_granted('ROLE_ADMIN') == true %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('satisfaction_search_edit', {'id': satisfactionSearch.id}) }}">
                                        <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                                {% elseif is_granted('ROLE_DIPLOME') == true%}
                                    <a class="btn btn-sm btn-primary" href="{{ path('front_persondegree_satisfaction_search_edit', {'id': satisfactionSearch.id}) }}">
                                        <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') == true %}
                                    <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('satisfaction_search_delete', {'id': satisfactionSearch.id}) }}')">
                                        <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
