{% extends 'satisfactionSearch/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Details
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfaction_search_new' | route_persondegree)  }}">
                            <i class="fa fa-plus"></i> Ajouter une enquête d'insertion : diplômé sans emploi
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('satisfaction_search_index' | route_persondegree) }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h6>
                <div class="element-box form-show">
                    <form>
                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <label for=""> Diplomé </label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.personDegree }}">
                            </div>
                          {%  if app.user.roles|role =="ADMIN" %}
                              <div class="col-sm-4 form-group ">
                                  <label for=""> Id</label>
                                  <input class="form-control" disabled value="{{ satisfactionSearch.id }}">
                              </div>
                          {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for=""> Date de création : </label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.createdDate|date("d/m/Y H:i") }}">
                            </div>
                            <div class="col-sm-6 form-group ">
                                <label for=""> Obtention du Diplôme</label>
                                <input class="form-control" disabled value="{{ satisfactionSearch.degreeDate }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                                {% if satisfactionSearch.searchWork==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-form-label col-sm-12"> En recherche d'emploi ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-5">
                                {% if satisfactionSearch.registeredTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Êtes-vous inscrit à une formation ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-7">
                              {% if satisfactionSearch.formationPursuitLastDegree==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Est-ce que cette formation est une poursuite<br>d’études en lien avec votre dernier diplôme ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> Diplôme recherché ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.degree }}">
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> Autre diplôme ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherFormationDegreeName }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label col-sm-12"> Secteur d'activité ?</label>
                                        <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.sectorArea }}">
                                    </div>
                                    <div class="col-sm-12">
                                        <label class="col-form-label col-sm-12"> Autre métier ? </label>
                                        <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherFormationActivityName }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12">
                                    filière choisie ?
                                </label>
                                <textarea class="form-control" disabled style="height: 80px">{{ satisfactionSearch.activities | join('\n')}}</textarea>
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.searchWork==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Cherchez-vous du travail ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-8">
                                <label class="col-form-label col-sm-12"> Pourquoi ? </label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.noSearchWorkReason }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.activeVolunteer==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Travaillez-vous comme volontaire/bénévole ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> Si oui, dans quel domaine ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.sectorAreaVolunteer }}">
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> Metier ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.activityVolunteer }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> Autre domaine ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.otherDomainVolunteer }}">
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> Poste occupé ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobVolunteer }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-4">
                              {% if satisfactionSearch.jobRefuse==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Avez-vous refusé une offre d’emploi<br>depuis la fin de votre formation ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                              {% if satisfactionSearch.jobFromFormation==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                                <label class="col-sm-12 col-form-label"> Avez-vous occupé un emploi<br>depuis la fin de votre formation ?</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" disabled {{ checked }}>
                                    <div class="slider round">
                                        <span class="non">Non</span>
                                        <span class="oui">Oui</span>
                                    </div>
                                </div>
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12"> Si oui, pendant combien de temps ?</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobTime }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12">
                                    Pourquoi, à votre avis, n'avez-vous pas trouvé / retrouvé un travail ?
                                </label>
                                <textarea class="form-control" disabled style="height: 80px">{{ satisfactionSearch.jobNotFoundReasons | join('\n')}}</textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-form-label col-sm-12"> Autre raison</label>
                                <input class="form-control col-sm-12" disabled value="{{ satisfactionSearch.jobNotFoundOther }}">
                            </div>
                        </div>
                        <div class="line-separator"></div>
                    </form>
                    <div class="controls-above-table">
                        <div class="row" id="actions">
                            <div class="col-sm-6">
                                {% if is_granted('ROLE_ADMIN') == true %}
                                    <a class="btn btn-sm btn-primary" href="{{ path('satisfaction_search_edit', {'id': satisfactionSearch.id}) }}">
                                        <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> Modifier</a>
                                {% elseif is_granted('ROLE_DIPLOME') == true%}
                                    <a class="btn btn-sm btn-primary" href="{{ path('front_persondegree_satisfaction_search_edit', {'id': satisfactionSearch.id}) }}">
                                        <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') == true %}
                                    <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('satisfaction_search_delete', {'id': satisfactionSearch.id}) }}')">
                                        <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
