{{ form_widget(form._token) }}
<div class="form-group row">
  <div class="col-sm-5">
    {% if satisfactionCompany.company|length > 0 %}
       {{ 'menu.company' | trans }} :   {{ satisfactionCompany.company}}
    {% endif %}
  </div>
  {%  if app.user.roles|role =="ADMIN" %}
    <div class="col-sm-2">
      Id : {{ satisfactionCompany.id }}
    </div>
  {% endif %}
  <div class="col-sm-5">
    {{ 'menu.created_date' | trans }} : {{ satisfactionCompany.createdDate|date("d/m/Y H:i") }}
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'survey.how_many_employees_do_you_have' | trans }} ?</label>
    {{ form_widget(form.salaryNumber) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.salaryNumber) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'survey.how_many_apprentices_do_you_employ' | trans }} ?</label>
    {{ form_widget(form.apprenticeNumber) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.apprenticeNumber) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'survey.how_many_interns_do_you_employ' | trans }}  ?</label>
    {{ form_widget(form.studentNumber) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.studentNumber) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="">{{ 'survey.what_is_the_sector_of_activity_of_your_workers' | trans }} ?</label>
        {{ form_widget(form.workerSectorArea) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.workerSectorArea) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group hide_flex_otherWorkerJob">
        <label for="">{{ 'survey.other_areas_of_specialization_for_your_workers' | trans }} ?</label>
        {{ form_widget(form.otherWorkerJob) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherWorkerJob) }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-group">
    <label for="">{{ 'survey.what_are_the_occupations_areas_of_specialization_of_your_workers_several_possible_choices' | trans }}</label>
    {{ form_widget(form.workerActivities) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.workerActivities) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="">{{ 'survey.what_is_the_sector_of_activity_of_your_technicians' | trans }} ?</label>
        {{ form_widget(form.technicianSectorArea) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.technicianSectorArea) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group hide_flex_otherTechnicianJob">
        <label for="">{{ 'survey.other_areas_of_specialization_for_your_technicians' | trans }} ?</label>
        {{ form_widget(form.otherTechnicianJob) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherTechnicianJob) }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-group">
    <label for="">{{ 'survey.what_are_the_professions_fields_of_specialization_of_your_technicians_several_possible_choices' | trans }}</label>
    {{ form_widget(form.technicianActivities) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.technicianActivities) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row ">
  <div class="col-sm-12 form-check ">
    <label for=""> {{ 'survey.you_have_just_hired_one_or_more_young_graduates_in_vocational_and_technical_training.are_you_satisfied_with_their_skills_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} ?</label>
  </div>
  <div class="col-sm-12 form-check table_skill">
    {% for child in form.levelSkill %}
      {{ form_widget(child) }}
      {{ form_label(child) }}
      <br />
    {% endfor %}
    {#<div class="help-block form-text with-errors form-control-feedback"></div>#}
  </div>
</div>
<div class="line-separator"></div>
<span>{{ 'survey.indication_evaluation_satisfaction_company_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} :</span>
<div class="table_skill">
  <div class="row table_skill_row">
    <div class="col-sm-4">
      <div class="row"> {{ 'company.general_knowledge' | trans }} </div>
    </div>
    <div class="col-sm-8">
      <div class="row table_skill_checkbox">
        {{ form_widget(form.levelGlobalSkill) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.levelGlobalSkill) }}</div>
      </div>
    </div>
  </div>
  <div class="row table_skill_row">
    <div class="col-sm-4">
      <div class="row"> {{ 'company.technical_skills' | trans }} </div>
    </div>
    <div class="col-sm-8">
      <div class="row table_skill_checkbox">
        {{ form_widget(form.levelTechnicalSkill) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.levelTechnicalSkill) }}</div>
      </div>
    </div>
  </div>
  <div class="row table_skill_row">
    <div class="col-sm-4">
      <div class="row"> {{ 'menu.communication_health_safety_environment' | trans }} </div>
    </div>
    <div class="col-sm-8">
      <div class="row table_skill_checkbox">
        {{ form_widget(form.levelCommunicationHygieneHealthEnvSkill) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.levelCommunicationHygieneHealthEnvSkill) }}</div>
      </div>
    </div>
  </div>
  <div class="row table_skill_row">
    <div class="col-sm-4">
      <div class="row">
        {{ form_widget(form.levelOtherName) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.levelOtherName) }}</div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row table_skill_checkbox">
        {{ form_widget(form.levelOtherSkill) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.levelOtherSkill) }}</div>
      </div>
    </div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row ">
  <div class="col-sm-12 form-check">
    <label for=""> {{ 'company.would_you_be_willing_to_hire_graduates_with_the_same_profile_educational_background_as_the_one_you_hired' | trans }} ?</label>
    {{ form_widget(form.hiringSameProfile) }}
    <div class="slider round">
      <span class="non">{{ 'menu.no' | trans }}</span>
      <span class="oui">{{ 'menu.yes' | trans }}</span>
    </div>
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.hiringSameProfile) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row label_center">
  <div class="col-sm-12 form-check">
    <label for=""> {{ 'company.in_case_of_gaps_would_you_be_willing_to_complete_the_training_of_the_young_person_hired' | trans }} ?</label>
    {{ form_widget(form.completeTraining) }}
    <div class="slider round">
      <span class="non">{{ 'menu.no' | trans }}</span>
      <span class="oui">{{ 'menu.yes' | trans }}</span>
    </div>
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.completeTraining) }}</div>
  </div>
</div>
<div class="hide_flex_completeGlobalTraining">
  <div class="row hide_flex_completeGlobalTraining">
    <div class="col-sm-12 form-group">
      <span><br>{{ 'company.if_yes_for_which_skills' | trans }} ?</span>
    </div>
  </div>
  <table class="complete_skill">
    <tr>
      <td class="complete_skill_marge"></td>
      <td class="complete_skill_title">
        <div class="form-check">
          <label for=""> {{ 'company.general_knowledge' | trans }} : </label>
        </div>
      </td>
      <td class="complete_skill_check">
        <div class="form-check">
          {{ form_widget(form.completeGlobalTraining) }}
          <div class="slider round">
            <span class="non">{{ 'menu.no' | trans }}</span>
            <span class="oui">{{ 'menu.yes' | trans }}</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.completeGlobalTraining) }}</div>
        </div>
      </td>
      <td class="complete_skill_marge"></td>
    </tr>
    <tr>
      <td class="complete_skill_marge"></td>
      <td class="complete_skill_title">
        <div class="form-check">
          <label for=""> {{ 'company.technical_skills' | trans }} : </label>
        </div>
      </td>
      <td class="complete_skill_check">
        <div class="form-check">
          {{ form_widget(form.completeTechnicalTraining) }}
          <div class="slider round">
            <span class="non">{{ 'menu.no' | trans }}</span>
            <span class="oui">{{ 'menu.yes' | trans }}</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.completeTechnicalTraining) }}</div>
        </div>
      </td>
      <td class="complete_skill_marge"></td>
    </tr>
    <tr>
      <td class="complete_skill_marge_left"></td>
      <td class="complete_skill_title">
        <div class="form-check">
          <label for=""> {{ 'menu.communication_health_safety_environment' | trans }} : </label>
        </div>
      </td>
      <td class="complete_skill_check">
        <div class="form-check">
          {{ form_widget(form.completeCommunicationHygieneHealthEnvTraining) }}
          <div class="slider round">
            <span class="non">{{ 'menu.no' | trans }}</span>
            <span class="oui">{{ 'menu.yes' | trans }}</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.completeCommunicationHygieneHealthEnvTraining) }}</div>
        </div>
      </td>
      <td class="complete_skill_marge"></td>
    </tr>
    <tr>
      <td class="complete_skill_marge_left"></td>
      <td class="complete_skill_title">
        <div class="form-check">
          {#<label for=""> Autre </label>#}
          <label for="" id="completeOtherTrainingLabel"><br>Autre Compétence</label>
        </div>
      </td>
      <td class="complete_skill_check">
        <div class="form-check">
          {{ form_widget(form.completeOtherTraining) }}
          <div class="slider round">
            <span class="non">{{ 'menu.no' | trans }}</span>
            <span class="oui">{{ 'menu.yes' | trans }}</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.completeOtherTraining) }}</div>
        </div>
      </td>
      <td class="complete_skill_marge"></td>
    </tr>
  </table>
</div>
<div class="line-separator"></div>
<p>{{ 'company.how_many_people_do_you_expect_to_hire_in_the_next_6_months' | trans }} ?</p>
<div class="row">
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'company.worker_female' | trans }} :</label>
    {{ form_widget(form.hiring6MonthsWorker) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.hiring6MonthsWorker) }}</div>
  </div>
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'company.technician_female' | trans }} :</label>
    {{ form_widget(form.hiring6MonthsTechnician) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.hiring6MonthsTechnician) }}</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'company.apprentice_female' | trans }} :</label>
    {{ form_widget(form.hiring6MonthsApprentice) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.hiring6MonthsApprentice) }}</div>
  </div>
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'company.intern' | trans }} :</label>
    {{ form_widget(form.hiring6MonthsStudent) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.hiring6MonthsStudent) }}</div>
  </div>
</div>
{#<select name="" id="allActivities" style="display: none">#}
  {#{% for activity in allActivities %}#}
    {#<option value="{{ activity.id }}" name="{{ activity.name }}">{{ activity.sectorArea.id }}</option>#}
  {#{% endfor %}#}
{#</select>#}
{{ show_allactivities() }}
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonSatisfactionCompany" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" id="submitSatisfactionCompany" hidden="hidden"> {{ 'menu.validate' | trans }} </button>
</div>
