{% extends 'satisfactioncompany/content.html.twig' %}

{% block body %}
<div class="content-i">
  <div class="content-box" style="display: table; width: 100%">
    {# Tableau 1 #}
    <div class="element-wrapper">
      <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
      <h6 class="element-header">
        {{ 'menu.detail' | trans }}
        <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactioncompany_new' | route_company) }}">
          <i class="fa fa-plus"></i> {{ 'survey.add_a_company_satisfaction' | trans }}
        </a>
        <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('satisfactioncompany_index' | route_company) }}">
          <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
        </a>
      </h6>
      <div class="element-box form-show">
        <form>
          <div class="row">
            <div class="col-sm-7 form-group">
              <label for=""> {{ 'menu.company' | trans }} :</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.company }}">
            </div>
            <div class="col-sm-5 form-group">
              <label for=""> {{ 'menu.created_date' | trans }} </label>
              <input class="form-control" disabled value="{{ satisfactionCompany.createdDate|date("m/d/Y H:i") }}">
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label for=""> {{ 'survey.how_many_employees_do_you_have' | trans }} ?</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.salaryNumber | trans }}">
            </div>
            <div class="col-sm-4 form-group">
              <label for=""> {{ 'survey.how_many_apprentices_do_you_employ' | trans }} ?</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.apprenticeNumber | trans }}">
            </div>
            <div class="col-sm-4 form-group">
              <label for=""> {{ 'survey.how_many_interns_do_you_employ' | trans }}  ?</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.studentNumber | trans }}">
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label for="">{{ 'survey.what_is_the_sector_of_activity_of_your_workers' | trans }} ?</label>
                  <input class="form-control" disabled value="{{ satisfactionCompany.workerSectorArea }}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group hide_flex_otherWorkerJob">
                  <label for="">{{ 'survey.other_areas_of_specialization_for_your_workers' | trans }} ?</label>
                  <input class="form-control" disabled value="{{ satisfactionCompany.otherWorkerJob }}">
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label for="">{{ 'survey.what_are_the_trades_areas_of_specialization_of_your_workers' | trans }} ?</label>
              <textarea class="form-control" disabled >{{ satisfactionCompany.workerActivities | join('\n')}}</textarea>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label for="">{{ 'survey.what_are_the_areas_of_specialization_of_your_technicians' | trans }} ?</label>
                  <input class="form-control" disabled value="{{ satisfactionCompany.technicianSectorArea }}">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group hide_flex_otherTechnicianJob">
                  <label for="">{{ 'survey.other_areas_of_specialization_for_your_technicians' | trans }} ?</label>
                  <input class="form-control" disabled value="{{ satisfactionCompany.otherTechnicianJob }}">
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label for="">{{ 'survey.what_are_the_professions_fields_of_specialization_of_your_technicians' | trans }} ?</label>
              {#<input class="form-control" disabled value="{{ satisfactionCompany.technicianActivities }}">#}
              <textarea class="form-control" disabled >{{ satisfactionCompany.technicianActivities | join('\n')}}</textarea>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row ">
            <div class="col-sm-12">
              <label for=""> {{ 'survey.you_have_just_hired_one_or_more_young_graduates_in_vocational_and_technical_training.are_you_satisfied_with_their_skills_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} ?</label>
            {#</div>#}
            {#<div class="col-sm-12 form-check ">#}
              {#{{ satisfactionCompany.levelSkill }}#}
              <input class="form-control" disabled value="{{ satisfactionCompany.levelSkill | trans }}">
            </div>
          </div>
          <div class="line-separator"></div>
          <span>{{ 'survey.indication_evaluation_satisfaction_company_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} :</span>
          <div class="table_skill">
            <div class="row table_skill_row">
              <div class="col-sm-4">
                <div class="row"> {{ 'company.general_knowledge' | trans }} </div>
              </div>
              <div class="col-sm-8">
                <div class="row table_skill_checkbox">
                  <input class="form-control" disabled value="{{ satisfactionCompany.levelGlobalSkill }}">
                </div>
              </div>
            </div>
            <div class="row table_skill_row">
              <div class="col-sm-4">
                <div class="row"> {{ 'company.technical_skills' | trans }} </div>
              </div>
              <div class="col-sm-8">
                <div class="row table_skill_checkbox">
                  <input class="form-control" disabled value="{{ satisfactionCompany.levelTechnicalSkill }}">
                </div>
              </div>
            </div>
            <div class="row table_skill_row">
              <div class="col-sm-4">
                <div class="row"> {{ 'menu.communication_health_safety_environment' | trans }} </div>
              </div>
              <div class="col-sm-8">
                <div class="row table_skill_checkbox">
                  <input class="form-control" disabled value="{{ satisfactionCompany.levelCommunicationHygieneHealthEnvSkill }}">
                </div>
              </div>
            </div>
            <div class="row table_skill_row">
              <div class="col-sm-4">
                <div class="row">
                  <input class="form-control" disabled value="{{ satisfactionCompany.levelOtherName }}">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="row table_skill_checkbox">
                  <input class="form-control" disabled value="{{ satisfactionCompany.levelOtherSkill }}">
                </div>
              </div>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row ">
            <div class="col-sm-12 form-check">
              <label for=""> {{ 'company.would_you_be_willing_to_hire_graduates_with_the_same_profile_educational_background_as_the_one_you_hired' | trans }} ?</label>
              {#<input class="form-control" disabled value="{{ satisfactionCompany.hiringSameProfile }}">#}
              <div class="col-sm-12">
                {% if satisfactionCompany.hiringSameProfile==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                <input style="display: none" type="checkbox" class="form-control" disabled {{ checked }}>
                <div class="slider round">
                  <span class="non">{{ 'menu.no' | trans }}</span>
                  <span class="oui">{{ 'menu.yes' | trans }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row label_center">
            <div class="col-sm-12 form-check">
              <label for=""> {{ 'company.in_case_of_gaps_would_you_be_willing_to_complete_the_training_of_the_young_person_hired' | trans }} ?</label>
              <div class="col-sm-12">
                {% if satisfactionCompany.completeTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                <input style="display: none" id="completeTraining" type="checkbox" class="form-control" disabled {{ checked }}>
                <div class="slider round">
                  <span class="non">{{ 'menu.no' | trans }}</span>
                  <span class="oui">{{ 'menu.yes' | trans }}</span>
                </div>
              </div>
            </div>
          </div>
          <div style="display: none" id="detailGlobalTraining" class="testhide_flex_completeGlobalTraining">
            <div class="row testhide_flex_completeGlobalTraining">
              <div class="col-sm-12 form-group">
                <span><br>{{ 'company.if_yes_for_which_skills' | trans }} ?</span>
              </div>
            </div>
            <table class="complete_skill">
              <tr>
                <td class="complete_skill_marge"></td>
                <td class="complete_skill_title">
                  <div class="form-check">
                    <label for=""> {{ 'company.general_knowledge' | trans }} : </label>
                  </div>
                </td>
                <td class="complete_skill_check">
                  <div class="form-check">
                    {% if satisfactionCompany.completeGlobalTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                    <input style="display: none" type="checkbox" class="form-control" disabled {{ checked }}>
                    <div class="slider round">
                      <span class="non">{{ 'menu.no' | trans }}</span>
                      <span class="oui">{{ 'menu.yes' | trans }}</span>
                    </div>
                  </div>
                </td>
                <td class="complete_skill_marge"></td>
              </tr>
              <tr>
                <td class="complete_skill_marge"></td>
                <td class="complete_skill_title">
                  <div class="form-check">
                    <label for=""> {{ 'company.technical_skills' | trans }} : </label>
                  </div>
                </td>
                <td class="complete_skill_check">
                  <div class="form-check">
                    {% if satisfactionCompany.completeTechnicalTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                    <input style="display: none" type="checkbox" class="form-control" disabled {{ checked }}>
                    <div class="slider round">
                      <span class="non">{{ 'menu.no' | trans }}</span>
                      <span class="oui">{{ 'menu.yes' | trans }}</span>
                    </div>
                  </div>
                </td>
                <td class="complete_skill_marge"></td>
              </tr>
              <tr>
                <td class="complete_skill_marge_left"></td>
                <td class="complete_skill_title">
                  <div class="form-check">
                    <label for=""> {{ 'menu.communication_health_safety_environment' | trans }} : </label>
                  </div>
                </td>
                <td class="complete_skill_check">
                  <div class="form-check">
                    {% if satisfactionCompany.completeCommunicationHygieneHealthEnvTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                    <input style="display: none" type="checkbox" class="form-control" disabled {{ checked }}>
                    <div class="slider round">
                      <span class="non">{{ 'menu.no' | trans }}</span>
                      <span class="oui">{{ 'menu.yes' | trans }}</span>
                    </div>
                  </div>
                </td>
                <td class="complete_skill_marge"></td>
              </tr>
              <tr>
                <td class="complete_skill_marge_left"></td>
                <td class="complete_skill_title">
                  <div class="form-check">
                    {#<label for=""> Autre </label>#}
                    <label for="" id="completeOtherTrainingLabel"><br>Autre Compétence</label>
                  </div>
                </td>
                <td class="complete_skill_check">
                  <div class="form-check">
                    {% if satisfactionCompany.completeOtherTraining == true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                    <input style="display: none" type="checkbox" class="form-control" disabled {{ checked }}>
                    <div class="slider round">
                      <span class="non">{{ 'menu.no' | trans }}</span>
                      <span class="oui">{{ 'menu.yes' | trans }}</span>
                    </div>
                  </div>
                </td>
                <td class="complete_skill_marge"></td>
              </tr>
            </table>
          </div>
          <div class="line-separator"></div>
          <p>{{ 'company.how_many_people_do_you_expect_to_hire_in_the_next_6_months' | trans }} ?</p>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for=""> {{ 'company.worker_female' | trans }} :</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.hiring6MonthsWorker | trans }}">
            </div>
            <div class="col-sm-6 form-group">
              <label for=""> {{ 'company.technician_female' | trans }} :</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.hiring6MonthsTechnician | trans }}">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label for=""> {{ 'company.apprentice_female' | trans }} :</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.hiring6MonthsApprentice | trans }}">
            </div>
            <div class="col-sm-6 form-group">
              <label for=""> {{ 'company.intern' | trans }} :</label>
              <input class="form-control" disabled value="{{ satisfactionCompany.hiring6MonthsStudent | trans }}">
            </div>
          </div>
        </form>
        <div class="line-separator"></div>
        <div class="controls-above-table">
          <div class="row" id="actions">
            <div class="col-sm-6">
              {% if is_granted('ROLE_ADMIN') == true %}
                <a class="btn btn-sm btn-primary" href="{{ path('satisfactioncompany_edit', {'id': satisfactionCompany.id}) }}">
                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
              {% elseif is_granted('ROLE_ENTREPRISE') == true%}
                <a class="btn btn-sm btn-primary" href="{{ path('front_company_satisfactioncompany_edit', {'id': satisfactionCompany.id}) }}">
                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
              {% endif %}

              {% if is_granted('ROLE_ADMIN') == true %}
                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('satisfactioncompany_delete', {'id': satisfactionCompany.id}) }}')">
                  <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  if($("#completeTraining").prop('checked') != '') {
     $("#detailGlobalTraining").show();
  } else {
     $("#detailGlobalTraining").hide();
  }
</script>
{% endblock %}
