{{ form_widget(form._token) }}
<div class="form-group">
  <label for=""> {{ 'menu.label' | trans }} </label>
  {{ form_widget(form.name) }}
  <div class="help-block form-text with-errors form-control-feedback"></div>
</div>
<div class="form-group">
  <label for=""> {{ 'menu.description' | trans }} </label>
  {{ form_widget(form.description) }}
  <div class="help-block form-text with-errors form-control-feedback"></div>
</div>
<div class="form-group">
  <label for=""> {{ 'menu.level' | trans }}</label>
  {{ form_widget(form.level) }}
</div>
{#<div class="form-group">#}
  {#<label for=""> Metier</label>#}
  {#{{ form_widget(form.activity) }}#}
{#</div>#}
<div class="form-buttons-w">
  <button class="btn btn-primary" type="submit"> {{ 'menu.validate' | trans }} </button>
</div>
