{% extends 'degree/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/certificate.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Liste des Diplômes
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary" href="#">Archiver</a>
                                <a class="btn btn-sm btn-primary" href="{{ path('degree_new') }}">
                                    <i class="fa fa-plus"></i> Ajouter un diplôme</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th>Id</th>
                                <th>Intitulé</th>
                                <th>Métier</th>
                                <th>Niveau</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for degree in degrees %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('degree_edit', { 'id': degree.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('degree_show', { 'id': degree.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" onclick="deleteElement('{{ path('degree_delete', {'id': degree.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td>
                                    <td><a href="{{ path('degree_show', { 'id': degree.id }) }}">{{ degree.id }}</a></td>
                                    <td>{{ degree.name }}</td>
                                    <td>{% if degree.activity is not null %}{{ degree.activity.name }}{% endif %}</td>
                                    <td>{{ degree.level }}</td>
                                    <td>{{ degree.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

    <script type="application/javascript">
       makeSelected('degree')
    </script>
{% endblock %}
