{{ form_widget(form._token) }}
<div class="form-group row">
  <div class="col-sm-8">
    {{ 'menu.graduate' | trans }} :   {{ satisfactionSalary.personDegree }}
  </div>
  {%  if app.user.roles|role =="ADMIN" %}
    <div class="col-sm-2">
      Id : {{ satisfactionSalary.id }}
    </div>
  {% endif %}
</div>
<div class="form-group row">
  <div class="col-sm-6">
    {{ 'menu.created_date' | trans }} : {{ satisfactionSalary.createdDate|date("d/m/Y H:i") }}
  </div>
  <div class="col-sm-6">
    {{ 'graduate.obtaining_the_diploma' | trans }} : {{ satisfactionSalary.degreeDate }}
  </div>
</div>
{#<p>{{ selectedCountry }}</p>#}
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'job.type_of_employment_contract' | trans }} * </label>
    {{ form_widget(form.contract) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.contract) }}</div>
  </div>
  <div class="col-sm-6 form-group hide_block_other_contract">
    <label for=""> {{ 'menu.other_type' | trans }}</label>
    {{ form_widget(form.otherContract) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherContract) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'graduate.your_pay_per_month' | trans }} * </label>
    {{ form_widget(form.monthlySalary) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.monthlySalary) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'graduate.your_pay_per_month' | trans }} </label>
    {{ form_widget(form.daylySalary) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.daylySalary) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for="">   {{ 'menu.currency' | trans }}  *</label>
    {{ form_widget(form.currency) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.currency) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'menu.text_filter' | trans }}</label>
    <input class="form-control" id="searchCompany">
  </div>
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'graduate.search_for_the_company_that_employs_you' | trans }}</label>
    {{ form_widget(form.company) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.company) }}</div>
  </div>
  <div class="col-sm-2 form-group">
    <label for=""> <br></label>
    <input class="form-check" type="button" id="validCompany" value="Valider">
  </div>
</div>
<div class="row">
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'graduate.name_of_the_company_that_employs_you' | trans }} *</label>
    {{ form_widget(form.companyName) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.companyName) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'menu.phone_country_code_number' | trans }} *</label>
    {{ form_widget(form.companyPhone) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.companyPhone) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for="">   {{ 'city.city_nearest' | trans }}  *</label>
    {{ form_widget(form.companyCity) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.companyCity) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'graduate.you_have_been_employed_for' | trans }} *</label>
    {{ form_widget(form.jobTime) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobTime) }}</div>
  </div>
  <div class="col-sm-6 form-check">
    <label for=""> {{ 'graduate.number_of_working_hours_per_day' | trans }} *</label>
    {{ form_widget(form.workHoursPerDay) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.workHoursPerDay) }}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'menu.field_of_activity' | trans }} *</label>
    {{ create_translated_select(form.sectorArea) }}
{#    {{ form_widget(form.sectorArea) }}#}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
  </div>
  <div class="col-sm-4 form-group">
    <label for=""> {{ 'menu.job' | trans }} / {{ 'menu.branch' | trans }} *</label>
    {{ form_widget(form.activity) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activity) }}</div>
  </div>
  <div class="col-sm-4 form-group hide_flex_otherActivityName">
    <label for=""> {{ 'menu.other_trade' | trans }}</label>
    {{ form_widget(form.otherActivityName) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activity) }}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'menu.position_held' | trans }} *</label>
    {{ form_widget(form.jobStatus) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobStatus) }}</div>
  </div>
  <div class="col-sm-6 form-group hide_block_jobName">
    <label for=""> {{ 'menu.other_position_held' | trans }} ?</label>
    {{ form_widget(form.jobName) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobName) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6 form-check">
    <label for=""> {{ 'graduate.has_your_professional_training_been_useful_for_the_job_you_do_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} ?</label>
    {{ form_widget(form.trainingSatisfied) }}
    <div class="slider round">
      <span class="non">{{ 'menu.no' | trans }}</span>
      <span class="oui">{{ 'menu.yes' | trans }}</span>
    </div>
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.trainingSatisfied) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row hide_flex_jobNotFound">
  <div class="col-sm-12 form-group">
    <label for=""> {{ 'graduate.if_you_are_working_in_a_job_that_is_not_related_to_your_degree_it_is_because_several_possible_choices' | trans({'%tag_br%': '<br/>'}) | raw }}</label>
    {{ form_widget(form.jobNotFoundReasons) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobNotFoundReasons) }}</div>
  </div>
  <div class="col-sm-12 form-group hide_flex_jobNotFoundOther">
    <label for="">{{ 'menu.other_reason' | trans }} </label>
    {{ form_widget(form.jobNotFoundOther) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobNotFoundOther) }}</div>
  </div>
</div>
{#<select name="" id="allActivities" style="display: none">#}
  {#{% for activity in allActivities %}#}
    {#<option value="{{ activity.id }}" name="{{ activity.name }}">{{ activity.sectorArea.id }}</option>#}
  {#{% endfor %}#}
{#</select>#}
{{ show_allactivities() }}
<div><span><br>* :  {{ 'menu.required_field' | trans }} </span></div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonSatisfactionSalary" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" id="submitSatisfactionSalary" hidden="hidden" > {{ 'menu.validate' | trans }} </button>
</div>
