{% extends 'satisfactionsalary/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">{{ 'survey.list_of_insertion_surveys_graduates_in_employment' | trans }}</h6>
                <div class="element-box">
                    {%  if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>

                                {%  if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                                  <th><div><span>N°</span></div></th>
                                  <th><div><span> {{ 'menu.name' | trans }} </span></div></th>
                                  <th><div><span>{{ 'menu.phone_abr' | trans }}.</span></div></th>
                                {% endif %}

                                <th><div><span>{{ 'menu.created_date_with_tag' | trans({'%tag_br%': '<br/>'})}}</span></div></th>
                                <th><div><span>{{ 'menu.updated_date_with_tag' | trans({'%tag_br%': '<br/>'})}}</span></div></th>

                                <th><div><span>{{ 'company.name_of_the_company_with_tag' | trans({'%tag_br%': '<br/>'})}}</span></div></th>
                                <th><div><span>{{ 'menu.work_satisfactory_with_tag' | trans({'%tag_br%': '<br/>'})}} ?</span></div></th>
                                <th><div><span>{{ 'menu.training_satisfactory_with_tag' | trans({'%tag_br%': '<br/>'})}} ?</span></div></th>
                                <th><div><span>{{ 'job.type_of_contract' | trans }}</span></div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set rowNumber = 0 %}
                            {% for satisfaction in satisfactionSalaries %}
                                {% set rowNumber = rowNumber+1 %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('satisfactionsalary_edit' | route_persondegree, { 'id': satisfaction.id }) }}"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('satisfactionsalary_show' | route_persondegree, { 'id': satisfaction.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        {%  if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                                            <a class="danger" onclick="deleteElement('{{ path('satisfactionsalary_delete', {'id': satisfaction.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        {% endif %}
                                    </td>

                                    {%  if app.user.roles|role!="ENTREPRISE" and app.user.roles|role!="DIPLOME" %}
                                      <td>{{ rowNumber }}</td>
                                      <td>{{ satisfaction.personDegree }}</td>
                                      <td>{{ satisfaction.personDegree.phoneMobile1 }}</td>
                                    {% endif %}

                                    <td>{{ satisfaction.createdDate|date('d M Y H:i') }}</td>
                                    <td>{{ satisfaction.updatedDate|date('d M Y H:i') }}</td>

                                    <td>{{ satisfaction.companyName }}</td>
                                    {% if satisfaction.jobSatisfied %}
                                        <td>{{ 'menu.yes' | trans }}</td>
                                    {% else %}
                                        <td>{{ 'menu.no' | trans }}</td>
                                    {% endif %}
                                    {% if satisfaction.trainingSatisfied %}
                                      <td>{{ 'menu.yes' | trans }}</td>
                                    {% else %}
                                      <td>{{ 'menu.no' | trans }}</td>
                                    {% endif %}
                                    <td>{{ satisfaction.contract }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% endblock %}
