{% extends 'satisfactionsalary/content.html.twig' %}

{% block body %}
<div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
        <div class="element-wrapper">
            <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
            <h6 class="element-header">
                {{ 'menu.detail' | trans }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactionsalary_new'| route_persondegree) }}">
                        <i class="fa fa-plus"></i> {{ 'survey.add_an_insertion_survey_graduate_in_employment' | trans }}
                    </a>
                {% endif %}
                <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('satisfactionsalary_index'| route_persondegree) }}">
                    <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                </a>
            </h6>
            <div class="element-box form-show">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="col-form-label col-sm-12">
                            {{ 'menu.graduate' | trans }} :
                            <input class="form-control" disabled value="{{ satisfactionSalary.personDegree }}">
                        </label>
                    </div>
                  {%  if app.user.roles|role =="ADMIN" %}
                      <div class="col-sm-4">
                          <label class="col-form-label col-sm-12">
                              Id :
                              <input class="form-control" disabled value="{{ satisfactionSalary.id }}">
                          </label>
                      </div>
                  {% endif %}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-form-label col-sm-12">
                            {{ 'menu.created_date' | trans }} :
                            <input class="form-control" disabled value="{{ satisfactionSalary.createdDate|date("d/m/Y H:i") }}">
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-sm-12">
                            {{ 'graduate.obtaining_the_diploma' | trans }} :
                            <input class="form-control" disabled value="{{ satisfactionSalary.degreeDate }}">
                        </label>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for=""> {{ 'job.type_of_employment_contract' | trans }} </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.contract  | trans}}">
                    </div>
                    <div class="col-sm-6 form-group hide_block_other_contract">
                        <label for=""> {{ 'menu.other_type' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.otherContract }}">
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'graduate.your_pay_per_month' | trans }} </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.monthlySalary }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'graduate.your_pay_per_day' | trans }} </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.daylySalary }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="">   {{ 'menu.currency' | trans }}  </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.currency }}">
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'graduate.name_of_the_company_that_employs_you' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.companyName }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'menu.phone_country_code_number' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.companyPhone }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="">   {{ 'city.city_nearest' | trans }} </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.companyCity }}">
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for=""> {{ 'graduate.you_have_been_employed_for' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.jobTime }}">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for=""> {{ 'graduate.number_of_working_hours_per_day' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.workHoursPerDay }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'menu.field_of_activity' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.sectorArea | trans }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for=""> {{ 'menu.job' | trans }} / {{ 'menu.branch' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.activity | trans }}">
                    </div>
                    <div class="col-sm-4 form-group hide_flex_otherActivityName">
                        <label for=""> {{ 'menu.other_trade' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.otherActivityName }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for=""> {{ 'menu.position_held' | trans }}</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.jobStatus }}">
                    </div>
                    <div class="col-sm-6 form-group hide_block_jobName">
                        <label for=""> {{ 'menu.other_position_held' | trans }} ?</label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.jobName }}">
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-6 form-check">
                      {% if satisfactionSalary.trainingSatisfied==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
                        <label class="col-sm-12 col-form-label"> {{ 'survey.are_you_satisfied_with_your_training' | trans }} ?</label>
                        <div class="col-sm-12">
                            <input hidden type="checkbox" class="form-control" disabled {{ checked }}>
                            <div class="slider round">
                                <span class="non">{{ 'menu.no' | trans }}</span>
                                <span class="oui">{{ 'menu.yes' | trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for=""> {{ 'survey.if_you_are_working_in_a_job_that_is_not_related_to_your_degree_it_is_because_several_possible_choices' | trans({'%tag_br%': '<br/>'}) | raw }}</label>
                        <textarea class="form-control" disabled style="height: 80px">{{ satisfactionSalary.jobNotFoundReasons | join('\n')}}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="">{{ 'menu.other_reason' | trans }} </label>
                        <input class="form-control" disabled value="{{ satisfactionSalary.jobNotFoundOther }}">
                    </div>
                </div>
                <div class="line-separator"></div>
                <div class="controls-above-table">
                    <div class="row" id="actions">
                        <div class="col-sm-6">
                           {% if is_granted('ROLE_ADMIN') == true %}
                              <a class="btn btn-sm btn-primary" href="{{ path('satisfactionsalary_edit', {'id': satisfactionSalary.id}) }}">
                                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                           {% elseif is_granted('ROLE_DIPLOME') == true%}
                              <a class="btn btn-sm btn-primary" href="{{ path('front_persondegree_satisfactionsalary_edit', {'id': satisfactionSalary.id}) }}">
                                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                           {% endif %}

                           {% if is_granted('ROLE_ADMIN') == true %}
                              <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('satisfactionsalary_delete', {'id': satisfactionSalary.id}) }}')">
                                <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
                           {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
