{% if is_granted('ROLE_ADMIN') == true %} {% set base = 'base.html.twig' %}
{% elseif is_granted('ROLE_ENTREPRISE') == true %} {% set base = 'base_company.html.twig' %}
{% elseif is_granted('ROLE_DIPLOME') == true %} {% set base = 'base_degree.html.twig' %}
{% elseif is_granted('ROLE_ETABLISSEMENT') == true %} {% set base = 'base_school.html.twig' %}
{% elseif is_granted('ROLE_LEGISLATEUR') == true %} {% set base = 'base_legislator.html.twig' %}
{% else %} {% set base = 'base.html.twig' %}
{% endif %}

{% extends base %}

{% block title %}AppBundle:Nettoyage:index{% endblock %}

{% block body %}
   <div class="content-i">
      <div class="content-box form-global">
         {# Tableau 1 #}
         <div class="element-wrapper">

            <img src="{{ asset('build/images/icon/purge.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
            <h6 class="element-header"> Nettoyage </h6>

            <div class="element-box">

               <fieldset>
                  <legend><span>{{ 'Acteurs' | trans}}</span></legend>
                  <div class="row align-items-end">
                     <div class="form-group col-sm-4">
                        <label for=""> {{ 'Selectionnez votre pays ' | trans }}</label>
                        <select id="selectCountry" name="selectCountry" class="form-control form-control-sm select-dashboard rounded">
                           <option value="">{{ 'Selectionnez' | trans }}</option>
                           {% for country in countries %}
                              {% if country.id == idSelectedCountry %}
                                 <option selected value="{{ country.id }}">{{ country.name }}</option>
                              {% else %}
                                 <option value="{{ country.id }}">{{ country.name }}</option>
                              {% endif %}
                           {% endfor %}
                        </select>
                     </div>

                     <div class="form-group col-sm-4">
                        <label for=""> {{ 'Saisissez le début du numéro ' | trans }}</label>
                        <input type="input" name="userPhone" id="userPhone" value="" class="form-control form-control-sm input-dashboard rounded">
                     </div>
                     <div class="form-group col-sm-4">
                        <button class="btn btn-sm btn-primary" id="findUser" onclick="findUser()">Rechercher les comptes à purger</button>
   {#                     <button type="button" id="findUser" class="btn btn-primary btn-dashboard rounded" >Rechercher les comptes à purger</button>#}
                     </div>
                  </div>
                  <div class="purge row align-items-end"  style="position: relative">
                     <div class="kz_loader">chargement de la table</div>
                     <div class="table-responsive">
                        <table id="kz_table" class="table table-bordered dt-responsive nowrap" style="width:100%">
                           <thead>
                           <tr>
                              <th class="no-print selection">Selection</th>
                              <th>Id</th>
                              <th>Numéro</th>
                              <th>Type</th>
                           </tr>
                           </thead>
                           <tbody id="tbodyUser">

                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="execute">
                     <button class="btn btn-sm btn-primary" id="selectAll" onclick="selectAll()">Tout Selectionner</button>
                     <button class="btn btn-sm btn-primary" id="removeSelectedl" onclick="removeSelectedl()">Supprimer</button>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
      <select hidden id="countryNumber">
         {% for country in countries %}
            {% if country.id == idSelectedCountry %}
               <option selected value="{{ country.id }}">{{ country.phoneCode }}</option>
            {% else %}
               <option value="{{ country.id }}">{{ country.phoneCode }}</option>
            {% endif %}
         {% endfor %}
      </select>
      <select hidden id="countryDigit">
         {% for country in countries %}
            {% if country.id == idSelectedCountry %}
               <option selected value="{{ country.id }}">{{ country.phoneDigit }}</option>
            {% else %}
               <option value="{{ country.id }}">{{ country.phoneDigit }}</option>
            {% endif %}
         {% endfor %}
      </select>
   </div>
{% endblock %}

{% block js %}
   <script>
      /* set $locationRef pourles appels Ajax */
      /* ------------------------------------ */
      let dirs = window.location.href.split('/');
      let $locationRef = "";
      for (let i = 0; i < dirs.length - 1; i++)
         $locationRef += dirs[i] + '/';

      function selectAll() {
         if($('.userCheck').first().is(':checked')) {
            $('.userCheck').prop('checked', false);
         } else {
            $('.userCheck').prop('checked', true);
         }
      }

      function removeSelectedl() {
         let nbUsers = 0;
         let struser = "";
         $('.userCheck').each(function () {
            if($(this).is(':checked')) {
               if(nbUsers>0)
                  struser+=',';
               struser += $(this).attr('id');
               nbUsers++;
            }
         });
         if(nbUsers > 0)
            if(confirm("Voulez vous supprimer ces "+ nbUsers + " Utilisateurs ?")) {
               datas = new Object();
               datas['ids'] = struser;

               $.get($locationRef + 'removeActors/', datas).done(function (res) {
                  console.log("nb erreurs " + res[1].length);
                  if(res[1].length>0) {
                     console.log("erreurs rencontrées " + res[1]);
                     alert(res[1]);
                  } else {
                     console.log("suppression des users : "+ res[0]);
                     res[0].forEach(function (id) {
                        //console.log("  --> " + id);
                        $('#'+ id).parents('tr').remove().draw();
                     })
                  }
               })
               // })
            }
      }
      function findUser() {
         /* appel ajax en get pour sauvegarder le Diplômé */
         /* --------------------------------------------- */
         let datas = []
         datas = new Object();
         datas['userPhone'] = $("#userPhone").val();
         //alert(datas['userPhone']);
         $('.kz_loader').css("display", "flex");

         $.get($locationRef + 'findActor/', datas).done(function (res) {

            $('#kz_table').DataTable().clear();
            $('#kz_table').DataTable().destroy();
            res.forEach(function (user) {
               // console.log(user.name);
               let html = '<tr class="userClean" role="row">';
               html += '    <td class="row-actions sorting_1">';
               // html += '    <div class="checkbox-inline" style="text-align:center;">';
               html += '       <input style="opacity: 1.0; margin: auto; transform: none" type="checkbox" class="userCheck" id="' + user.id + '" >';
               // html += '    </div>';
               html += '    </td>';
               html += '    <td class="tdinput"><p id="p_id'+ user.id + '"></p>'+ user.id+ '</td>';
               html += '    <td class="tdinput"><p id="p_name'+ user.id + '"></p>'+ user.name+ '</td>';
               html += '    <td class="tdinput"><p id="p_type'+ user.id + '"></p>'+ user.type+ '</td>';
               html += '</tr>';
               $('#tbodyUser').append(html);
               $('.kz_loader').css("display", "none")
            })

            $("#kz_table").dataTable().draw();
            $('#kz_table').dataTable({
               'columnDefs': [
                  {'max-width': '10%', 'selection': 0}
               ],
            });

            //console.log (res );

         }, "json");
      }

      $('#selectCountry').change(function () {
         let countryId = $(this).val();
         let countryNumber = '';

         $('#countryNumber option').each(function () {
            if( $(this).val() == countryId) {
               countryNumber = $(this).text();
               console.log(countryNumber + " " + countryNumber.length)
            }
         })

         $('#countryDigit option').each(function () {
            if( $(this).val() == countryId) {
               let sizeOfPhone = ('+' +  countryNumber).length + parseInt($(this).text());
               console.log('sizeOfPhone = ' + sizeOfPhone);

               /* contraint le nombre de numéros par rapport au nombre de digits du pays */
               $('#userPhone').attr('size',sizeOfPhone);
               $('#userPhone').attr('maxlength',sizeOfPhone);
               $('#userPhone').val('+' + countryNumber);
            }
         })
      })

      /* force la saisie en numérique */
      $(function(){
         $("#userPhone").keypress(function (e) {
            if (e!=undefined && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               $("#errmsg").html("Number Only").stop().show().fadeOut("slow");
               return false;
            }
         });
      });
   </script>
{% endblock %}
