{% extends 'jobOffer/content.html.twig' %}

{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/job.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
        <h6 class="element-header">
          {{ 'job.details_of_the_offer' | trans }}  {{ jobOffer.id }}
{#          {%  if app.user.roles|role == "Administrateur" or app.user.roles|role == "Entreprise" %}#}
          {%  if app.user.roles|role == "Administrateur" %}
            <a class="btn btn-sm btn-primary float-right" href="{{ path('jobOffer_new') }}">
              <i class="fa fa-plus"></i> {{ 'job.add_a_job_offer' | trans }}
            </a>
            <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('jobOffer_index') }}">
              <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
            </a>
          {% elseif app.user.roles|role == "Entreprise"%}
            <a class="btn btn-sm btn-primary float-right" href="{{ path('front_company_jobOffer_new') }}">
              <i class="fa fa-plus"></i> {{ 'job.add_a_job_offer' | trans }}
            </a>
            <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('front_company_jobOffer_index') }}">
              <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
            </a>
          {% endif %}
        </h6>
        <div class="element-box jobOffer">
          <div class="form-group row jobOfferBanner">
            {% if jobOffer.company and jobOffer.company.logo is not null %}
              <img src="{#{ jobOffer.company.logo }#}" alt="Logo entreprise">
            {%  else %}
            {% if imageName is not null %}
                {% set filepath = 'uploads/avatars/' ~ imageName %}
            {% else %}
                {% set filepath = 'build/images/pinsuprem/logo_ifef.jpg' %}
            {% endif %}
              <img src="{{ asset(filepath) }}" alt="Logo ifef">
            {% endif %}
            <span>{{ 'menu.job_offer' | trans }}</span>
          </div>
          <div class="form-group row jobOfferTitle">
            <h2>{{ jobOffer.title }}</h2>
          </div>
          <div class="form-group row jobOfferDates">
            <p class="col-sm-12">{{ 'job.published_on' | trans }}  {{ jobOffer.createdDate|date('d/m/Y') }}</p>
            {%  if jobOffer.updatedDate > jobOffer.createdDate %}
              <p class="col-sm-12">{{ 'job.updated_on' | trans }}  {{ jobOffer.updatedDate|date('d/m/Y') }}</p>
            {% endif %}
            {#%  if jobOffer.closedDate > jobOffer.createdDate %#}
            <p class="col-sm-12">{{ 'menu.expires_on' | trans }} {{ jobOffer.closedDate }}</p>
            {#% endif %#}
            <p class="col-sm-12">{{ 'job.type_of_contract' | trans }} : {{ jobOffer.contract }}</p>
            {% if jobOffer.otherCity %}
              <p class="col-sm-12">{{ 'menu.localization' | trans }} : {{ jobOffer.country }}-{{ jobOffer.otherCity }}</p>
            {% else %}
              <p class="col-sm-12">{{ 'menu.localization' | trans }} : {{ jobOffer.country }}-{{ jobOffer.city.name }}</p>
            {% endif %}
          </div>

          <div class="form-group row jobOfferCompanyName">
            {% if jobOffer.company is not null %}
              <a href="https://{{ jobOffer.company.url }}">
                <h2 class="col-form-label col-sm-12">{{ jobOffer.company.name }}</h2>
              </a>
            {% else %}
              <h2 class="col-form-label col-sm-12">{{ 'menu.establishment' | trans }} - {{ jobOffer.school.name }}</h2>
            {% endif %}
          </div>

          <div class="row">
            <fieldset class="col-form-label col-sm-6">
              {% if jobOffer.company is not null %}
                <legend>
                  <span>{{ 'job.description_of_the_company' | trans }} </span>
                </legend>
                <div class="form-group row ">
                  <p class="col-sm-12">{{ jobOffer.company.sectorArea }}</p>
                </div>
              {% else %}
                <legend>
                  <span>{{ 'job.description_of_the_school' | trans }} </span>
                </legend>
                <div class="form-group row ">
                  <p class="col-sm-12">{{ jobOffer.school.description }}</p>
                </div>
              {% endif %}
            </fieldset>
            <fieldset class="col-form-label col-sm-6">
              <legend>
                <span> {{ 'job.job_description' | trans }}  </span>
              </legend>
                <div class="form-group row ">
                    <p class="col-sm-12">{{ jobOffer.description | raw }}</p>
                    <p class="col-sm-12">
                        {% if jobOffer.filename is not null %}
                            {% set filepath = 'uploads/brochures/'  ~ jobOffer.filename %}
                            <br>
                            <a class="btn btn-primary" href="{{ asset(filepath) }}" download>{{ 'menu.download_description' | trans }} PDF</a>
                        {% endif %}
                    </p>
                </div>
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="col-form-label col-sm-6">
              <legend>
                <span>{{ 'job.candidate_profile' | trans }} </span>
              </legend>
              <div class="form-group row ">
                <p class="col-sm-12">{{ jobOffer.candidateProfile | raw }}</p>
              </div>
            </fieldset>
            <fieldset class="col-form-label col-sm-6">
              <legend >
                <span>{{ 'job.person_in_charge_of_recruitment' | trans }} </span>
              </legend>
              <div class="form-group row ">
                <!--div class="form-group row "-->
                {% if jobOffer.postedContact %}
                  <p class="col-sm-12">{{ jobOffer.postedContact }}</p>
                {% endif %}
                {% if jobOffer.postedPhone %}
                  <p class="col-sm-12"><i class="fa fa-phone"></i>    {{ jobOffer.postedPhone }}</p>
                {% endif %}
                {% if jobOffer.postedEmail %}
                  <p class="col-sm-12"><i class="fa fa-envelope"></i>   {{ jobOffer.postedEmail }}</p>
                {% endif %}
              </div>
            </fieldset>
          </div>

{#          {%  if app.user.roles|role == "Diplômé"%}#}
          {%  if app.user.roles|role == "Diplômé"%}
            <a href="{{ path('front_persondegree_candidate', { 'id': jobOffer.id }) }}" class="btn btn-lg btn-success" role="button">{{ 'menu.apply' | trans }}</a>

          {% endif %}
          {% if attribute(jobOffer.file.vars, 'data') is defined and jobOffer.file.vars.data is not empty %}
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Fichier</label>
              <div class="col-sm-8">
                <img src="{{ asset(jobOffer.file.path ~ '/' ~ jobOffer.file.filename) }}" alt="image" style="max-width: 200px; max-height: 150px;">
              </div>
            </div>
          {% endif %}
          {%  if app.user.roles|role == "Administrateur" %}
            <div class="controls-above-table">
              <div class="row" id="actions">
                <div class="col-sm-6">
                  <a class="btn btn-sm btn-primary" href="{{ path('jobOffer_edit', {'id': jobOffer.id}) }}">
                    <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                  <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('jobOffer_delete', {'id': jobOffer.id}) }}')">
                    <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $('#actions form').css('display', 'inline-block');
  </script>
{% endblock %}
