{% extends 'frontCompanyJobOffer/content.html.twig' %}

{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/job.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
        <h6 class="element-header">
          Details de l'offre {{ jobOffer.id }}
          <a class="btn btn-sm btn-primary float-right" href="{{ path('front_company_jobOffer_new') }}">
            <i class="fa fa-plus"></i> Ajouter une offre
          </a>
          <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('front_company_jobOffer_index') }}">
            <i class="fa fa-arrow-left"></i> Retour à la liste
          </a>
        </h6>
        <div class="element-box">
          <form>
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Id</label>
              <div class="col-sm-8"><input class="form-control" disabled value="{{ jobOffer.id }}"></div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Titre</label>
              <div class="col-sm-8"><input class="form-control" disabled value="{{ jobOffer.title }}"></div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Métier</label>
              <div class="col-sm-8"><input class="form-control" disabled value="{{ jobOffer.activity }}"></div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Email</label>
              <div class="col-sm-8"><input class="form-control" disabled value="{{ jobOffer.postedEmail }}"></div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Description</label>
              <div class="col-sm-8"><textarea rows="6" class="form-control"
                                              disabled>{{ jobOffer.description }}</textarea></div>
            </div>
            {% if attribute(jobOffer.file.vars, 'data') is defined and jobOffer.file.vars.data is not empty %}
              <div class="form-group row">
                <label class="col-form-label col-sm-4">Fichier</label>
                <div class="col-sm-8">
                  <img src="{{ asset(jobOffer.file.path ~ '/' ~ jobOffer.file.filename) }}" alt="image" style="max-width: 200px; max-height: 150px;">
                </div>
              </div>
            {% endif %}
          </form>
          {% if company == jobOffer.company %}
            <div class="controls-above-table">
              <div class="row" id="actions">
                <div class="col-sm-6">
                  <a class="btn btn-sm btn-primary" href="{{ path('front_company_jobOffer_edit', {'id': jobOffer.id}) }}">
                    <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> Modifier</a>
                  <button class="btn btn-sm btn-danger"
                          onclick="deleteElement('{{ path('front_company_jobOffer_delete', {'id': jobOffer.id}) }}')">
                    <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer
                  </button>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
     $('#actions form').css('display', 'inline-block');
  </script>
{% endblock %}
