{{ form_widget(form._token) }}
<div class="form-global">
  <fieldset>
    <legend><span> {{ 'menu.identity' | trans }} </span></legend>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.firstname' | trans }} *</label>
        {{ form_widget(form.firstname) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.firstname) }}</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.lastname' | trans }} *</label>
        {{ form_widget(form.lastname) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.lastname) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.you_are' | trans }} *</label>
        {{ form_widget(form.sex) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sex) }}</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.date_of_birth' | trans }} *</label>
        {{ form_widget(form.birthDate) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.birthDate) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.address' | trans }} </span></legend>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.country' | trans }} *</label>
        {{ form_widget(form.country) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country) }}</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{ 'menu.region' | trans }} / {{ 'menu.province' | trans }} *</label>
        {{ form_widget(form.region) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.region) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6 form-group">
        <label for=""> {{ 'city.city_nearest' | trans }}  *</label>
        {{ form_widget(form.addressCity) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressCity) }}</div>
      </div>
      <div class="col-sm-6 col-xs-6 form-group hide_block_other_city">
        <label for=""> {{ 'city.other_city' | trans }} </label>
        {{ form_widget(form.otherCity) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherCity) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 form-group">
        <label for=""> N°</label>
        {{ form_widget(form.addressNumber) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressNumber) }}</div>
      </div>
      <div class="col-sm-5 form-group">
        <label for=""> {{ 'menu.street' | trans }} </label>
        {{ form_widget(form.addressRoad) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressRoad) }}</div>
      </div>
      <div class="col-sm-5 form-group">
        <label for=""> {{ 'menu.location' | trans }} </label>
        {{ form_widget(form.addressLocality) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressLocality) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for=""> {{ 'menu.latitude' | trans }} </label>
        {{ form_widget(form.latitude) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.latitude) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for=""> {{ 'menu.longitude' | trans }} </label>
        {{ form_widget(form.longitude) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.longitude) }}</div>
      </div>
      <div class="col-sm-4 form-group form-check">
        <label class="center" for="">{{ 'menu.mode' | trans }}</label>
        {{ form_widget(form.locationMode) }}
        <div class="slider round">
          <span class="manual">Manuel</span>
          <span class="auto">Auto</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.locationMode) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'menu.coordinates' | trans }}</span></legend>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="">{{ 'menu.connection_phone_country_code_number' | trans }} *</label>
        {{ form_widget(form.phoneMobile1) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneMobile1) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for="">{{ 'menu.other_phone_country_code_number' | trans }} </label>
        {{ form_widget(form.phoneHome) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneHome) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for=""> {{ 'menu.email' | trans }} *</label>
        {{ form_widget(form.email) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="">{{ 'menu.cell_phone_of_a_1st_parent' | trans }} *</label>
        {{ form_widget(form.phoneMobile2) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneMobile2) }}</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for="">{{ 'menu.cell_phone_of_a_2nd_parent' | trans }}</label>
        {{ form_widget(form.phoneMobile3) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneMobile3) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'menu.current_work_situation' | trans }} *</span></legend>
    <div class="row">
      <div class="col-sm-12 form-group">
        {{ form_widget(form.type) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.type) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'menu.qualification' | trans }}</span></legend>
    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="">{{ 'degree.filter_by_region' | trans }}</label>
        <select id="regionSchoolFilter" class="form-control"></select>
      </div>
      <div class="col-sm-5 form-group">
        <label for="">{{ 'menu.establishment' | trans }} / {{ 'menu.school' | trans }} *</label>
        {{ form_widget(form.school) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.school) }}</div>
      </div>
      <div class="col-sm-4 form-group hide_block_other_school">
        <label for="">{{ 'school.other_establishment' | trans }}</label>
        {{ form_widget(form.otherSchool) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherSchool) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="">N° {{ 'menu.registration' | trans }}</label>
        {{ form_widget(form.registrationStudentSchool) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.registrationStudentSchool) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for="">{{ 'menu.degree' | trans }} *</label>
        {{ form_widget(form.degree) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.degree) }}</div>
      </div>
      <div class="col-sm-4 form-group hide_block_other_degree">
        <label for="">{{ 'menu.other_degree' | trans }}</label>
        {{ form_widget(form.otherDegree) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherDegree) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="">{{ 'degree.year_session_degree' | trans }} *</label>
        {{ form_widget(form.lastDegreeYear) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.lastDegreeYear) }}</div>
      </div>
      <div class="col-sm-6 form-group">
        <label for="">{{ 'degree.month_graduation' | trans }} *</label>
        {{ form_widget(form.lastDegreeMonth) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.lastDegreeMonth) }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="">{{ 'menu.activity_area' | trans }} *</label>
        {{ form_widget(form.sectorArea) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for="">{{ 'menu.job' | trans }} / {{ 'menu.branch' | trans }} *</label>
        {{ form_widget(form.activity) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activity) }}</div>
      </div>
      <div class="col-sm-4 form-group hide_block_other_activity">
        <label for="">{{ 'menu.other_trade' | trans }}</label>
        {{ form_widget(form.otherActivity) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.right_to_data_protection' | trans }} </span></legend>
    <div class="row">
      <div class="col-sm-12 form-check">
        {% if personDegree.agreeRgpd == false %}
          <label for="appbundle_persondegree_agreeRgpd"> {{ 'menu.click_yes_if_you_agree' | trans }} (PDP) </label>
        {% else %}
          <label style="color: red" for="appbundle_persondegree_agreeRgpd"> {{ 'menu.click_no_if_you_no_longer_agree' | trans }} </label>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-check persondegree_agree_rgpd">
        {{ form_widget(form.agreeRgpd) }}
        <div class="slider round">
          <span class="non">{{ 'menu.no' | trans }}</span>
          <span class="oui">{{ 'menu.yes' | trans }}</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.agreeRgpd) }}</div>
      </div>
      <div class="col-sm-6">
        <a target="_blank" href="{{ path('rgpd_informations') }}"> {{ 'menu.information_on_the_protection_of_personal_data_pdp' | trans }} </a>
      </div>
    </div>
  </fieldset>
  {{ form_widget(form.mapsAddress) }}
  {{ show_allactivities() }}

  {% if is_granted('ROLE_DIPLOME') %}
    <input style="display: none" value="ROLE_DIPLOME" id="role">
  {% else %}
    <input style="display: none" value="ROLE_OTHER" id="role">
  {% endif %}
</div>

<select hidden id="selectedCountry">
  {%  if selectedCountry is not null %}
    <option value="{{ selectedCountry.id }}">{{ selectedCountry.name }}</option>
  {%  endif %}
</select>
<input style="display: none" value="{{ personDegree.country.phoneCode }}" id="countryPhoneCode">
<input style="display: none" value="{{ residenceCountryPhoneCode }}" id="residenceCountryPhoneCode">
<input style="display: none" value="{{ personDegree.checkSchool }}" id="checkSchool">
<select hidden id="schoolRegion">
  {% for region in selectedCountry.regions %}
    {% for school in region.schools %}
      <option value="{{ school.id }}">{{ school.region.name }}</option>
    {% endfor %}
  {% endfor %}
</select>

<div><span><br>* :  {{ 'menu.required_field' | trans }} </span></div>
<div><span>{{ 'degree.email_advised_to_reply_to_job_offers' | trans }}</span></div>
<div><span>{{ 'degree.the_registration_is_in_green_if_it_is_validated_by_the_institution' | trans }}</span></div>

<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonPersonDegree" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" hidden="hidden" id="submitPersonDegree"> {{ 'menu.validate' | trans }} </button>
</div>

