{% extends 'persondegree/content.html.twig' %}

{% set roleUser = app.user.roles|role %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
              {%  if roleUser =="Administrateur" %}
                <img src="{{ asset('build/images/icon/degree.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
              {% endif %}
                <h6 class="element-header">{{ 'degree.list_of_degree' | trans }}</h6>
                <div class="element-box">
                    {#<script>alert("role =" + {{ roleUser }})</script>#}
                    {%  if roleUser =="Administrateur" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                {%  if roleUser == "Administrateur" %}
                                  <th class="no-print">Actions</th>
                                  <th>Id</th>
                                {% endif %}
                                {%  if roleUser == "Etablissement" %}
                                  <th class="no-print">Actions</th>
                                  <th>{{ 'menu.registration' | trans }}</th>
                                {% endif %}
                                <th>{{ 'menu.firstname' | trans }}</th>
                                <th>{{ 'menu.name' | trans }}</th>
                                <th>{{ 'survey.survey_status_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }}</th>
                                <th>{{ 'menu.date_of_birth_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }}</th>
                                <th>{{ 'menu.cell_phone' | trans }}</th>
                                <th>{{ 'menu.email' | trans }}</th>
                                {%  if roleUser == "Administrateur"  or roleUser == "Législateur"  %}
                                    <th>{{ 'menu.country' | trans }}</th>
                                    <th>{{ 'menu.establishment' | trans }}</th>
                                {% endif %}
                                {%  if roleUser == "Etablissement" %}
                                  <th>{{ 'menu.degree' | trans }}</th>
                                  <th>{{ 'menu.branch' | trans }}</th>
                                {% endif %}
                                <th>{{ 'degree.month_year_degree_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }}</th>
                                <th>{{ 'menu.created_date_with_tag' | trans({'%tag_br%': '<br/>'}) | raw  }}</th>
                                <th>{{ 'menu.current_situation_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personDegree in personDegrees %}
                                <tr>
                                    {%  if roleUser == "Administrateur" %}
                                        <td class="row-actions">
                                            <a href="{{ path('persondegree_edit', { 'id': personDegree.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                            <a href="{{ path('persondegree_show', { 'id': personDegree.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                            <a class="danger" onclick="deleteElement('{{ path('persondegree_delete', {'id': personDegree.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        </td>
                                        <td><a href="{{ path('persondegree_show', { 'id': personDegree.id }) }}">{{ personDegree.id }}</a></td>
                                    {% endif %}

                                    {%  if roleUser == "Etablissement" %}
                                        <td class="row-actions d-flex justify-content-between">
                                            {% if personDegree.registrationStudentSchool|length > 0 %}
                                                {% if personDegree.checkSchool == true %}
                                                  <button class="validStudent" id="validStudent{{ personDegree.id }}" value="1">Dévalider</button>
                                                {% else %}
                                                  <button class="validStudent" id="validStudent{{ personDegree.id }}" value="0"> {{ 'menu.validate' | trans }} </button>
                                                {% endif %}
                                            {% else %}
                                                <button class="validStudent" id="validStudent{{ personDegree.id }}" value="0" disabled> {{ 'menu.validate' | trans }} </button>
                                            {% endif %}
                                        </td>
                                        {% if personDegree.checkSchool == true %}
                                            <td id="immat{{ personDegree.id }}" style="color:green">{{ personDegree.registrationStudentSchool }}</td>
                                        {% else %}
                                            <td id="immat{{ personDegree.id }}" style="color:red">{{ personDegree.registrationStudentSchool }}</td>
                                        {% endif %}
                                    {% endif %}

                                    <td>{{ personDegree.firstname }}</td>
                                    <td>{{ personDegree.lastname }}</td>
                                    <td>{{ check_person_degree_satisfaction(
                                            personDegree.id,
                                            personDegree.type,
                                            personDegree.lastDegreeMonth,
                                            personDegree.lastDegreeYear,
                                            personDegree.satisfactionCreatorsCount,
                                            personDegree.satisfactionSalariesCount,
                                            personDegree.satisfactionSearchesCount
                                        ) }}
                                    </td>
                                    <td>{{ personDegree.birthDate|date('d/m/Y') }}</td>
                                    {%  if roleUser == "Etablissement" %}
                                        <td id="phoneMobile1{{ personDegree.id }}">
                                          <button style="margin:0"class="no-print phoneMobile1Student m-0 p-0  border-0" id="changePhoneMobile1{{ personDegree.id }}" onclick="changePhoneMobile1('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></button>
                                          <button style="display: none;" class="no-print phoneMobile1Student m-0 p-0 border-0" id="savePhoneMobile1{{ personDegree.id }}" onclick="savePhoneMobile1('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/save_16.png') }}" alt="save"></button>
                                          <button style="display: none;" class="no-print phoneMobile1Student m-0 p-0 border-0" id="cancelPhoneMobile1{{ personDegree.id }}" onclick="cancelPhoneMobile1('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/cancel_16.png') }}" alt="cancel"></button>
                                          <span class="" id="spanPhoneMobile1{{ personDegree.id }}">{{ personDegree.phoneMobile1 }}</span>
                                          <input style="display: none;" class="no-print phoneMobile1Student mt-3" id="inputPhoneMobile1{{ personDegree.id }}">
                                        </td>
                                        <td id="email{{ personDegree.id }}">
                                          <button style="margin:0"class="no-print emailStudent m-0 p-0  border-0" id="changeEmail{{ personDegree.id }}" onclick="changeEmail('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></button>
                                          <button style="display: none;" class="no-print emailStudent m-0 p-0 border-0" id="saveEmail{{ personDegree.id }}" onclick="saveEmail('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/save_16.png') }}" alt="save"></button>
                                          <button style="display: none;" class="no-print emailStudent m-0 p-0 border-0" id="cancelEmail{{ personDegree.id }}" onclick="cancelEmail('{{ personDegree.id}}')" value="0"><img src="{{ asset('build/images/icon/cancel_16.png') }}" alt="cancel"></button>
                                          <span class="" id="spanEmail{{ personDegree.id }}">{{ personDegree.email }}</span>
                                          <input style="display: none;" class="no-print emailStudent mt-3" id="inputEmail{{ personDegree.id }}">
                                        </td>
                                    {% else %}
                                        <td>{{ personDegree.phoneMobile1 }}</td>
                                        <td>{{ personDegree.email }}</td>
                                    {% endif %}
                                    {%  if roleUser =="Administrateur"  or roleUser == "Législateur"  %}
                                        <td>{{ personDegree.country }}</td>
                                        {% if personDegree.schoolId %} <td>{{ personDegree.school }}</td>
                                        {% elseif personDegree.otherSchool %}<td  style="color: #ee0808;">Autre : {{ personDegree.otherSchool }}</td>
                                        {% else %}  <td style="color: #0300ee;">Aucun</td>
                                        {% endif %}
                                    {% endif %}
                                    {%  if roleUser == "Etablissement" %}
                                        <td>{{ personDegree.degree }}</td>
                                        <td>{{ personDegree.activity }}</td>
                                    {% endif %}
                                    {#<td>{{ personDegree.lastDegreeMonth }}/{{ personDegree.lastDegreeYear }}</td>#}
                                    {%  if personDegree.type == "TYPE_TRAINING"%}
                                      <td>{{ "En cours" }}</td>
                                    {%  else %}
                                      <td>{{ "%02d"|format(personDegree.lastDegreeMonth) }}/{{ personDegree.lastDegreeYear }}</td>
                                    {% endif %}
                                    <td>{{ personDegree.createdDate|date('d M Y H:i') }}</td>
                                    <td>{{ personDegree.type | type_degree }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {#<table style="margin-top: 20px">#}
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%; max-width: 600px;">
                          <thead><tr>
                            <th style="text-align: center" >{{ 'menu.legend' | trans }}</th>
                            <th style="text-align: center" >{{ 'menu.under_study' | trans }}</th>
                            <th style="text-align: center" >{{ 'menu.waiting_6_months' | trans }}</th>
                            <th style="text-align: center" >{{ 'menu.1st_reminder' | trans }}</th>
                            <th style="text-align: center" >{{ 'menu.2nd_reminder' | trans }}</th>
                            <th style="text-align: center" >{{ 'menu.answer_ok' | trans }}</th>
                          </tr></thead>
                          <tbody><tr>
                            <td style="text-align: center;">{{ 'menu.survey' | trans }}</td>
                            <td><div style="width: 60px; height: 10px; background-color: #FFABC4; margin: auto"></div></td>
                            <td><div style="width: 60px; height: 10px; background-color: #FFFFFF; border: 1px solid #0c0c0c; margin: auto"></div></td>
                            <td><div style="width: 60px; height: 10px; background-color: #FF7100; margin: auto"></div></td>
                            <td><div style="width: 60px; height: 10px; background-color: #FF0000; margin: auto"></div></td>
                            <td><div style="width: 60px; height: 10px; background-color: #00FF00; margin: auto"></div></td>
                          </tr></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
       $(document).ready(function () {
          let table = datatable(true)
       });
       function changePhoneMobile1 (personDegreeId) {
          $('#changePhoneMobile1' + personDegreeId).hide();
          $('#savePhoneMobile1' + personDegreeId).show();
          $('#cancelPhoneMobile1' + personDegreeId).show();
          // $('#spanPhoneMobile1' + personDegreeId).hide();
          $('#inputPhoneMobile1' + personDegreeId).show();
          $('#inputPhoneMobile1' + personDegreeId).val($('#spanPhoneMobile1' + personDegreeId).text());
       }

       function cancelPhoneMobile1(personDegreeId) {
          $('#changePhoneMobile1' + personDegreeId).show();
          $('#savePhoneMobile1' + personDegreeId).hide();
          $('#cancelPhoneMobile1' + personDegreeId).hide();
          // $('#spanPhoneMobile1' + personDegreeId).show();
          $('#inputPhoneMobile1' + personDegreeId).hide();
       }

       function savePhoneMobile1(personDegreeId) {
          if($('#inputPhoneMobile1' + personDegreeId).val() != $('#spanPhoneMobile1' + personDegreeId).text()) {
             if (confirm('Voulez-vous vraiment modifier le Numéro tel ?')) {
                let locationref = window.location.href.replace("persondegrees", "");
                let data = {};
                data['id'] = personDegreeId
                data['phoneMobile1'] = $('#inputPhoneMobile1' + personDegreeId).val();

                $.get(locationref + 'changePersonDegreePhoneMobile1', data).done(function (result) {
                   if (result == "OK") {
                      $('#changePhoneMobile1' + personDegreeId).show();
                      $('#savePhoneMobile1' + personDegreeId).hide();
                      $('#cancelPhoneMobile1' + personDegreeId).hide();
                      $('#inputPhoneMobile1' + personDegreeId).hide();
                      $('#spanPhoneMobile1' + personDegreeId).text(data['phoneMobile1']);
                   } else {
                      alert('Erreur: Num tel déjà utilisé')
                   }
                });
             }
          }
       }

       // initialisation Email
       function changeEmail(personDegreeId) {
          $('#changeEmail' + personDegreeId).hide();
          $('#saveEmail' + personDegreeId).show();
          $('#cancelEmail' + personDegreeId).show();
          // $('#spanEmail' + personDegreeId).hide();
          $('#inputEmail' + personDegreeId).show();
          $('#inputEmail' + personDegreeId).val($('#spanEmail' + personDegreeId).text());
       }

       function cancelEmail(personDegreeId) {
          $('#changeEmail' + personDegreeId).show();
          $('#saveEmail' + personDegreeId).hide();
          $('#cancelEmail' + personDegreeId).hide();
          // $('#spanEmail' + personDegreeId).show();
          $('#inputEmail' + personDegreeId).hide();
       }

       function saveEmail(personDegreeId) {
          if($('#inputEmail' + personDegreeId).val() != $('#spanEmail' + personDegreeId).text()) {
             if (confirm('Voulez-vous vraiment modifier l\'email ?')) {
                let locationref = window.location.href.replace("persondegrees", "");
                let data = {};
                data['id'] = personDegreeId
                data['email'] = $('#inputEmail' + personDegreeId).val();

                $.get(locationref + 'changePersonDegreeEmail', data).done(function (result) {
                   if (result == "OK") {
                      $('#changeEmail' + personDegreeId).show();
                      $('#saveEmail' + personDegreeId).hide();
                      $('#cancelEmail' + personDegreeId).hide();
                      $('#inputEmail' + personDegreeId).hide();
                      $('#spanEmail' + personDegreeId).text(data['email']);
                   } else {
                      alert('Erreur: Email déjà utilisé')
                   }
                });
             }
          }
       }
    </script>

{% endblock %}

