{% extends 'persondegree/content.html.twig' %}

{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/degree.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
        <h6 class="element-header">
          {{ 'menu.detail' | trans }}
          <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('persondegree_index') }}">
            <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
          </a>
        </h6>
        <div class="element-box">
          <form>
            <span> {{ 'menu.identity' | trans }} </span>
            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.firstname' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.firstname }}">
                </label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.name' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.lastname }}">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.you_are' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.sex | trans }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.date_of_birth' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.birthDate }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.created_date' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.createdDate|date('d/m/Y H:i') }}">
                </label>
              </div>
            </div>
            <div class="line-separator"></div>
            <span> {{ 'menu.address' | trans }} </span>
            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                   {{ 'menu.country' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.addressCity.region.country | trans }}">
                </label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                   {{ 'menu.region' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.addressCity.region | trans }}">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                    {{ 'city.city_nearest' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.addressCity.name | trans }}">
                </label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                   {{ 'city.other_city' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.otherCity }}">
                </label>
              </div>
            </div>
            <div class="row">
              {%  if concat_local_address == "false" %}
                <div class="col-sm-2">
                  <label class="col-form-label col-sm-12">
                    {{ 'menu.number' | trans }} :
                    <input class="form-control" disabled value="{{ personDegree.addressNumber }}">
                  </label>
                </div>
                <div class="col-sm-5">
                  <label class="col-form-label col-sm-12">
                    {{ 'menu.street' | trans }} :
                    <input class="form-control" disabled value="{{ personDegree.addressRoad }}">
                  </label>
                </div>
                <div class="col-sm-5">
                  <label class="col-form-label col-sm-12">
                    {{ 'menu.location' | trans }} :
                    <input class="form-control" disabled value="{{ personDegree.addressLocality }}">
                  </label>
                </div>
              {% else %}
                <div class="col-sm-12">
                  <label class="col-form-label col-sm-12">
                    {{ 'menu.location' | trans }} :
                    <input class="form-control" disabled value="{{ personDegree.addressLocality }}">
                  </label>
                </div>
              {% endif %}
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.residence_country' | trans }} :
                  {% if struct_province_country_city == "true" %}
                    <input class="form-control" disabled value="{{ personDegree.residenceRegion }}">
                  {% else %}
                    <input class="form-control" disabled value="{{ personDegree.residenceCountry }}">
                  {% endif %}

                </label>
              </div>
              <div class="col-sm-9">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.address_diaspora' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.addressDiaspora }}">
                </label>
              </div>
            </div>
            <div class="line-separator"></div>
            <span>{{ 'menu.coordinates' | trans }}</span>
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.connection_phone' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.phoneMobile1 }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.other_phone' | trans }}. :
                  <input class="form-control" disabled value="{{ personDegree.phoneHome }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.email' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.email }}">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.cell_phone_of_a_1st_parent' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.phoneMobile2 }}">
                </label>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.cell_phone_of_a_2nd_parent' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.phoneMobile3 }}">
                </label>
              </div>
            </div>
            <div class="line-separator"></div>
            <span>{{ 'menu.current_work_situation' | trans }} :</span>
            <div class="row">
              <div class="col-sm-12">
                <label class="col-form-label col-sm-12">
                  <input class="form-control" disabled value="{{ personDegree.type | type_degree | trans }}">
                </label>
              </div>
            </div>
            <div class="line-separator"></div>
            <span>{{ 'menu.qualification' | trans }}</span>
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.activity_area' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.sectorArea | trans }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.job' | trans }} / {{ 'menu.branch' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.activity | trans }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.other_trade' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.otherActivity }}">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.degree' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.degree | trans }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.other' | trans }}:
                  <input class="form-control" disabled value="{{ personDegree.otherDegree }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'graduate.month_year_of_graduation' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.lastDegreeMonth is not empty and personDegree.lastDegreeMonth != 0 ? "%02d"|format(personDegree.lastDegreeMonth) ~ ' / ' : '' }}{{ personDegree.lastDegreeYear is not empty ? personDegree.lastDegreeYear : '' }}">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.establishment' | trans }} / {{ 'menu.school' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.school }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  {{ 'menu.other' | trans }} :
                  <input class="form-control" disabled value="{{ personDegree.otherSchool }}">
                </label>
              </div>
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  N° {{ 'menu.registration' | trans }} :
                  {% if personDegree.checkSchool == false %}
                    <input class="form-control" disabled style="color:red" value=" {{ personDegree.registrationStudentSchool }}">
                  {% else %}
                    <input class="form-control" disabled style="color:green" value=" {{ personDegree.registrationStudentSchool }}">
                  {% endif %}
                </label>
              </div>
            </div>
            <div><span>{{ 'degree.the_registration_is_in_green_if_it_is_validated_by_the_institution' | trans }}</span></div>
            <div class="line-separator"></div>
          </form>
          <div class="controls-above-table">
            <div class="row" id="actions">
              <div class="col-sm-6">
                <a class="btn btn-sm btn-primary"
                   href="{{ path('persondegree_edit' | route_persondegree, {'id': personDegree.id}) }}"> <img
                      src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                {#{% if is_granted('ROLE_ADMIN') %}
                  <button class="btn btn-sm btn-danger"
                          onclick="deleteElement('{{ path('persondegree_delete', {'id': personDegree.id}) }}')"><img
                        src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer
                  </button>
                {% endif %}#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
