{% extends 'usefultrainingreason/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    Raison de formation utile
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary" href="#">Archiver</a>
                                <a class="btn btn-sm btn-primary" href="{{ path('usefultrainingreason_new') }}">
                                    <i class="fa fa-plus"></i> ajouter une raison</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th><div><span>Id</span></div></th>
                                <th><div><span>Raison</span></div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reason in usefulTrainingReasons %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('usefultrainingreason_edit', { 'id': reason.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('usefultrainingreason_show', { 'id': reason.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" href="#"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td>
                                    <td><a href="{{ path('usefultrainingreason_show', { 'id': reason.id }) }}">{{ reason.id }}</a></td>
                                    <td>{{ reason.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       makeSelected('reason')
    </script>
{% endblock %}
