{% extends "base_security.html.twig" %}

{% block fos_user_title %}
{#    <h4 class="auth-header">Connexion <a href="{{ path('register_create_account') }}">Créer un compte</a></h4>#}
    <h4 class="auth-header">Connexion <a href="#">Créer un compte</a></h4>
{% endblock fos_user_title %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="">Téléphone</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Numéro de téléphone" required="required" />
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
        </div>
        <div class="form-group">
            <label for="">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Entrez votre mot de passe" required="required" />
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
        </div>
        {#<div class="form-group">
            <label for="">Langue</label>
            <select name="langue" id="langue" class="form-control">
                <option value="fr"><a href="{{ path('dasboard_index') }}">FR</a></option>
                <option value="en">EN</option>
            </select>
        </div>#}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="buttons-w">
            <button class="btn btn-primary">Valider</button>
            <div class="checkbox d-inline-block float-right">
                <label>
                    <input type="checkbox"
                           id="remember_me"
                           name="_remember_me"
                           value="on" /> Se rappeler de moi
                </label>
                <div >
{#                    <a href="{{ path('register_ask_new_password') }}">Mot de passe oublié ?</a>#}
                    <a href="#">Mot de passe oublié ?</a>
                </div>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}
