{% extends "base_security.html.twig" %}

{% block fos_user_title %}
    <h4 class="auth-header">{{ 'menu.connection' | trans }} <a href="{{ path('register_create_account') }}">{{ 'menu.create_an_account' | trans }}</a></h4>
{% endblock fos_user_title %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form id="form-login" action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="">{{ 'menu.phone' | trans }}</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{'menu.phone_number' | trans}}" required="required" />
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
        </div>
        <div class="form-group">
            <label for="">{{ 'menu.password' | trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="{{'menu.password' | trans}}" required="required" />
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="buttons-w">
            <button class="btn btn-primary"> {{ 'menu.validate' | trans }} </button>
            <div class="checkbox d-inline-block float-right">
                <label>
                    <input type="checkbox"
                           id="remember_me"
                           name="_remember_me"
                           value="on" /> {{ 'menu.remember_me' | trans }}
                </label>
                <div >
                    <a href="{{ path('register_ask_new_password') }}">{{ 'menu.forgot_your_password' | trans }}</a>
                </div>
            </div>
        </div>
    </form>
    <div class="footer_login">
        <span>{{ "footer.dev_by" | trans }}</span>
        <p><a target="_blank" href="https://ifef.francophonie.org/"><img style="width: 80px; height: auto" id="logo_ifef" src="{{ asset('build/images/pinsuprem/logo_ifef.jpg') }}"></a></p>
        <p><a target="_blank" href="https://www.francophonie.org/"><img style="width: 80px; height: auto"  id="logo_oif" src="{{ asset('build/images/pinsuprem/logo_oif.jpg') }}"></a></p>
    </div>
{% endblock fos_user_content %}
