{{ form_widget(form._token) }}
<div class="form-group">
  <label for=""> {{ 'menu.name' | trans }} </label>
  {{ form_widget(form.name) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.name) }}</div>
</div>
<div class="form-group">
  <label for=""> {{ 'menu.activity_area' | trans }}</label>
  {{ form_widget(form.sectorArea) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
</div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="submit"> {{ 'menu.validate' | trans }} </button>
</div>
