{% extends 'role/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/profile.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'role.editing_a_role' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('role_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    <form id="formValidate" method="post">
{#                      {% include 'role/_new.html.twig' with {'form': edit_form} %}#}
                        {{ form_widget(form._token) }}
                        <div class="form-group">
                            <label for=""> {{ 'menu.role' | trans }} : </label>
                            {{ role.role }}
                            <div hidden>{{ form_widget(form.role) }}</div>
                            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.role) }}</div>
                        </div>
                        <div class="form-group">
                            <label for=""> {{ 'menu.pseudo' | trans }} </label>
                            {{ form_widget(form.pseudo) }}
                            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.pseudo) }}</div>
                        </div>
                        <div class="form-buttons-w">
                            <button class="btn btn-primary" type="submit"> {{ 'menu.validate' | trans }} </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
