{% extends 'role/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/profile.png') }}" alt="locality" class="title-icon"
                     style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Liste des rôles
                </h6>
                <div class="element-box">
                    {# <div class="controls-above-table"> #}
                    {# <div class="row"> #}
                    {# <div class="col-sm-6"> #}
                    {# <a class="btn btn-sm btn-primary" href="#">Export CSV</a> #}
                    {# <a class="btn btn-sm btn-primary" href="#">Archiver</a> #}
                    {# <a class="btn btn-sm btn-primary" href="{{ path('role_new') }}"> #}
                    {# <i class="fa fa-plus"></i> Nouveau rôle</a> #}
                    {# </div> #}
                    {# </div> #}
                    {# </div> #}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                {# <th>Actions</th> #}
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in roles %}
                                <tr>
                                    <td><a href="#">{{ role.id }}</a></td>
                                    <td>{{ role.role }}</td>
                                    {# <td class="row-actions">
                                        <a href="{{ path('role_edit', { 'id': role.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('role_show', { 'id': role.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" href="#"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td> #}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            let table = datatable()
        });
    </script>
{% endblock %}
