{% extends 'city/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/locality.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'city.list_of_cities' | trans }}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    {%  if roleUser == "Administrateur" or roleUser == "Admin_pays" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-sm btn-primary" href="{{ path('city_new') }}">
                                        <i class="fa fa-plus"></i> {{ 'city.new_city' | trans }}
                                    </a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-upload"></i> {{ 'city.import_city' | trans }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ path('city_generate_template') }}">
                                                <i class="fa fa-download"></i> {{ 'menu.generate_template' | trans }}
                                            </a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#importModal">
                                                <i class="fa fa-upload"></i> {{ 'city.import_city' | trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <!-- Modal pour importer le fichier -->
                    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{{ path('city_import') }}" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importModalLabel">{{ 'city.import_city' | trans }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="importFile">{{ 'menu.select_file' | trans }}</label>
                                            <input type="file" class="form-control-file" id="importFile" name="importFile" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'menu.cancel' | trans }}</button>
                                        <button type="submit" class="btn btn-primary">{{ 'menu.valid_import' | trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="kz_table_with_width_export" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                {%  if roleUser == "Administrateur" or roleUser == "Admin_pays" %}
                                    <th class="no-print">Actions</th>
                                    <th>Id</th>
                                {% endif %}
                                <th>{{ 'menu.name' | trans }}</th>
                                {%  if prefecture_between_region_city == "true" %}
                                    <th>{{ 'menu.prefecture' | trans}}</th>
                                    <th>{{ 'city.prefecture_capital_city' | trans }}</th>
                                {% endif %}
                                <th>{{ 'city.capital_city' | trans }}</th>
                                <th>{{ 'menu.region' | trans}}</th>
                                <th>{{ 'menu.country' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for city in cities %}
                                <tr>
                                    {%  if roleUser == "Administrateur" or roleUser == "Admin_pays" %}
                                        <td class="row-actions">
                                            <a href="{{ path('city_edit', { 'id': city.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                            <a href="{{ path('city_show', { 'id': city.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                            <a class="danger" onclick="deleteElement('{{ path('city_delete', {'id': city.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        </td>
                                        <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                                    {% endif %}
                                    <td>{{ city.name  | trans }}</td>
                                    {%  if prefecture_between_region_city == "true" %}
                                        {% if city.prefecture != null %}
                                            <td>{{ city.prefecture.name }}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{{ (city.isPrefectureCapital) ? 'Oui' : 'Non' }}</td>
                                    {% endif %}
                                    <td>{{ (city.isCapital) ? 'Oui' : 'Non' }}</td>
                                    <td>{{ city.region | trans}}</td>
                                    <td>{{ city.country.name | trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       // $(document).ready(function () {
       //    let table = datatable()
       // });
       makeSelected('city')
    </script>
{% endblock %}
