{% set roleUser = app.user.roles|role %}

{%  if roleUser == "Etablissement" %}
    <td>
       <span id="email{{ row.id }}">
        <button style="margin:0"class="no-print emailStudent m-0 p-0  border-0" id="changeEmail{{ row.id }}" onclick="changeEmail('{{ row.id}}')" value="0"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></button>
        <button style="display: none;" class="no-print emailStudent m-0 p-0 border-0" id="saveEmail{{ row.id }}" onclick="saveEmail('{{ row.id}}')" value="0"><img src="{{ asset('build/images/icon/save_16.png') }}" alt="save"></button>
        <button style="display: none;" class="no-print emailStudent m-0 p-0 border-0" id="cancelEmail{{ row.id }}" onclick="cancelEmail('{{ row.id}}')" value="0"><img src="{{ asset('build/images/icon/cancel_16.png') }}" alt="cancel"></button>
        <span class="" id="spanEmail{{ row.id }}">{{ row.email }}</span>
        <input style="display: none;" class="no-print emailStudent mt-3" id="inputEmail{{ row.id }}">
       </span>
    </td>
{% else %}
    <td>{{ row.email }}</td>
{% endif %}
