{{ form_widget(form._token) }}
<div class="form-global">
  <fieldset>
    <legend><span> {{ 'menu.identity' | trans }} </span></legend>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for=""> {{ 'company.name_of_the_company' | trans }} *</label>
          {{ form_widget(form.name) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.name) }}</div>
        </div>
        <div class="form-group col-sm-6">
          <label for=""> Url</label>
          {{ form_widget(form.url) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.url) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group  col-sm-4">
          <label for=""> {{ 'company.connection_phone_code_no' | trans }} *</label>
          {{ form_widget(form.phoneStandard) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneStandard) }}</div>
        </div>
        <div class="form-group  col-sm-4">
          <label for=""> {{ 'company.other_phone_code_no' | trans }} </label>
          {{ form_widget(form.phoneOther) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneOther) }}</div>
        </div>
        <div class="form-group col-sm-4">
          <label for=""> {{ 'menu.email' | trans }} *</label>
          {{ form_widget(form.email) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'menu.address' | trans }}</span></legend>
      <div class="row">
        {# ****COUNTRY**** #}
        {% if prefecture_between_region_city == "true" %}
          <div class="col-sm-4 form-group">
        {% else %}
          <div class="col-sm-6 form-group">
        {% endif %}
          <label for=""> {{ 'menu.country' | trans }} * </label>
          {{ create_translated_select(form.country) }}
{#          {{ form_widget(form.country) }}#}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country) }}</div>
        {% if prefecture_between_region_city == "true" %} </div> {% else %} </div> {% endif %}

        {# ****REGION**** #}
        {% if prefecture_between_region_city == "true" %}
          <div class="col-sm-4 form-group">
        {% else %}
          <div class="col-sm-6 form-group">
        {% endif %}

        {# adaptation DBTA#}
        {% if struct_province_country_city == "true" %}
          <label for=""> {{ 'menu.region' | trans }} *</label>
        {% else %}
          <label for=""> {{ 'menu.region' | trans }} / {{ 'menu.province' | trans }} *</label>
        {% endif %}
        {{ create_translated_select(form.region) }}
{#      {{ form_widget(form.region) }}#}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.region) }}</div>

        {% if prefecture_between_region_city == "true" %} </div> {% else %} </div> {% endif %}

        {# ****PREFECTURE**** #}
        {# adaptation for Togo #}
        {% if prefecture_between_region_city == "true" %}
          <div class="col-sm-4 form-group">
            <label for=""> {{ 'menu.prefecture' | trans }} *</label>
            {{ create_translated_select(form.prefecture) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.prefecture) }}</div>
          </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for=""> {{ 'city.city_nearest' | trans }} *</label>
          {{ create_translated_select(form.city) }}
{#          {{ form_widget(form.city) }}#}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.city) }}</div>
        </div>
        <div class="col-sm-6 col-xs-6 form-group hide_block_other_city">
          <label for=""> {{ 'city.other_city' | trans }} </label>
          {{ form_widget(form.otherCity) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherCity) }}</div>
        </div>
      </div>
      <div class="row">
        {%  if concat_local_address == "false" %}
          <div class="col-sm-2 form-group">
            <label for=""> N° </label>
            {{ form_widget(form.addressNumber) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressNumber) }}</div>
          </div>sectorarea
          <div class="col-sm-5 form-group">
            <label for=""> {{ 'menu.street' | trans }} </label>
            {{ form_widget(form.addressRoad) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressRoad) }}</div>
          </div>
          <div class="col-sm-5 form-group">
            <label for=""> {{ 'menu.location' | trans }} </label>
            {{ form_widget(form.addressLocality) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressLocality) }}</div>
          </div>
        {% else %}
          <div class="form-group col-sm-12">
            <label for=""> {{ 'menu.address' | trans }} </label>
            {{ form_widget(form.addressLocality) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressLocality)}}</div>
          </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for=""> {{ 'menu.latitude' | trans }} </label>
          {{ form_widget(form.latitude) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.latitude) }}</div>
        </div>
        <div class="col-sm-4 form-group">
          <label for=""> {{ 'menu.longitude' | trans }} </label>
          {{ form_widget(form.longitude) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.longitude) }}</div>
        </div>
        <div class="col-sm-4 form-group form-check">
          <label class="center" for="">Mode</label>
          {{ form_widget(form.locationMode) }}
          <div class="slider round">
            <span class="manual">{{ 'menu.manual' | trans }}</span>
            <span class="auto">Auto</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.locationMode) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.characteristics' | trans }} </span></legend>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for=""> {{ 'menu.activity_area' | trans }} *</label>
          {{ create_translated_select(form.sectorArea) }}
{#          {{ form_widget(form.sectorArea) }}#}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
        </div>
        <div class="form-group col-sm-6">
          <label for=""> {{ 'menu.legals_status' | trans }} *</label>
          {{ create_translated_select(form.legalStatus) }}
{#          {{ form_widget(form.legalStatus) }}#}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.legalStatus) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.right_to_data_protection' | trans }} </span></legend>
    <div class="row">
      <div class="col-sm-12 form-check">
        {#<label for=""> Vous acceptez de diffuser vos informations personnelles pour les statistiques ? </label>#}
        {% if company.agreeRgpd == false %}
          <label for="appbundle_company_agreeRgpd"> {{ 'menu.click_yes_if_you_agree' | trans }} </label>
        {% else %}
          <label style="color: red" for="appbundle_company_agreeRgpd"> {{ 'menu.click_no_if_you_no_longer_agree' | trans }} </label>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-check company_agree_rgpd">
        {{ form_widget(form.agreeRgpd) }}
        <div class="slider round">
          <span class="non">{{ 'menu.no' | trans }}</span>
          <span class="oui">{{ 'menu.yes' | trans }}</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.agreeRgpd) }}</div>
      </div>
      <div class="col-sm-6">
        <a target="_blank" href="{{ path('rgpd_informations') }}"> {{ 'menu.information_on_the_protection_of_personal_data_pdp' | trans }} </a>
      </div>
    </div>
  </fieldset>
  {{ form_widget(form.mapsAddress) }}

  {{ show_allactivities() }}

  {% if is_granted('ROLE_ENTREPRISE') %}
    <input style="display: none" value="ROLE_ENTREPRISE" id="role">
  {% else %}
    <input style="display: none" value="ROLE_OTHER" id="role">
  {% endif %}
</div>

<select hidden id="selectedCountry">
  {%  if selectedCountry is not null %}
    <option value="{{ selectedCountry.id }}">{{ selectedCountry.name | trans }}</option>
  {%  endif %}
</select>

{% if struct_province_country_city == "true" %}
  {% if company.region is not null %}
    <input style="display: none" value="{{ company.region.phoneCode }}" id="countryPhoneCode">
  {% endif %}
{% else %}
  {% if company.country is not null %}
    <input style="display: none" value="{{ company.country.phoneCode }}" id="countryPhoneCode">
  {% endif %}
{% endif %}

{% if company is not null and company.city is not null %}
  <input style="display: none" value="{{ company.city.id }}" id="cityName">
{% endif %}

{#adaptation DBTA#}
<select hidden id="selectedRegion">
  {%  if selectedRegion is not null %}
    <option value="{{ selectedRegion.id }}">{{ selectedRegion.name | trans | capitalize }}</option>
  {%  endif %}
</select>

<div><span><br>* :  {{ 'menu.required_field' | trans }} </span></div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonCompany" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" id="submitCompany" hidden="hidden"> {{ 'menu.validate' | trans }} </button>
</div>
