{{ form_widget(form._token) }}
<div class="form-global">
  <fieldset>
    <legend><span>Identité</span></legend>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for=""> Nom de l'entreprise *</label>
          {{ form_widget(form.name) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.name) }}</div>
        </div>
        <div class="form-group col-sm-6">
          <label for=""> Url</label>
          {{ form_widget(form.url) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.url) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="form-group  col-sm-4">
          <label for=""> Tél. de connexion (Indicatif + N°) *</label>
          {{ form_widget(form.phoneStandard) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneStandard) }}</div>
        </div>
        <div class="form-group  col-sm-4">
          <label for=""> Autre Tél. (Indicatif + N°)</label>
          {{ form_widget(form.phoneOther) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneOther) }}</div>
        </div>
        <div class="form-group col-sm-4">
          <label for=""> Adresse Email *</label>
          {{ form_widget(form.email) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span>Adresse</span></legend>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for=""> Pays * </label>
          {{ form_widget(form.country) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country) }}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label for="">Région / Province *</label>
          {{ form_widget(form.region) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.region) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="">Ville (la plus proche) *</label>
          {{ form_widget(form.city) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.city) }}</div>
        </div>
        <div class="col-sm-6 col-xs-6 form-group hide_block_other_city">
          <label for=""> Autre ville</label>
          {{ form_widget(form.otherCity) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherCity) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 form-group">
          <label for=""> N° </label>
            {{ form_widget(form.addressNumber) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressNumber) }}</div>
        </div>
        <div class="col-sm-5 form-group">
          <label for="">Rue</label>
          {{ form_widget(form.addressRoad) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressRoad) }}</div>
        </div>
        <div class="col-sm-5 form-group">
          <label for=""> Localité</label>
          {{ form_widget(form.addressLocality) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressLocality) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for=""> Latitude </label>
          {{ form_widget(form.latitude) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.latitude) }}</div>
        </div>
        <div class="col-sm-4 form-group">
          <label for="">Longitude</label>
          {{ form_widget(form.longitude) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.longitude) }}</div>
        </div>
        <div class="col-sm-4 form-check">
          <label class="center" for="">Mode</label>
          {{ form_widget(form.locationMode) }}
          <div class="slider round">
            <span class="manual">Manuel</span>
            <span class="auto">Auto</span>
          </div>
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.locationMode) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span>Caractéristiques</span></legend>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for=""> Secteur d'activité *</label>
          {{ form_widget(form.sectorArea) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
        </div>
        <div class="form-group col-sm-6">
          <label for=""> Statut juridique *</label>
          {{ form_widget(form.legalStatus) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.legalStatus) }}</div>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend><span>Droit à la protection des données</span></legend>
    <div class="row">
      <div class="col-sm-12 form-check">
        {#<label for=""> Vous acceptez de diffuser vos informations personnelles pour les statistiques ? </label>#}
        {% if company.agreeRgpd == false %}
          <label for="appbundle_company_agreeRgpd">Cliquez sur OUI si vous acceptez de diffuser vos informations personnelles pour les statistiques </label>
        {% else %}
          <label style="color: red" for="appbundle_company_agreeRgpd">Cliquez sur NON si vous n'acceptez plus l'utilisation de vos données personnelles, vous supprimerez l'intégralité de votre compte </label>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-check company_agree_rgpd">
        {{ form_widget(form.agreeRgpd) }}
        <div class="slider round">
          <span class="non">Non</span>
          <span class="oui">Oui</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.agreeRgpd) }}</div>
      </div>
      <div class="col-sm-6">
        <a target="_blank" href="{{ path('rgpd_informations') }}">informations relatives à la protection des données personnelles (PDP)</a>
      </div>
    </div>
  </fieldset>
  {{ form_widget(form.mapsAddress) }}

  {{ show_allactivities() }}

  {% if is_granted('ROLE_ENTREPRISE') %}
    <input style="display: none" value="ROLE_ENTREPRISE" id="role">
  {% else %}
    <input style="display: none" value="ROLE_OTHER" id="role">
  {% endif %}
</div>

<select hidden id="selectedCountry">
  {%  if selectedCountry is not null %}
    <option value="{{ selectedCountry.id }}">{{ selectedCountry.name }}</option>
  {%  endif %}
</select>
{% if company.country is not null %}
  <input style="display: none" value="{{ company.country.phoneCode }}" id="countryPhoneCode">
{% endif %}

<div><span><br>* : champ obligatoire</span></div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonCompany" onclick="preventDefaultSubmit()"> Valider</button>
  <button class="btn btn-primary" type="submit" id="submitCompany" hidden="hidden"> Valider</button>
</div>
