{% extends 'company/content.html.twig' %}

{% block body %}
<div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
        <div class="element-wrapper">
            <img src="{{ asset('build/images/icon/company.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
            <h6 class="element-header">
                 {{ 'company.company_details' | trans }}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEGISLATEUR')  or is_granted('ROLE_DIRECTEUR') %}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('company_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                {% endif %}
            </h6>
            <div class="element-box form-show">
                <fieldset>
                    <legend><span> {{ 'menu.identity' | trans }} </span></legend>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""> {{ 'company.name_of_the_company' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.name }}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""> Url</label>
                            <input class="form-control" disabled value="{{ company.url }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-4">
                            <label for=""> {{ 'company.connection_phone_code_no' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.phoneStandard }}">
                        </div>
                        <div class="form-group  col-sm-4">
                            <label for=""> {{ 'company.other_phone_code_no' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.phoneOther }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for=""> {{ 'menu.email' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.email }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span> {{ 'menu.address' | trans }} </span></legend>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for=""> {{ 'menu.country' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.country | trans }}">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for=""> {{ 'menu.region' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.region | trans }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for=""> {{ 'city.city_nearest' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.city | trans }}">
                        </div>
                        <div class="col-sm-6 col-xs-6 form-group hide_block_other_city">
                            <label for=""> {{ 'city.other_city' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.otherCity }}">
                        </div>
                    </div>
                    <div class="row">
                        {%  if concat_local_address == "false" %}
                            <div class="col-sm-2 form-group">
                                <label for=""> N° </label>
                                <input class="form-control" disabled value="{{ company.addressNumber }}">
                            </div>
                            <div class="col-sm-5 form-group">
                                <label for=""> {{ 'menu.street' | trans }} </label>
                                <input class="form-control" disabled value="{{ company.addressRoad }}">
                            </div>
                            <div class="col-sm-5 form-group">
                                <label for=""> {{ 'menu.location' | trans }} </label>
                                <input class="form-control" disabled value="{{ company.addressLocality }}">
                            </div>
                        {% else %}
                            <div class="col-sm-12 form-group">
                                <label for=""> {{ 'menu.location' | trans }} </label>
                                <input class="form-control" disabled value="{{ company.addressLocality }}">
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span> {{ 'menu.characteristics' | trans }} </span></legend>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""> {{ 'menu.activity_area' | trans }}</label>
                            <input class="form-control" disabled value="{{ company.sectorArea | trans }}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""> {{ 'menu.legals_status' | trans }} </label>
                            <input class="form-control" disabled value="{{ company.legalStatus | trans}}">
                        </div>
                    </div>
                </fieldset>

                <div class="controls-above-table">
                    <div class="row" id="actions">
                        <div class="col-sm-6">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') %}
                                <a class="btn btn-sm btn-primary" href="{{ path('company_edit' | route_company, {'id': company.id}) }}"> <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('company_delete', {'id': company.id}) }}')"> <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        $('#actions form').css('display', 'inline-block');
    </script>
{% endblock %}
