{% extends 'company/content.html.twig' %}

{% block body %}
<div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
        <div class="element-wrapper">
            <img src="{{ asset('build/images/icon/company.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
            <h6 class="element-header">
                Détail de l'entreprise
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEGISLATEUR') %}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('company_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                {% endif %}
            </h6>
            <div class="element-box form-show">
                <fieldset>
                    <legend><span>Identité</span></legend>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""> Nom de l'entreprise</label>
                            <input class="form-control" disabled value="{{ company.name }}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""> Url</label>
                            <input class="form-control" disabled value="{{ company.url }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-4">
                            <label for=""> Tél. de connexion (Indicatif + N°)</label>
                            <input class="form-control" disabled value="{{ company.phoneStandard }}">
                        </div>
                        <div class="form-group  col-sm-4">
                            <label for=""> Autre Tél. (Indicatif + N°)</label>
                            <input class="form-control" disabled value="{{ company.phoneOther }}">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for=""> Adresse Email</label>
                            <input class="form-control" disabled value="{{ company.email }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span>Adresse</span></legend>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for=""> Pays </label>
                            <input class="form-control" disabled value="{{ company.country }}">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="">Région</label>
                            <input class="form-control" disabled value="{{ company.region }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="">Ville (la plus proche)</label>
                            <input class="form-control" disabled value="{{ company.city }}">
                        </div>
                        <div class="col-sm-6 col-xs-6 form-group hide_block_other_city">
                            <label for=""> Autre ville</label>
                            <input class="form-control" disabled value="{{ company.otherCity }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label for=""> N° </label>
                            <input class="form-control" disabled value="{{ company.addressNumber }}">
                        </div>
                        <div class="col-sm-5 form-group">
                            <label for="">Rue</label>
                            <input class="form-control" disabled value="{{ company.addressRoad }}">
                        </div>
                        <div class="col-sm-5 form-group">
                            <label for=""> Localité</label>
                            <input class="form-control" disabled value="{{ company.addressLocality }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><span>Caractéristiques</span></legend>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for=""> Secteur d'activité</label>
                            <input class="form-control" disabled value="{{ company.sectorArea }}">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for=""> Statut juridique</label>
                            <input class="form-control" disabled value="{{ company.legalStatus }}">
                        </div>
                    </div>
                </fieldset>

                <div class="controls-above-table">
                    <div class="row" id="actions">
                        <div class="col-sm-6">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ENTREPRISE') %}
                                <a class="btn btn-sm btn-primary" href="{{ path('company_edit' | route_company, {'id': company.id}) }}"> <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> Modifier</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('company_delete', {'id': company.id}) }}')"> <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
        $('#actions form').css('display', 'inline-block');
    </script>
{% endblock %}
