{% extends 'jobOffer/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/job.png') }}" alt="joboffer" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'job.list_of_job_offers' | trans }}
                </h6>
                <div class="element-box">
                    {%  if app.user.roles|role == "Administrateur" or app.user.roles|role == "Entreprise"%}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                {%  if app.user.roles|role == "Diplômé"%}
                                    <th class="no-print">{{ 'menu.apply' | trans }}</th>
                                {% endif %}
                                {%  if app.user.roles|role == "Etablissement" or app.user.roles|role == "Diplômé"%}
                                    <th class="no-print">Détail</th>
                                {%  elseif app.user.roles|role == "Administrateur" or app.user.roles|role == "Entreprise"%}
                                    <th class="no-print">Actions</th>
                                {% endif %}
                                {%  if app.user.roles|role == "Administrateur"%}
                                    <th>Id</th>
                                {% endif %}
                                <th>{{ 'menu.title' | trans }}</th>
                                <th>{{ 'menu.modified_on' | trans }}</th>
                                <th>{{ 'menu.expires_on' | trans }}</th>
                                <th>{{ 'menu.job' | trans }}</th>
                                <th>{{ 'menu.email' | trans }}</th>
                                <th>{{ 'menu.company' | trans }}</th>
                                <th>{{ 'menu.city' | trans }}</th>
                                <th>{{ 'menu.description' | trans }} </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for jobOffer in jobOffers %}
                                <tr>
                                    {% if app.user.roles|role == "Diplômé" %}
                                        <td><a href="{{ path('front_persondegree_candidate', { 'id': jobOffer.id }) }}">{{ 'menu.apply' | trans }} </a></td>
                                    {% endif %}
                                    {% if app.user.roles|role == "Etablissement" or app.user.roles|role == "Diplômé"%}
                                        <td><a href="{{ path('jobOffer_show', { 'id': jobOffer.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a></td>
                                    {% endif %}
                                    {% if app.user.roles|role == "Administrateur" or app.user.roles|role == "Entreprise"%}
                                        <td class="row-actions">
                                            <a href="{{ path('jobOffer_edit', { 'id': jobOffer.id }) }}"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                            <a href="{{ path('jobOffer_show', { 'id': jobOffer.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                            <a class="danger" onclick="deleteElement('{{ path('jobOffer_delete', {'id': jobOffer.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        </td>
                                    {% endif %}
                                    {% if app.user.roles|role == "Administrateur" or app.user.roles|role == "Entreprise"%}
                                        <td>{{ jobOffer.id }}</td>
                                    {% endif %}
                                    <td>{{ jobOffer.title }}</td>
                                    <td>{{ jobOffer.updatedDate|date('Y/m/d') }}</td>
                                    <td>{{ jobOffer.closedDate }}</td>
                                    <td>{{ jobOffer.activity }}</td>
                                    <td>{{ jobOffer.postedEmail }}</td>
                                    <td>{% if jobOffer.company is not empty %}{{ jobOffer.company }} {% endif %}</td>
                                    <td>{{ jobOffer.city.name }}</td>
                                    <td>{{ jobOffer.description |slice(0, 40) ~ '...' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            let table = datatable(true)
        });
        makeSelected('jobOffer')
    </script>
{% endblock %}
