{% extends 'jobOffer/content.html.twig' %}
{% set user = app.user %}
{% set roleUser = user.roles|role %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/job.png') }}" alt="joboffer" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'job.list_of_job_applied' | trans }}
                </h6>

                <div class="row g-3">
                    {% for jobApplied in jobApplieds %}
                        <div class="col-md-6">
                            <div class="card shadow-sm border-0 rounded-3 p-3">
                                <div class="card-body">
                                    <h5 class="fw-bold text-dark">
                                        <i class="fas fa-id-badge me-2 text-primary"></i> ID Candidature : {{ jobApplied.id }}
                                    </h5>
                                    <p class="text-muted mb-2">
                                        <i class="fas fa-calendar-alt me-2 text-secondary"></i> Date de candidature : {{ jobApplied.applied_date|date('d/m/Y') }}
                                    </p>
                                    <p class="text-muted">
                                        <i class="fas fa-file-alt me-2 text-secondary"></i> Description : <br>
                                        {{ jobApplied.resumed_applied
                                        | replace({
                                            '%tag_br%': '<br/>',
                                            '%tag_p%': '<p>',
                                            '%tag_end_p%': '</p>',
                                            '%tag_strong%': '<strong>',
                                            '%tag_end_strong%': '</strong>',
                                            'Sent OK, ': ''
                                        })
                                        | raw
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <div class="alert alert-warning text-center">
                                {{ 'Aucune candidature trouvée.' | trans }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            let table = datatable(true);
        });
        makeSelected('jobOffer');
    </script>
{% endblock %}
