

<div class="row" id="customize_footer">
  <div class="col-sm-5">
    <span>{{ "footer.useful_links" | trans }}</span>
    <div id="links">
      <p><a target="_blank" href="https://ifef.francophonie.org/">{{ 'menu.ifef_website' | trans }}</a></p>
      <p><a target="_blank" href="https://www.francophonie.org/">{{ 'menu.oif_website' | trans }}</a></p>
      <p><a target="_blank" href="https://youtu.be/TcSaxNgodIA?si=T8R4aeKRIYswglF9">Présentation de l'application Inserjeune</a></p>
      <p><a target="_blank" href="https://youtu.be/TejmAiKSEns?si=JLflyDx3UQnDd496">Présentation de l'IFEF</a></p>
      <p><a target="_blank" href="https://youtu.be/pCLkKwhh2aQ?si=qOYUoomo1yL2o2jT">Objectifs et missions de l'Institut de la Francophonie</a></p>
    </div>

  </div>
  <div class="col-sm-5">
    <span>{{ "footer.informations" | trans }}</span>
    <div id="contact">
      <p>Rue des Almadies 10300 Dakar</p>
      <p>10300 Dakar, SENEGAL</p>
      <p>+221 77 781 01 46 | ifef@francophonie.org</p>
    </div>
  </div>
  <div class="col-sm-2 logos">
    <span>{{ "footer.partners" | trans }}</span>
    <div id="partners">
      <p><a target="_blank" href="https://ifef.francophonie.org/"><img  id="logo_ifef" src="{{ asset('build/images/pinsuprem/logo_ifef.jpg') }}"></a></p>
      <p><a target="_blank" href="https://www.francophonie.org/"><img  id="logo_oif" src="{{ asset('build/images/pinsuprem/logo_oif.jpg') }}"></a></p>
    </div>
  </div>
</div>
