<div class="float-right" id="kz_minMenu">
  <select class="form-control form-control-sm ">
    <option value="{{ path('degree_index') }}" name="degree">Diplômes</option>
    <option value="{{ path('company_new') }}" name="profession">Profession</option>
    <option value="{{ path('company_index') }}" name="company">Entreprise</option>
    <option value="{{ path('sectorarea_index') }}" name="sectorarea">Secteur d'activité</option>
    <option value="{{ path('activity_index') }}" name="activity">Metier</option>
    <option value="{{ path('country_index') }}" name="country">Pays</option>
    <option value="{{ path('region_index') }}" name="region">Region</option>
    <option value="{{ path('city_index') }}" name="city">Ville</option>
    <option value="{{ path('company_index') }}" name="school">Etablissement</option>
    <option value="{{ path('legalstatus_index') }}" name="legalstatus">Statut juridique</option>
    <option value="{{ path('jobOffer_index') }}" name="jobOffer">Offre d'emploi</option>
    <option value="{{ path('company_new') }}" name="">Réseaux sociaux</option>
  </select>
</div>
