<div class="float-right" id="kz_minMenu">
  <select class="form-control form-control-sm ">
    <option value="{{ path('degree_index') }}" name="degree">{{ 'menu.degrees' | trans }}</option>
    <option value="{{ path('company_new') }}" name="profession">{{ 'menu.occupation' | trans }}</option>
    <option value="{{ path('company_index') }}" name="company">{{ 'menu.company' | trans }}</option>
    <option value="{{ path('sectorarea_index') }}" name="sectorarea">{{ 'menu.activity_area' | trans }}</option>
    <option value="{{ path('activity_index') }}" name="activity">{{ 'menu.job' | trans }}</option>
    <option value="{{ path('country_index') }}" name="country">{{ 'menu.country' | trans }}</option>
    <option value="{{ path('region_index') }}" name="region">{{ 'menu.region' | trans }}</option>
    <option value="{{ path('city_index') }}" name="city">{{ 'menu.city' | trans }}</option>
    <option value="{{ path('company_index') }}" name="school">{{ 'menu.establishment' | trans }}</option>
    <option value="{{ path('legalstatus_index') }}" name="legalstatus">{{ 'menu.legal_status' | trans }}</option>
    <option value="{{ path('jobOffer_index') }}" name="jobOffer">{{ 'menu.job_offer' | trans }}</option>
    <option value="{{ path('company_new') }}" name="">{{ 'menu.social_media' | trans }}</option>
  </select>
</div>
