{#{% cache 'getuser' %}#}
    {% set user = app.user %}
    {% set imageName = app.user.imageName %}
{#{% endcache %}#}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Admin {% endblock %}</title>
    {{ include('_head.html.twig') }}
    {% block css %}{% endblock %}
</head>

<body>
<div class="all-wrapper container-fluid">
    {% include '_banner_top.html.twig' %}
    <div class="layout-w ">
        <div class="menu-w menu-activated-on-click">
            <div class="logo-w logged-user-w">
                {% include '_image_profile.html.twig' with {'imageName': imageName, 'defaultImage': 'man.jpg'} %}
                <div class="logged-user-info-w">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="logged-user-name">{{ user.username }}</div>
                        <div class="logged-user-role" style="color: #ffffff">{{ user.roles | role | trans}}</div>
                        <div class="logged-user-phone" style="font-size:12px; color: #007bff">{{ user.phone}}</div>
                    {% endif %}
                </div>
                <div class="mobile-menu-trigger">
                    <div class="menu-title">Menu</div>
                    <div class="os-icon os-icon-hamburger-menu-1"></div>
                </div>
            </div>
            <div class="menu-and-user">
                {# Menu lateral gauche #}
                {% block menu %}{% include '_menu_sidebar_left.html.twig' %}{% endblock %}
            </div>
        </div>
        <div class="content-w">
            {# Message flashbag #}
            {{ falsh_bag() }}
            {% block body %}{% endblock %}
            {{ include('_footer_customize.html.twig') }}
        </div>
    </div>
</div>

{# Footer #}
{{ include('_footer.html.twig') }}
{% block js %}{% endblock %}
</body>
</html>

