{% extends 'base.html.twig' %}
{% block title %}
  {{ parent() }} Entreprises
{% endblock %}

{% block navigation %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item"><span>Entreprises</span></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
            {# Tableau 1 #}
            <div class="element-wrapper"><h6 class="element-header">Liste des entreprises</h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
                              <a class="btn btn-sm btn-primary" href="tables.html#">Export CSV</a>
                              <a class="btn btn-sm btn-primary" href="tables.html#">Archiver</a>
                              <a class="btn btn-sm btn-primary" href="{{ path('company_new') }}">
                                <i class="fa fa-plus"></i> Ajouter une entreprise</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                      <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Id</th>
                          <th>Nom</th>
                          <th>Addresse</th>
                          <th>Telephone</th>
                          <th>Email</th>
                          <th>Address Number</th>
                          <th>Addresse Road</th>
                          <th hidden>Addresse Locality</th>
                          <th hidden>Date creation</th>
                          <th class="no-print">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company in companies %}
                          <tr>
                            <td class="details-control"></td>
                            <td><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                            <td>{{ company.name }}</td>
                            <td>{{ company.address }}</td>
                            <td>{{ company.phoneStandard }}</td>
                            <td>{{ company.email }}</td>
                            <td>{{ company.addressNumber }}</td>
                            <td>{{ company.addressRoad }}</td>
                            <td hidden>{{ company.addressLocality }}</td>
                            <td hidden>{% if company.createdAccountDate %}{{ company.createdAccountDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td class="row-actions">
                              <a href="{{ path('company_edit', { 'id': company.id }) }}#"><i class="fa fa-edit"></i></a>
                              <a href="{{ path('company_show', { 'id': company.id }) }}"><i class="fa fa-eye"></i></a>
                              <a class="danger" href="tables.html#"><i class="os-icon os-icon-database-remove"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
  <script>
     function format(d) {
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
           '<tr>' +
           '<td>Addresse Locality</td>' +
           '<td>' + d[8] + '</td>' +
           '</tr>' +
           '<tr>' +
           '<td>Date creation</td>' +
           '<td>' + d[9] + '</td>' +
           '</tr>' +
           '</table>';
     }

     $(document).ready(function () {
        let table = $('#example').DataTable({
           language: {
              url: '../build/locale/fr_FR.json'
           },
           initComplete: function () {
              $('#example_wrapper input').addClass('form-control form-control-sm bright')
              $('#example_wrapper select').addClass('form-control form-control-sm bright')
           }
        });

        $('#example tbody').on('click', 'td.details-control', function () {
           let tr = $(this).closest('tr');
           let row = table.row(tr);
           if (row.child.isShown()) {
              // This row is already open - close it
              row.child.hide();
              tr.removeClass('shown');
           }
           else {
              // Open this row
              row.child(format(row.data())).show();
              tr.addClass('shown');
           }
        });
     });
  </script>
{% endblock %}
