{% extends 'sectorarea/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/sector-area.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'menu.activity_area' | trans }}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
{#                                <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                <a class="btn btn-sm btn-primary" href="{{ path('sectorarea_new') }}">
                                    <i class="fa fa-plus"></i>{{ 'menu.add_a_sector' | trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table_with_width_export" class="table table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th><div><span>Id</span></div></th>
                                <th><div><span> {{ 'menu.name' | trans }} </span></div></th>
                                <th><div><span> {{ 'menu.description' | trans }} </span></div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sectorArea in sectorAreas %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('sectorarea_edit', { 'id': sectorArea.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('sectorarea_show', { 'id': sectorArea.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" onclick="deleteElement('{{ path('sectorarea_delete', {'id': sectorArea.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td>
                                    <td><a href="{{ path('sectorarea_show', { 'id': sectorArea.id }) }}">{{ sectorArea.id }}</a></td>
                                    <td>{{ sectorArea.name | trans }}</td>
                                    <td>{{ sectorArea.description  | trans  }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       makeSelected('sectorArea')
    </script>
{% endblock %}
