{% extends 'jobNotFoundReason/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    {{ 'menu.detail' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('job_not_found_reason_new') }}">
                        <i class="fa fa-plus"></i> {{ 'menu.add_a_reason' | trans }}
                    </a>
                    <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('job_not_found_reason_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    <form>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Id</label>
                            <div class="col-sm-8"><input class="form-control" disabled value="{{ jobNotFoundReason.id }}"></div>
                        </div>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Name</label>
                            <div class="col-sm-8"><input class="form-control" disabled value="{{ jobNotFoundReason.name }}"></div>
                        </div>
                    </form>
                    <div class="controls-above-table">
                        <div class="row" id="actions">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary" href="{{ path('job_not_found_reason_edit', {'id': jobNotFoundReason.id}) }}">
                                    <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
                                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('job_not_found_reason_delete', {'id': jobNotFoundReason.id}) }}')">
                                    <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
