{{ form_widget(form._token) }}
<div class="form-group row">
  <div class="col-sm-8">
    {{ 'menu.graduate' | trans }} :   {{ satisfactionCreator.personDegree }}
  </div>
  {%  if app.user.roles|role =="ADMIN" %}
    <div class="col-sm-2">
      Id : {{ satisfactionCreator.id }}
    </div>
  {% endif %}
</div>
<div class="form-group row">
  <div class="col-sm-6">
    {{ 'menu.created_date' | trans }} : {{ satisfactionCreator.createdDate|date("d/m/Y H:i") }}
  </div>
  <div class="col-sm-6">
    {{ 'graduate.obtaining_the_diploma' | trans }} : {{ satisfactionCreator.degreeDate }}
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for=""> {{ 'graduate.in_which_sector_of_activity_did_you_create_your_company' | trans }} ?</label>
        {{ create_translated_select(form.sectorArea) }}
{#        {{ form_widget(form.sectorArea) }}#}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea) }}</div>
      </div>
    </div>
    <div class="row hide_flex_other_activity">
      <div class="col-sm-12 form-group">
        <label for=""> {{ 'menu.other_trade' | trans }} ?</label>
        {{ form_widget(form.otherActivity) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity) }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'graduate.what_job_do_you_do_in_your_company' | trans }} ?</label>
    {{ form_widget(form.activities) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6 form-check">
    <label for=""> {{ 'graduate.does_your_company_have_a_legal_existence' | trans }} ?</label>
    {{ form_widget(form.legalCompany) }}
    <div class="slider round">
      <span class="non">{{ 'menu.no' | trans }}</span>
      <span class="oui">{{ 'menu.yes' | trans }}</span>
    </div>
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.legalCompany) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-6 form-group">
    <label for="">{{ 'graduate.your_remuneration_per_month_in_national_currency' | trans }}</label>
    {{ form_widget(form.monthlySalary) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.monthlySalary) }}</div>
  </div>
  <div class="col-sm-6 form-group">
    <label for=""> {{ 'menu.currency' | trans }} </label>
    {{ form_widget(form.currency) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.currency) }}</div>
  </div>
</div>
<div class="line-separator"></div>
<div class="row">
  <div class="col-sm-12 form-check">
    <label for=""> {{ 'graduate.has_your_training_been_useful_for_the_job_you_do' | trans }} ?</label>
    {{ form_widget(form.usefulTraining) }}
    <div class="slider round">
      <span class="non">{{ 'menu.no' | trans }}</span>
      <span class="oui">{{ 'menu.yes' | trans }}</span>
    </div>
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.usefulTraining) }}</div>
  </div>
</div>
<div class="row hide_flex_jobNotFound">
  <div class="col-sm-12 form-group">
    <label for=""> <br>{{ 'graduate.why_several_possible_choices' | trans }}</label>
    {{ create_translated_select(form.jobNotFoundReasons) }}
{#    {{ form_widget(form.jobNotFoundReasons) }}#}
    <div class="help-block form-text with-errors form-control-feedSi non, pourquoi ?back">{{ form_errors(form.jobNotFoundReasons) }}</div>
  </div>
  <div class="col-sm-12 form-group hide_flex_jobNotFoundOther">
    <label for=""> {{ 'menu.other_reason' | trans }} :</label>
    {{ form_widget(form.jobNotFoundOther) }}
    <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.jobNotFoundOther) }}</div>
  </div>
</div>
{#<select name="" id="allActivities" style="display: none">
  {% for activity in allActivities %}
    <option value="{{ activity.id }}" name="{{ activity.name }}">{{ activity.sectorArea.id }}</option>
  {% endfor %}
</select>#}
{{ show_allactivities() }}
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonSatisfactionCreator" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" id="submitSatisfactionCreator" hidden="hidden"> {{ 'menu.validate' | trans }} </button>
</div>
