{% extends 'satisfactioncreator/content.html.twig' %}
{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'survey.new_insertion_survey_entrepreneurial_graduate' | trans }}
                  {% if is_granted('ROLE_ADMIN') == true %}
                      <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactioncreator_index') }}">
                          <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}</a>
                  {% elseif is_granted('ROLE_DIPLOME') == true %}
                      <a class="btn btn-sm btn-primary float-right" href="{{ path('front_persondegree_satisfactions_index') }}">
                          <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}</a>
                  {% endif %}
                </h6>
                <div class="element-box">
                    <form id="" method="post" action="{{ path('satisfactioncreator_new'| route_persondegree) }}">
                      {% include 'satisfactioncreator/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
