{% extends 'satisfactioncreator/content.html.twig' %}

{% block body %}
<div class="content-i">
  <div class="content-box">
    {# Tableau 1 #}
    <div class="element-wrapper">
      <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
      <h6 class="element-header">
        {{ 'menu.detail' | trans }}
        {% if is_granted('ROLE_ADMIN') %}
          <a class="btn btn-sm btn-primary float-right" href="{{ path('satisfactioncreator_new'| route_persondegree) }}">
            <i class="fa fa-plus"></i> {{ 'survey.add_an_insertion_survey_graduate_entrepreneur' | trans }}
          </a>
        {% endif %}
        <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('satisfactioncreator_index'| route_persondegree) }}">
          <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
        </a>
      </h6>
      <div class="element-box form-show">
        <form>
          <div class="row">
            <div class="col-sm-8">
              <label class="col-form-label col-sm-12">
                {{ 'menu.graduate' | trans }} :
                <input class="form-control" disabled value="{{ satisfactionCreator.personDegree }}">
              </label>
            </div>
            {%  if app.user.roles|role =="ADMIN" %}
              <div class="col-sm-4">
                <label class="col-form-label col-sm-12">
                  Id :
                  <input class="form-control" disabled value="{{ satisfactionCreator.id }}">
                </label>
              </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="col-form-label col-sm-12">
                {{ 'menu.created_date' | trans }} :
                <input class="form-control" disabled value="{{ satisfactionCreator.createdDate|date("d/m/Y H:i") }}">
              </label>
            </div>
            <div class="col-sm-6">
              <label class="col-form-label col-sm-12">
                {{ 'graduate.obtaining_the_diploma' | trans }} :
                <input class="form-control" disabled value="{{ satisfactionCreator.degreeDate }}">
              </label>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="form-group col-sm-6">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label class="col-form-label col-sm-12">
                    {{ 'graduate.in_which_sector_of_activity_did_you_create_your_company' | trans }} ?
                  <input class="form-control" disabled value="{{ satisfactionCreator.sectorArea | trans}}">
                  </label>
                </div>
              </div>
              <div class="row hide_flex_other_activity">
                <div class="col-sm-12 form-group">
                  <label class="col-form-label col-sm-12">
                    {{ 'menu.other_trade' | trans }} ?
                    <input class="form-control" disabled value="{{ satisfactionCreator.otherActivity}}">
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label class="col-form-label col-sm-12">
                {{ 'graduate.what_job_do_you_do_in_your_company' | trans }} ?
                {%  set activities = "" %}
                {% for activity in satisfactionCreator.activities %}
                  {%  set activities = activities ~ activity|trans ~ '\n' %}
                {% endfor %}
                <textarea class="form-control" disabled >{{ activities }}</textarea>
              </label>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-6 form-check">
              {% if satisfactionCreator.legalCompany==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
              <label class="col-sm-12 col-form-label"> {{ 'graduate.does_your_company_have_a_legal_existence' | trans }} ?</label>
              <div class="col-sm-12">
                <input hidden type="checkbox" class="form-control" disabled {{ checked }}>
                <div class="slider round">
                  <span class="non">{{ 'menu.no' | trans }}</span>
                  <span class="oui">{{ 'menu.yes' | trans }}</span>
                </div>
              </div>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="col-form-label col-sm-12">
                {{ 'survey.your_remuneration_per_month_in_fcfa' | trans }} :
                <input class="form-control" disabled value="{{ satisfactionCreator.monthlySalary}}">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label class="col-form-label col-sm-12">
                  {{ 'menu.currency' | trans }}  :
                <input class="form-control" disabled value="{{ satisfactionCreator.currency}}">
              </label>
            </div>
          </div>
          <div class="line-separator"></div>
          <div class="row">
            <div class="col-sm-12 form-check">
              {% if satisfactionCreator.usefulTraining==true %} {% set checked = 'checked' %} {% else %} {% set checked = '' %} {% endif %}
              <label class="col-sm-12 col-form-label"> {{ 'graduate.has_your_training_been_useful_for_the_job_you_do' | trans }} ?</label>
              <div class="col-sm-12">
                <input hidden type="checkbox" class="form-control" disabled {{ checked }}>
                <div class="slider round">
                  <span class="non">{{ 'menu.no' | trans }}</span>
                  <span class="oui">{{ 'menu.yes' | trans }}</span>
                </div>
              </div>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="col-form-label col-sm-12">
                {{ 'graduate.if_not_why_not' | trans }} ?
                {%  set reasons = ""  %}
                {% for reason in satisfactionCreator.jobNotFoundReasons %}
                  {%  set reasons = reasons ~ '\n' ~ reason  | trans   %}
                {% endfor %}
                <textarea class="form-control" disabled>{{ reasons }}</textarea>
              </label>
              <div class="help-block form-text with-errors form-control-feedSi non, pourquoi ?back"></div>
            </div>
            <div class="col-sm-6 form-group">
              <label class="col-form-label col-sm-12">
                {{ 'menu.other_reason' | trans }} :
                <input class="form-control" disabled value="{{ satisfactionCreator.jobNotFoundOther}}">
              </label>
              <div class="help-block form-text with-errors form-control-feedback"></div>
            </div>
          </div>
          <div class="line-separator"></div>
        </form>
        <div class="controls-above-table">
          <div class="row" id="actions">
            <div class="col-sm-6">
              {% if is_granted('ROLE_ADMIN') == true %}
                <a class="btn btn-sm btn-primary" href="{{ path('satisfactioncreator_edit', {'id': satisfactionCreator.id}) }}">
                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
              {% elseif is_granted('ROLE_DIPLOME') == true%}
                <a class="btn btn-sm btn-primary" href="{{ path('front_persondegree_satisfactioncreator_edit', {'id': satisfactionCreator.id}) }}">
                  <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>
              {% endif %}

              {% if is_granted('ROLE_ADMIN') == true %}
                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('satisfactioncreator_delete', {'id': satisfactionCreator.id}) }}')">
                  <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">{{ 'menu.delete' | trans }}</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
