{% extends 'jobOffer/content.html.twig' %}

{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Tableau 1 #}
      <div class="element-wrapper">
        <img src="{{ asset('build/images/icon/job.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
        <h6 class="element-header">
          {{ 'job.details_of_the_offer' | trans }}  {{ jobOffer.id }}
          <a class="btn btn-sm btn-primary float-right" href="{{ path('front_school_jobOffer_new') }}">
            <i class="fa fa-plus"></i> {{ 'job.add_a_job_offer' | trans }}
          </a>
          <a class="btn btn-sm btn-primary float-right kz_back" href="{{ path('front_school_jobOffer_index') }}">
            <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
          </a>
        </h6>
        <div class="element-box jobOffer">
          <div class="form-group row jobOfferBanner">
            {% set logo = jobOffer.logo %}
            {% if logo != false %}
              <img src="{{ asset('uploads/avatars/' ~ logo) }}" alt="Logo entreprise">
            {%  else %}
              <img src="{{ asset('build/images/pinsuprem/logo_ifef.jpg') }}" alt="Logo ifef">
            {% endif %}
            <span>{{ 'menu.job_offer' | trans }}</span>
          </div>
          <div class="form-group row jobOfferTitle">
            <h2>{{ jobOffer.title }}</h2>
          </div>
          <div class="form-group row jobOfferDates">
            <p class="col-sm-12">{{ 'job.published_on' | trans }}  {{ jobOffer.createdDate|date('d/m/Y') }}</p>
            {%  if jobOffer.updatedDate > jobOffer.createdDate %}
              <p class="col-sm-12">{{ 'job.updated_on' | trans }}  {{ jobOffer.updatedDate|date('d/m/Y') }}</p>
            {% endif %}
            <p class="col-sm-12">{{ 'menu.expires_on' | trans }} {{ jobOffer.closedDate }}</p>
            <p class="col-sm-12">{{ 'job.type_of_contract' | trans }} : {{ jobOffer.contract }}</p>
            {% if jobOffer.otherCity %}
              <p class="col-sm-12">{{ 'menu.localization' | trans }} : {{ jobOffer.country }}-{{ jobOffer.otherCity }}</p>
            {% else %}
              <p class="col-sm-12">{{ 'menu.localization' | trans }} : {{ jobOffer.country }}-{{ jobOffer.city.name }}</p>
            {% endif %}
          </div>

          <div class="row">
            <fieldset class="col-form-label col-sm-6">
              <legend>
                <span> {{ 'job.job_description' | trans }}  </span>
              </legend>
              <div class="form-group row ">
                <p class="col-sm-12">{{  jobOffer.description | raw }}</p>
                <div>
                  {% if jobOffer.filename is not null %}
                    {% set filepath = 'uploads/brochures/'  ~ jobOffer.filename %}
                    <br>
                    <a href="{{ asset(filepath) }}" download>{{ 'menu.description' | trans }} PDF</a>
                  {% endif %}
                </div>
              </div>
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="col-form-label col-sm-6">
              <legend>
                <span>{{ 'job.candidate_profile' | trans }} </span>
              </legend>
              <div class="form-group row ">
                <p class="col-sm-12">{{ jobOffer.candidateProfile | raw }}</p>
              </div>
            </fieldset>
            <fieldset class="col-form-label col-sm-6">
              <legend >
                <span>{{ 'job.person_in_charge_of_recruitment' | trans }} </span>
              </legend>
              <div class="form-group row ">
                <!--div class="form-group row "-->
                {% if jobOffer.postedContact %}
                  <p class="col-sm-12">{{ jobOffer.postedContact }}</p>
                {% endif %}
                {% if jobOffer.postedPhone %}
                  <p class="col-sm-12"><i class="fa fa-phone"></i>    {{ jobOffer.postedPhone }}</p>
                {% endif %}
                {% if jobOffer.postedEmail %}
                  <p class="col-sm-12"><i class="fa fa-envelope"></i>   {{ jobOffer.postedEmail }}</p>
                {% endif %}
              </div>
            </fieldset>
          </div>

{#          {%  if app.user.roles|role == "Diplômé"%}#}
          {%  if app.user.roles|role == "Diplômé"%}
            <a href="{{ path('front_persondegree_candidate', { 'id': jobOffer.id }) }}" class="btn btn-lg btn-success" role="button">{{ 'menu.apply' | trans }}</a>

          {% endif %}
          {% if attribute(jobOffer.file.vars, 'data') is defined and jobOffer.file.vars.data is not empty %}
            <div class="form-group row">
              <label class="col-form-label col-sm-4">Fichier</label>
              <div class="col-sm-8">
                <img src="{{ asset(jobOffer.file.path ~ '/' ~ jobOffer.file.filename) }}" alt="image" style="max-width: 200px; max-height: 150px;">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $('#actions form').css('display', 'inline-block');
  </script>
{% endblock %}
