{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} {{ 'menu.dashboard' | trans }}
{% endblock %}

{% block menu %}
  {# Menu lateral gauche #}
  <ul class="main-menu">
    <li><a href="{{ path('dashboard_index') }}">
        <div class="icon-w">
          <img src="{{ asset('build/images/icon/dashboard.png') }}" alt="dashboard">
        </div>
        <span>{{ 'menu.dashboard' | trans }}</span></a></li>
    <li class="has-sub-menu"><a href="{{ path('dashboard_index') }}">
        <div class="icon-w">
          <img src="{{ asset('build/images/icon/company.png') }}" alt="company">
        </div>
        <span>{{ 'menu.companies' | trans }}</span></a>
      <ul class="sub-menu">
        <li><a href="{{ path('company_index') }}">{{ 'menu.list_companies' | trans }}</a></li>
        <li><a href="#">{{ 'menu.the_job_offers' | trans }}**</a></li>
        <li><a href="#">{{ 'menu.ads' | trans }}**</a></li>
        <li><a href="#">{{ 'menu.the_apprentices' | trans }}**</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ path('satisfactionsalary_new') }}">
        <div class="icon-w">
          <img src="{{ asset('build/images/icon/satisfaction.png') }}" alt="satisfaction">
        </div>
        <span>{{ 'menu.surveys' | trans }}</span>
      </a>
    </li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li>
        <a href="{{ path('logout') }}">
          <div class="icon-w">
            <img src="{{ asset('build/images/icon/exit.png') }}" alt="deconnexion">
          </div>
          <span>{{ 'menu.logout' | trans }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}


{% block body %}
  <div class="content-i">
    <div class="content-box">
      {# Liens #}
      <div class="row">
        <div class="col-sm-12">
          <div class="element-wrapper">
            <div class="element-actions">
              <form class="form-inline justify-content-sm-end">
                <select class="form-control form-control-sm rounded">
                  <option value="Pending">{{ 'menu.today' | trans }}</option>
                  <option value="Active">{{ 'menu.last_week' | trans }}</option>
                  <option value="Cancelled">{{ 'menu.last_30_days' | trans }}</option>
                </select>
              </form>
            </div>
            <h6 class="element-header"></h6>
            <div class="element-content satisfaction_value">
              <div class="row">
                <div class="col-sm-3">
                  <div class="element-box el-tablo">
                    <div class="label"><a href="{{ path('jobOffer_new') }}">{{ 'menu.apply' | trans }}</a></div>
                    <div class="value">{{ 'job.20_offers' | trans }}</div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="element-box el-tablo">
                    <div class="label"><a href="{{ path('satisfaction_search_new') }}">{{ 'survey.responding_to_surveys' | trans }}</a></div>
                    <div class="value">40%</div>
                    <div class="trending trending-down-basic"><span>12%</span><i
                          class="os-icon os-icon-arrow-2-down"></i></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="element-box el-tablo">
                    <div class="label">{{ 'graduate.creative_graduates' | trans }}</div>
                    <div class="value">89%</div>
                    <div class="trending trending-down-basic"><span>9%</span><i
                          class="os-icon os-icon-graph-down"></i></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="element-box el-tablo">
                    <div class="label">{{ 'menu.companies' | trans }}</div>
                    <div class="value">25%</div>
                    <div class="trending trending-down-basic"><span>9%</span><i
                          class="os-icon os-icon-graph-down"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# Listes des offres d'emploi #}
      <div class="row">
        <div class="col-sm-12">
          <div class="element-wrapper">
            <img src="{{ asset('build/images/icon/job.png') }}" alt="job" class="title-icon" style="margin-bottom: -35px;">
            <h6 class="element-header">{{ 'job.list_of_job_offers' | trans }}</h6>
            <div class="element-box-tp">
              <div class="table-responsive">
                <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap">
                  <thead>
                  <tr>
                    <th>{{ 'menu.title' | trans }}</th>
                    <th>{{ 'menu.profession' | trans }}</th>
                    <th>{{ 'menu.company' | trans }}</th>
                    <th>{{ 'menu.email' | trans }} </th>
                    <th class="no-print">{{ 'menu.see' | trans }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for jobOffer in jobOffers %}
                    <tr>
                      <td>{{ jobOffer.title }}</td>
                      <td>{{ jobOffer.activity.name }}</td>
                      <td>{% if jobOffer.company is not empty %}{{ jobOffer.company }}{% endif %}</td>
                      <td>{{ jobOffer.postedEmail }}</td>
                      <td class="row-actions">
                        <a href="{{ path('jobOffer_show', {'id': jobOffer.id }) }}">
                          <img src="{{ asset('build/images/icon/show_16.png') }}" alt="show">
                        </a>
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block js %}
{#  <script type="application/javascript">#}
{#     // $(document).ready(function () {#}
{#     //    let table = datatable()#}
{#     // });#}
{#  </script>#}
{% endblock %}

