{% if is_granted('ROLE_ADMIN') == true %} {% set base = 'base.html.twig' %}
{% elseif is_granted('ROLE_LEGISLATEUR') == true %} {% set base = 'base_legislator.html.twig' %}
{% elseif is_granted('ROLE_ETABLISSEMENT') == true %} {% set base = 'base_school.html.twig' %}
{% elseif is_granted('ROLE_ENTREPRISE') == true %} {% set base = 'base_company.html.twig' %}
{% else %} {% set base = 'base.html.twig' %}
{% endif %}

{% extends base %}

{% block title %}
    {{ parent() }} {{ 'menu.dashboard' | trans }}
{% endblock %}

{% set user = app.user %}
{% set userCompany = user.company %}
{% set userSchool = user.school %}

{% block navigation %}
    <li class="breadcrumb-item"><span>{{ 'menu.dashboard' | trans }}</span></li>
{% endblock %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {% set pays = 'rien' %}
            {% if idSelectedRegion == null %}
                {% set idSelectedRegion = "0"%}
            {% endif %}

            <div class="element-wrapper">
                <div class="dashboardFilter">
                    <form class="form-inline justify-content-sm-end form-dashboard" action="{{ path('dashboard_index') }}" method="post">
                        <select id="selectCountry" name="selectCountry" class="form-control form-control-sm select-dashboard rounded">
                            {% for country in countries %}
                                {% if country.id == idSelectedCountry %}
                                    <option selected value="{{ country.id }}">{{ country.name }}</option>
                                {% else %}
                                    <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select id="selectRegion" name="selectRegion" class="form-control form-control-sm select-dashboard rounded">
                            {% if idSelectedRegion == "0" %}
                                <option selected value="0">{{ 'menu.all_regions' | trans }}</option>
                            {% else %}
                                <option value="0">{{ 'menu.all_regions' | trans }}</option>
                            {% endif %}
                            {% for region in regions %}
                                {% if region.country.id == idSelectedCountry %}
                                    {% if region.id == idSelectedRegion %}
                                        <option selected value="{{ region.id }}">{{ region.name }}</option>
                                    {% else %}
                                        <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>

                        {#creation du select pour le script onchange du pays#}
                        <select hidden id="regionCountry">
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.country.id }}</option>
                            {% endfor %}
                        </select>

                        {#creation du select allRegions pour le script onchange du pays#}
                        <select hidden id="allRegion">
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>

                        <select id="selectDuration" name="selectDuration" class="form-control form-control-sm  select-dashboard rounded">
                            {% if selectedDuration == "3 mois" %}
                                <option value="3 mois" selected>{{ 'time.3_months' | trans }}</option>
                            {% else %}
                                <option value="3 mois">{{ 'time.3_months' | trans }}</option>
                            {% endif %}

                            {% if selectedDuration == "6 mois" %}
                                <option value="6 mois" selected>{{ 'time.6_months' | trans }}</option>
                            {% else %}
                                <option value="6 mois">{{ 'time.6_months' | trans }}</option>
                            {% endif %}

                            {% if selectedDuration == "1 an" %}
                                <option value="1 an" selected>{{ 'time.1_year' | trans }}</option>
                            {% else %}
                                <option value="1 an">{{ 'time.1_year' | trans }}</option>
                            {% endif %}

                            {% if selectedDuration == "2 ans" %}
                                <option value="2 ans" selected>{{ 'time.2_years' | trans }}</option>
                            {% else %}
                                <option value="2 ans">{{ 'time.2_years' | trans }}</option>
                            {% endif %}
                        </select>
                        <input type="date" name="referenceDate" value="{{referenceDate}}" class="form-control form-control-sm input-dashboard rounded">
                        <button type="submit" class="btn btn-primary btn-dashboard rounded" > {{ 'menu.validate' | trans }} </button>
                    </form>
                    <div class="printTools">
                        <button id="printDashboard" class="btn btn-primary btn-dashboard rounded" ><i class="fa fa-print"></i><span>Export PDF</span></button>
                        <img src="{{ asset('build/images/loading.gif') }}" id="printDashboardLoading" hidden="hidden">
                    </div>
                </div>
                {% set beginDate = convert_date_from_duration(referenceDate, selectedDuration)[0] %}
                {% set endDate = convert_date_from_duration(referenceDate, selectedDuration)[1] %}
            </div>

            <div id="dashboardToPrint">
                {#moyennes sur les etablissements en chiffre#}
                {#/****************************************/#}
                <div class="element-wrapper chartToPrint">
                    <h6 class="element-header">{{ 'school.schools_from_start_to_end' | trans({
                            '%begin_date%': beginDate|date('d/m/Y'),
                            '%end_date%': endDate|date('d/m/Y') })
                        }}
                    </h6>
                    <div class="row">
                        {#diagramme Batons des secteurs d'activités Etablissements #}
                        {#/*******************************************************/#}
                        {#/*******************************************************/#}
                        <div class="col-sm-12">
                            <h6>{{ 'school.schools_by_sector_of_activity' | trans }}</h6>
                            {{ entity_barre_graph(idSelectedCountry, idSelectedRegion, "School", "SectorArea", true, beginDate, endDate) }}
                        </div>
                    </div>
                </div>

                {#moyennes sur les entreprises en chiffre#}
                {#/*************************************/#}
                <div class="element-wrapper chartToPrint">
                    {#                  <h6 class="element-header">{{ "Entreprises"|trans }} {{ "du"|trans}} {{beginDate|date('d/m/Y')}} {{ "au"|trans}} {{endDate|date('d/m/Y')}}</h6>#}
                    <h6 class="element-header">{{ 'company.companies_from_start_to_end' | trans({
                            '%begin_date%': beginDate|date('d/m/Y'),
                            '%end_date%': endDate|date('d/m/Y') })
                        }}
                    </h6>
                    <div class="row">
                        {#diagramme Anneau des secteurs d'activités Entreprises #}
                        {#/****************************************************/#}
                        {#/****************************************************/#}
                        <div class="col-sm-12">
                            <h6>{{ 'company.companies_by_sector_of_activity' | trans }}</h6>
                            {{ entity_portion_cheese(idSelectedCountry, idSelectedRegion, "Company", "SectorArea", true, null, beginDate, endDate) }}
                        </div>
                    </div>
                    {% if userCompany == null %}
                        <div class="row">
                            {#diagramme Anneau des statuts juridiques#}
                            {#/*************************************/#}
                            <div class="col-sm-12">
                                <h6>{{ 'company.companies_by_legal_status' | trans }}</h6>
                                {{ entity_portion_cheese(idSelectedCountry, idSelectedRegion, "Company", "LegalStatus", true, null, beginDate, endDate) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if userCompany == null %}
                        <h6>{{ 'company.measures_of_satisfaction_of_companies_that_have_hired_graduates' | trans }}</h6>
                        <div class="element-content satisfaction_value">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="element-box el-tablo">
                                        <div class="label">{{ 'company.overall_satisfaction' | trans }}: </div>
                                        <div class="value">{{ company_satisfaction_skill_rate(idSelectedCountry, idSelectedRegion, "levelSkill", ["très insatisfaisant", "insatisfaisant", "satisfaisant ; entre les deux", "bon", 'excellent'], beginDate, endDate)}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="element-box el-tablo">
                                                <div class="label">{{ 'company.general_knowledge' | trans }}:</div>
                                                <div class="value">{{ company_satisfaction_skill_rate(idSelectedCountry, idSelectedRegion, "levelGlobalSkill", ["très insatisfaisant", "insatisfaisant", "satisfaisant ; entre les deux", "bon", "excellent"], beginDate, endDate) }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="element-box el-tablo">
                                                <div class="label">{{ 'company.technical_skills' | trans }}:</div>
                                                <div class="value">{{ company_satisfaction_skill_rate(idSelectedCountry, idSelectedRegion, "levelTechnicalSkill", ["très insatisfaisant", "insatisfaisant", "satisfaisant ; entre les deux", "bon", "excellent"], beginDate, endDate) }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="element-box el-tablo">
                                                <div class="label">{{ 'company.communication_and_hse' | trans }}:</div>
                                                <div class="value">{{ company_satisfaction_skill_rate(idSelectedCountry, idSelectedRegion, "levelCommunicationHygieneHealthEnvSkill", ["très insatisfaisant", "insatisfaisant", "satisfaisant ; entre les deux", "bon", "excellent"], beginDate, endDate) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if userCompany == null %}
                    <div class="element-wrapper">
                        <h6>{{ 'company.average_number_in_terms_of_projected_hiring_in_the_next_6_months' | trans }}</h6>
                        <div class="element-content satisfaction_value">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="element-box el-tablo">
                                        <div class="label">1-{{ 'company.worker' | trans }}: </div>
                                        <div class="value">{{ company_satisfaction_hire_rate(idSelectedCountry, idSelectedRegion, "ouvrier",["0", "de 1 à 5", "de 6 à 10", "> 10"], beginDate, endDate)}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="element-box el-tablo">
                                        <div class="label">2-{{ 'company.technician' | trans }}:</div>
                                        <div class="value">{{ company_satisfaction_hire_rate(idSelectedCountry, idSelectedRegion, "technicien",["0", "de 1 à 5", "de 6 à 10", "> 10"], beginDate, endDate)}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="element-box el-tablo">
                                        <div class="label">3-{{ 'company.apprentice' | trans }}:</div>
                                        <div class="value">{{ company_satisfaction_hire_rate(idSelectedCountry, idSelectedRegion, "apprenti",["0", "de 1 à 5", "de 6 à 10", "> 10"], beginDate, endDate)}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="element-box el-tablo">
                                        <div class="label">4-{{ 'company.intern' | trans }}:</div>
                                        <div class="value">{{ company_satisfaction_hire_rate(idSelectedCountry, idSelectedRegion, "stagiaire",["0", "de 1 à 5", "de 6 à 10", "> 10"], beginDate, endDate)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {#Taux de satisfactions en chiffre#}
                {#/******************************/#}
                <div class="element-wrapper chartToPrint">
                    {% if userSchool == null %}
                        {#                        <h6 class="element-header">{{ "Diplômés"|trans  }} du {{beginDate|date('d/m/Y')}} au {{referenceDate|date('d/m/Y')}}</h6>#}
                        <h6 class="element-header">{{ 'school.graduates_from_start_to_end' | trans({
                                '%begin_date%': beginDate|date('d/m/Y'),
                                '%end_date%': referenceDate|date('d/m/Y')
                            })
                            }}
                        </h6>
                    {% else %}
                        {#                        <h6 class="element-header">{{ "Vos diplômés"|trans  }} du {{beginDate|date('d/m/Y')}} au {{referenceDate|date('d/m/Y')}}</h6>#}
                        <h6 class="element-header">{{ 'school.your_graduates_from_start_to_end' | trans({
                                '%begin_date%': beginDate|date('d/m/Y'),
                                '%end_date%': referenceDate|date('d/m/Y')
                            })
                            }}
                        </h6>
                    {% endif %}
                    <div class="check_person_degree">{{ check_person_degree_sector_area() }}</div>

                    {#Graph du taux des secteurs d'activités pour les diplômés #}
                    {#/*******************************************************/#}
                    <div class="element-wrapper">
                        {% if userSchool == null %}
                            <h6>{{ 'school.rate_of_graduates_by_sector_of_activity' | trans }}</h6>
                        {% else %}
                            <h6>{{ 'school.rate_of_your_graduates_by_sector_of_activity' | trans }}</h6>
                        {% endif %}

                        {{ entity_portion_cheese(idSelectedCountry, idSelectedRegion, "PersonDegree", "SectorArea", true, userSchool, beginDate, endDate) }}

                        <h6 style="margin-top: -15px; padding-left: 15px"><span >{{ 'school.detail_by_sector_profession' | trans }} </span>
                            <button id="job_rate_btn" class="btn-dashboard">{{ 'menu.show' | trans }}</button></h6>
                    </div>

                    {% if idSelectedCountry>0 %}
                        <div class="job_rate" >{{ show_activities_rate(idSelectedCountry, userSchool, beginDate, endDate) }}</div>
                    {% endif %}
                </div>

                {#Graph du taux des diplômes pour les diplômés #}
                {#/*******************************************/#}
                <div class="element-wrapper chartToPrint">
                    {% if userSchool != null %}
                        <h6>{{ 'school.rate_of_your_graduates_by_degree' | trans }}</h6>
                    {% elseif userCompany != null %}
                        <h6>{{ 'school.graduation_rates_by_degree' | trans }}</h6>
                    {% endif %}
                    {% if userSchool != null or userCompany != null%}
                        {{ entity_portion_cheese(idSelectedCountry, idSelectedRegion, "PersonDegree", "Degree", true, userSchool, beginDate, endDate) }}
                    {% endif %}
                </div>

                <div class="element-wrapper chartToPrint">
                    <h6>{{ 'school.professional_integration_rate_of_graduates' | trans }}</h6>
                    <div class="element-content satisfaction_value">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="element-box el-tablo">
                                    <div class="label">{{ 'school.graduates_in_employment' | trans }}</div>
                                    <div class="value">{{ person_degree_situation_rate(idSelectedCountry, idSelectedRegion, ["TYPE_EMPLOYED"], userSchool, beginDate, endDate) }}</div>
                                    {#<div class="trending trending-down-basic"><span>12%</span><i class="os-icon os-icon-arrow-2-down"></i></div>#}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="element-box el-tablo">
                                    <div class="label">{{ 'school.entrepreneurship_graduates' | trans }}</div>
                                    <div class="value">{{ person_degree_situation_rate(idSelectedCountry, idSelectedRegion, ["TYPE_CONTRACTOR"], userSchool, beginDate, endDate) }}</div>
                                    {#<div class="trending trending-down-basic"><span>9%</span><i class="os-icon os-icon-graph-down"></i></div>#}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="element-box el-tablo">
                                    <div class="label">{{ 'school.unemployed_graduates' | trans }}</div>
                                    <div class="value">{{ person_degree_situation_rate(idSelectedCountry, idSelectedRegion, ["TYPE_SEARCH", "TYPE_STUDY", "TYPE_UNEMPLOYED"], userSchool, beginDate, endDate) }}</div>
                                    {#<div class="trending trending-up"><span>12%</span><i class="os-icon os-icon-arrow-up2"></i></div>#}
                                </div>
                            </div>
                        </div>
                        {% if userSchool == null %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="element-box el-tablo">
                                        <div class="label">{{ 'school.unemployed_graduates_pursuing_studies_related_to_their_first_degree' | trans({'%tag_br%': '<br/>', '%tag_a_start%': '<a>', '%tag_a_end%': '</a>'}) | raw }}</div>
                                        <div class="value">{{ person_degree_unemployed_pursuit_last_degree_rate(idSelectedCountry, idSelectedRegion, true, userSchool, beginDate, endDate) }}</div>
                                        {#<div class="trending trending-up"><span>12%</span><i class="os-icon os-icon-arrow-up2"></i></div>#}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="element-box el-tablo">
                                        <div class="label">{{ 'school.unemployed_graduates_pursuing_studies_unrelated_to_their_first_degree' | trans({'%tag_br%': '<br/>', '%tag_a_start%': '<a>', '%tag_a_end%': '</a>'}) | raw }}</div>
                                        <div class="value">{{ person_degree_unemployed_pursuit_last_degree_rate(idSelectedCountry, idSelectedRegion, false, userSchool,beginDate, endDate) }}</div>
                                        {#<div class="trending trending-up"><span>12%</span><i class="os-icon os-icon-arrow-up2"></i></div>#}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#Graph des raisons du chômage #}
                {#/***************************/#}
                {% if userSchool == null and userCompany == null %}
                    <div class="element-wrapper chartToPrint">
                        <h6>{{ 'school.rate_of_reasons_for_unemployment_of_unemployed_graduates' | trans }}</h6>
                        {{ person_degree_reason_graph(idSelectedCountry, idSelectedRegion, "Reason",["TYPE_SEARCH", "TYPE_STUDY", "TYPE_UNEMPLOYED"], "PersonDegreeUnemployed" ,false, userSchool, beginDate, endDate)}}
                    </div>
                {% endif %}
                {#diagramme Anneau des type de contrats #}
                {#/************************************/#}
                {% if userSchool == null and userCompany == null %}
                    <div class="element-wrapper chartToPrint">
                        <h6>{{ 'school.employed_graduates_by_type_of_contract' | trans }}</h6>
                        {{ entity_portion_cheese(idSelectedCountry, idSelectedRegion, "PersonDegree", "Contract", true, userSchool, beginDate, endDate) }}
                    </div>
                {% endif %}

                {#Graph des raisons de la formation professionelle utile à un entrepreneur #}
                {#/*********************************************************************/#}
                {% if userSchool == null and userCompany == null %}
                    <div class="element-wrapper chartToPrint">
                        <h6>{{ 'school.rate_of_reasons_for_employed_graduates_working_in_occupations_unrelated_to_their_degree' | trans }}</h6>
                        {{ person_degree_reason_graph(idSelectedCountry, idSelectedRegion, "Reason",["TYPE_EMPLOYED"], "PersonDegreeEmployed" ,false, userSchool, beginDate, endDate)}}
                    </div>
                {% endif %}


                {#Graph des raisons de la formation prfessionelle utile à un entrepreneur #}
                {#/**********************************************************************/#}
                {% if userSchool == null and userCompany == null %}
                    <div class="element-wrapper chartToPrint">
                        <h6>{{ 'school.rate_of_reasons_why_the_professional_training_was_useful_to_an_entrepreneurial_graduate' | trans }}</h6>
                        {{ person_degree_reason_graph(idSelectedCountry, idSelectedRegion, "Reason", ["TYPE_CONTRACTOR"], "PersonDegreeContractor" ,false, userSchool, beginDate, endDate)}}
                    </div>
                {% endif %}

                {#Graph des métiers occupés par les diplômés entrepreneurs #}
                {#/*******************************************************/#}
                {% if userSchool is null and userCompany == null %}
                    <div class="element-wrappe chartToPrintr">
                        <div>
                            <h6><span>{{ 'school.rate_of_occupations_held_by_entrepreneurial_graduates' | trans }}</span>
                                <button id="activity_contractor_rate_btn"  class="btn-dashboard">{{ 'menu.show' | trans }}</button></h6>
                        </div>
                        <div class="activity_contractor_rate" >
                            {{ person_degree_reason_graph(idSelectedCountry, idSelectedRegion, "Activity", ["TYPE_CONTRACTOR"], "PersonDegreeContractor" ,true, userSchool, beginDate, endDate)}}
                        </div>
                    </div>
                {% endif %}

                {% if userCompany == null %}
                    <div class="element-wrapper chartToPrint">
                        <div class="row">
                            {#Evolution du nombre de création d'Etablissements par jour#}
                            {#/*******************************************************/#}
                            <div class="col-sm-12">
                                <h6 class="element-header">{{ 'school.evolution_of_the_number_of_creation_of_schools' | trans }}</h6>
                                <div class="element-box">
                                    <div class="os-tabs-w">
                                        <div class="os-tabs-controls">
                                            <ul class="nav nav-tabs smaller">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"  href="index.html#tab_overview">{{ 'menu.global_view' | trans }}</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills smaller hidden-sm-down">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="index.html#">{{ referenceDate|date("d/m/Y") }} depuis {{ selectedDuration }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_overview">
                                                <div class="el-tablo">
                                                    {{ nb_actor_evolution("Profile", idSelectedCountry, idSelectedRegion,"School", "Etablissements",selectedDuration, null, beginDate, endDate)}}
                                                </div>
                                                <div class="el-chart-w">
                                                    <canvas height="90px" id="lineChartProfileSchool" width="300px"></canvas>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_sales"></div>
                                            <div class="tab-pane" id="tab_conversion"></div>
                                        </div>
                                    </div>
                                    <div class="el-tablo">
                                        <div class="label">
                                            {{ 'dashboard.legend' | trans }}:
                                            BM: 2 {{ 'dashboard.months' | trans }} ,
                                            M: 1 {{ 'dashboard.month' | trans }} ,
                                            BS: 2 {{ 'dashboard.weeks' | trans }},
                                            S: 1 {{ 'dashboard.week' | trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element-wrapper chartToPrint">
                        <div class="row">
                            {#Evolution du nombre de création de Diplômés par jour#}
                            {#/**************************************************/#}
                            <div class="col-sm-6">
                                <h6 class="element-header">{{ 'school.evolution_of_the_number_of_creation_of_the_graduates' | trans }}</h6>
                                <div class="element-box">
                                    <div class="os-tabs-w">
                                        <div class="os-tabs-controls">
                                            <ul class="nav nav-tabs smaller">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"  href="index.html#tab_overview">{{ 'menu.global_view' | trans }}</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills smaller hidden-sm-down">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="index.html#">{{ referenceDate|date("d/m/Y") }} depuis {{ selectedDuration }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_overview">
                                                <div class="el-tablo">
                                                    {{ nb_actor_evolution("Profile", idSelectedCountry, idSelectedRegion,"PersonDegree", "Diplômés",selectedDuration, userSchool, beginDate, endDate)}}
                                                </div>
                                                <div class="el-chart-w">
                                                    <canvas height="90px" id="lineChartProfilePersonDegree" width="300px"></canvas>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_sales"></div>
                                            <div class="tab-pane" id="tab_conversion"></div>
                                        </div>
                                    </div>
                                    <div class="el-tablo">
                                        <div class="label">
                                            {{ 'dashboard.legend' | trans }}:
                                            BM: 2 {{ 'dashboard.months' | trans }} ,
                                            M: 1 {{ 'dashboard.month' | trans }} ,
                                            BS: 2 {{ 'dashboard.weeks' | trans }},
                                            S: 1 {{ 'dashboard.week' | trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#Evolution du nombre création d'Entreprises par jour#}
                            {#/*************************************************/#}
                            <div class="col-sm-6">
                                <h6 class="element-header">{{ 'company.evolution_of_the_number_of_companies_created' | trans }}</h6>
                                <div class="element-box">
                                    <div class="os-tabs-w">
                                        <div class="os-tabs-controls">
                                            <ul class="nav nav-tabs smaller">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"  href="index.html#tab_overview">{{ 'menu.global_view' | trans }}</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills smaller hidden-sm-down">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="index.html#">{{ referenceDate|date("d/m/Y") }} depuis {{ selectedDuration }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_overview">
                                                <div class="el-tablo">
                                                    {{ nb_actor_evolution("Profile", idSelectedCountry, idSelectedRegion,"Company","Entreprises",selectedDuration, null, beginDate, endDate)}}
                                                </div>
                                                <div class="el-chart-w">
                                                    <canvas height="90px" id="lineChartProfileCompany" width="300px"></canvas>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_sales"></div>
                                            <div class="tab-pane" id="tab_conversion"></div>
                                        </div>
                                    </div>
                                    <div class="el-tablo">
                                        <div class="label">
                                            {{ 'dashboard.legend' | trans }}:
                                            BM: 2 {{ 'dashboard.months' | trans }} ,
                                            M: 1 {{ 'dashboard.month' | trans }} ,
                                            BS: 2 {{ 'dashboard.weeks' | trans }},
                                            S: 1 {{ 'dashboard.week' | trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element-wrapper chartToPrint">
                        <div class="row">
                            {#Evolution du nombre d'enquêtes Diplômés par jour#}
                            {#/**********************************************/#}
                            <div class="col-sm-6">
                                <h6 class="element-header">{{ 'school.evolution_of_the_number_of_surveys_of_graduates' | trans }}</h6>
                                <div class="element-box">
                                    <div class="os-tabs-w">
                                        <div class="os-tabs-controls">
                                            <ul class="nav nav-tabs smaller">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"  href="index.html#tab_overview">{{ 'menu.global_view' | trans }}</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills smaller hidden-sm-down">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="index.html#">{{ referenceDate|date("d/m/Y") }} depuis {{ selectedDuration }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_overview">
                                                <div class="el-tablo">
                                                    {{ nb_actor_evolution('Quizz', idSelectedCountry, idSelectedRegion,"PersonDegree", "Diplômés",selectedDuration, userSchool, beginDate, endDate)}}
                                                </div>
                                                <div class="el-chart-w">
                                                    <canvas height="90px" id="lineChartQuizzPersonDegree" width="300px"></canvas>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_sales"></div>
                                            <div class="tab-pane" id="tab_conversion"></div>
                                        </div>
                                    </div>
                                    <div class="el-tablo">
                                        <div class="label">
                                            {{ 'dashboard.legend' | trans }}:
                                            BM: 2 {{ 'dashboard.months' | trans }} ,
                                            M: 1 {{ 'dashboard.month' | trans }} ,
                                            BS: 2 {{ 'dashboard.weeks' | trans }},
                                            S: 1 {{ 'dashboard.week' | trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#Evolution du nombre d'enquêtes Entreprises par jour#}
                            {#/*************************************************/#}
                            <div class="col-sm-6">
                                <h6 class="element-header">{{ 'company.evolution_of_the_number_of_investigations_by_companies' | trans }}</h6>
                                <div class="element-box">
                                    <div class="os-tabs-w">
                                        <div class="os-tabs-controls">
                                            <ul class="nav nav-tabs smaller">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"  href="index.html#tab_overview">{{ 'menu.global_view' | trans }}</a>
                                                </li>
                                            </ul>
                                            <ul class="nav nav-pills smaller hidden-sm-down">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab"
                                                       href="index.html#">{{ referenceDate|date("d/m/Y") }} depuis {{ selectedDuration }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_overview">
                                                <div class="el-tablo">
                                                    {{ nb_actor_evolution('Quizz', idSelectedCountry, idSelectedRegion,"Company", "Entreprises",selectedDuration, null, beginDate, endDate)}}
                                                </div>
                                                <div class="el-chart-w">
                                                    <canvas height="90px" id="lineChartQuizzCompany" width="300px"></canvas>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_sales"></div>
                                            <div class="tab-pane" id="tab_conversion"></div>
                                        </div>
                                    </div>
                                    <div class="el-tablo">
                                        <div class="label">
                                            {{ 'dashboard.legend' | trans }}:
                                            BM: 2 {{ 'dashboard.months' | trans }} ,
                                            M: 1 {{ 'dashboard.month' | trans }} ,
                                            BS: 2 {{ 'dashboard.weeks' | trans }},
                                            S: 1 {{ 'dashboard.week' | trans }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            graphCreation("School", "SectorArea");
            donutCreation("Company", "SectorArea");
            donutCreation("Company", "LegalStatus");
            donutCreation("PersonDegree", "SectorArea");
            donutCreation("PersonDegree", "Contract");
            donutCreation("PersonDegree", "Degree");
            graphCreation("PersonDegreeUnemployed", "Reason");
            graphCreation("PersonDegreeEmployed", "Reason");
            graphCreation("PersonDegreeContractor", "Reason");
            graphCreation("PersonDegreeContractor", "Activity");
            timeGraphCreation("Profile","School", "duration");
            timeGraphCreation("Profile","PersonDegree", "duration");
            timeGraphCreation("Profile","Company", "duration");
            timeGraphCreation("Quizz","PersonDegree", "duration");
            timeGraphCreation("Quizz","Company", "duration");


            $('.job_rate').attr('hidden', 'hidden');
            $('#job_rate_btn').on('click', function () {
                if($('.job_rate').is(":hidden")) {
                    $('.job_rate').removeAttr('hidden');
                    $('#job_rate_btn').text("occulter");
                } else {
                    $('.job_rate').attr('hidden', 'hidden');
                    $('#job_rate_btn').text("afficher");
                }
            })

            $('.activity_contractor_rate').attr('hidden', 'hidden');
            $('#activity_contractor_rate_btn').on('click', function () {
                if($('.activity_contractor_rate').is(":hidden")) {
                    $('.activity_contractor_rate').removeAttr('hidden');
                    $('#activity_contractor_rate_btn').text("occulter");
                } else {
                    $('.activity_contractor_rate').attr('hidden', 'hidden');
                    $('#activity_contractor_rate_btn').text("afficher");
                }
            })

            // Mise à jour du select région en fonction du pays
            $('#selectCountry').on('change', function () {
                activeRegion($('#selectCountry option:selected').val(), $('#selectRegion option:selected').val());
            })
            function activeRegion(idCountry) {
                $('#selectRegion option').each(function () {
                    $(this).remove();
                })
                $('#regionCountry option').each(function () {
                    if($(this).text() == idCountry) {
                        let selectedRegion = $(this).val();
                        $('#allRegion option').each(function () {
                            if($(this).val() ==  selectedRegion) {
                                $('#selectRegion').append('<option value="' + $(this).val() + '">' + $(this).text() + '</option>');
                            }
                        })
                    }
                })
                $('#selectRegion').prepend($('<option selected value="0">Toutes Régions</option>'));
            }

            $(".dnSlide-main").dnSlide({
                "response": true,
                "isOddShow": false,
                "precentWidth": "40%",
                "autoPlay": true,
                "delay": 3000,
                "speed": 500,
                "verticalAlign": "bottom", // or 'bottom', 'top'
            });
        })
    </script>
{% endblock %}
