{% extends 'region/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/locality.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'region.list_of_regions' | trans }}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
{#                                <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                <a class="btn btn-sm btn-primary" href="{{ path('region_new') }}">
                                    <i class="fa fa-plus"></i> {{ 'region.add_a_region' | trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table_with_width_export" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th>Id</th>
                                <th>{{ 'menu.name' | trans }}</th>
                                <th>{{ 'menu.country' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for region in regions %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('region_edit', { 'id': region.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('region_show', { 'id': region.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" onclick="deleteElement('{{ path('region_delete', {'id': region.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td>
                                    <td><a href="{{ path('region_show', { 'id': region.id }) }}">{{ region.id }}</a></td>
                                    <td>{{ region.name }}</td>
                                    <td>{% if region.country is not null %}{{ region.country.name }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       makeSelected('region')
    </script>
{% endblock %}
