{% extends 'region/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/locality.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'region.list_of_regions' | trans }}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    {%  if roleUser == "Administrateur" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
    {#                                <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                    <a class="btn btn-sm btn-primary" href="{{ path('region_new') }}">
                                        <i class="fa fa-plus"></i> {{ 'region.add_a_region' | trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table_with_width_export" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                {%  if roleUser == "Administrateur" %}
                                    <th class="no-print">Actions</th>
                                    <th>Id</th>
                                {% endif %}
                                <th>{{ 'menu.name' | trans }}</th>
                                <th>{{ 'menu.country' | trans }}</th>
                                {% if struct_province_country_city == 'true' %}
                                    <th>{{ 'currency.iso_code' | trans }} 3</th>
                                    <th> {{ 'menu.currency' | trans }} </th>
                                    <th>Ind T&eacute;l.</th>
                                    <th>Nb digit Tél.</th>
                                    <th> {{ 'menu.valid' | trans }} </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for region in regions %}
                                <tr>
                                    {%  if roleUser == "Administrateur"%}
                                        <td class="row-actions">
                                            <a href="{{ path('region_edit', { 'id': region.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                            <a href="{{ path('region_show', { 'id': region.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                            <a class="danger" onclick="deleteElement('{{ path('region_delete', {'id': region.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        </td>
                                        <td><a href="{{ path('region_show', { 'id': region.id }) }}">{{ region.id }}</a></td>
                                    {% endif %}
                                    <td>{{ region.name | trans}}</td>
                                    <td>{% if region.country is not null and region.country != "NULL" %}
                                            {{ region.country.name | trans}}
                                        {% endif %}
                                    </td>
                                    {# adaptation DBTA #}
                                    {% if struct_province_country_city == 'true' %}
                                        <td>{{ region.isoCode }}</td>
                                        <td>{{ region.currency }}</td>
                                        <td>{{ region.phoneCode }}</td>
                                        <td>{{ region.phoneDigit }}</td>
                                        {% if region.valid == true %}<td>X</td>{% else %}<td></td>{% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       makeSelected('region')
    </script>
{% endblock %}
