{{ form_widget(form._token) }}
<div class="form-global">
  <fieldset>
    <legend><span> {{ 'menu.identity' | trans }} </span></legend>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.registration' | trans }}</label>
        {{ form_widget(form.registration) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.registration)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.type' | trans }} * </label>
        {{ form_widget(form.type) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.type)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.name' | trans }} * </label>
        {{ form_widget(form.name) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.name)}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for=""> {{ 'menu.description' | trans }} </label>
        {{ form_widget(form.description) }}
        <div class="help-block form-text with-errors form-control-feedback"></div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.address' | trans }} </span></legend>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.country' | trans }} * </label>
        {{ form_widget(form.country) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.region' | trans }} / Province * </label>
        {{ form_widget(form.region) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.region)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.city' | trans }} * </label>
        {{ form_widget(form.city) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.city)}}</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.number' | trans }} </label>
        {{ form_widget(form.addressNumber) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressNumber)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.street' | trans }} </label>
        {{ form_widget(form.addressRoad) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressRoad)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.location' | trans }} </label>
        {{ form_widget(form.addressLocality) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.addressLocality)}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for=""> {{ 'menu.latitude' | trans }} </label>
        {{ form_widget(form.latitude) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.latitude) }}</div>
      </div>
      <div class="col-sm-4 form-group">
        <label for=""> {{ 'menu.longitude' | trans }} </label>
        {{ form_widget(form.longitude) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.longitude) }}</div>
      </div>
      <div class="col-sm-4 form-group form-check">
        <label class="center" for="">Mode</label>
        {{ form_widget(form.locationMode) }}
        <div class="slider round">
          <span class="manual">{{ 'menu.manual' | trans }}</span>
          <span class="auto">Auto</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.locationMode) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'menu.contact' | trans }}</span></legend>
    <div class="row">
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.connection_phone_country_code_number' | trans }} * </label>
        {{ form_widget(form.phoneStandard) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneStandard)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.other_phone_country_code_number' | trans }} </label>
        {{ form_widget(form.phoneOther) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phoneOther)}}</div>
      </div>
      <div class="form-group col-sm-4">
        <label for=""> {{ 'menu.email' | trans }} *</label>
        {{ form_widget(form.email) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email)}}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span>{{ 'school.proposed_certificates_degrees' | trans }} </span></legend>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="">  {{ 'school.several_possible_choices' | trans }} * </label>
        {{ form_widget(form.degrees) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.degrees)}}</div>
      </div>
      <div class="hide_flex_otherDegree col-sm-6">
        <div class="form-group col-sm-12" style="padding: 0">
          <label for="">  {{ 'school.other_degree_separated_by_a_comma_if_more_than_one' | trans }} </label>
          {{ form_widget(form.otherDegree) }}
          <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherDegree)}}</div>
        </div>
      </div>
    </div>
  </fieldset>
  {# SECTEURS D'ACTIVITES #}
  <fieldset>
    <legend><span>{{ 'school.training_offers_1_sector_minimum_and_6_maximum' | trans }}</span></legend>
    <div class="row">
      {# Bouton de recherche d'activité #}
      {#{{ include('_head.html.twig') }}#}
      <div class="col-sm-12 form-group">
        <label for=""> {{ 'school.search_for_your_channels' | trans }}</label>
        <div class="input-group">
          <input type="text" name="search"  id="activity_keyword" class="form-control" placeholder={{ 'school.search_for_your_channels' | trans }}>
          <div class="input-group-btn">
            <button type="button" class="btn btn-info" id="activity_search" data-toggle="modal" data-target="#find_activity"><span class="fa fa-search" style="color:#fff"></span></button>
          </div>
        </div>
        <!-- Pop-up -->
        <div id="find_activity" class="modal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <p> {{ 'school.list_of_courses_of_study' | trans }} </p>
              </div>
              <div class="modal-body">
                <table class="dataTable table-bordered" id="activity_founded">
                </table>
                <p> {{ 'school.select_the_channels_to_add' | trans }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="activities_add" onclick="addActivities('#activity_founded')">{{ 'menu.add' | trans }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'menu.close' | trans }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-separator"></div>
    <div class="row">
      {# Secteur d'activité 1 #}
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{ 'menu.activity_area' | trans }} 1 *</label>
            {{ form_widget(form.sectorArea1) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea1) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity1" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity1) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity1) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }} *</label>
        {{ form_widget(form.activities1)}}
        {#{{ show_activities(form.activities1, school.activities1, school.sectorArea1, "Autre filière")}}#}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities1) }}</div>
      </div>
    </div>
    <div class="line-separator"></div>
    {# Secteur d'activité 2 #}
    <div class="row">
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            {#<label for=""> Secteur d'activité (2)</label>#}
            <label for=""> {{ 'menu.activity_area' | trans }} 2</label>
            {{ form_widget(form.sectorArea2) }}
            {% if not form.sectorArea2 %}
              {{ form_widget(form.sectorArea2) }}
            {% endif %}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea2) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity2" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity2) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity2) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }}</label>
            {{ form_widget(form.activities2) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities2) }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="line-separator"></div>
    {# Secteur d'activité 3 #}
    <div class="row">
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{ 'menu.activity_area' | trans }} 3</label>
            {{ form_widget(form.sectorArea3) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea3) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity3" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity3) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity3) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }}</label>
        {{ form_widget(form.activities3) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities3) }}</div>
      </div>
    </div>
    <div class="line-separator"></div>
    {# Secteur d'activité 4 #}
    <div class="row">
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{ 'menu.activity_area' | trans }} 4</label>
            {{ form_widget(form.sectorArea4) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea4) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity4" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity4) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity4) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }}</label>
        {{ form_widget(form.activities4) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities4) }}</div>
      </div>
    </div>
    <div class="line-separator"></div>
    {# Secteur d'activité 5 #}
    <div class="row">
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{ 'menu.activity_area' | trans }} 5</label>
            {{ form_widget(form.sectorArea5) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea5) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity5" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity5) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity5) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }}</label>
        {{ form_widget(form.activities5) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities4) }}</div>
      </div>
    </div>
    <div class="line-separator"></div>
    {#Secteur d'activité 6#}
    <div class="row">
      <div class="col-sm-6 form-group">
        <div class="row" style="margin:0">
          <div class="col-sm-12 form-group without-margin without-padding">
            <label for=""> {{ 'menu.activity_area' | trans }} 6</label>
            {{ form_widget(form.sectorArea6) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.sectorArea6) }}</div>
          </div>
          <div class="col-sm-12 form-group without-padding hide_flex_otherActivity6" hidden="hidden">
            <label for=""> Autre Filière</label>
            {{ form_widget(form.otherActivity6) }}
            <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.otherActivity6) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <label for=""> {{'menu.faculty' | trans}} - {{ 'school.several_possible_choices' | trans }}</label>
        {{ form_widget(form.activities6) }}
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.activities6) }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend><span> {{ 'menu.right_to_data_protection' | trans }} </span></legend>
    <div class="row">
      <div class="col-sm-12 form-check">
        <label for=""> {{ 'menu.click_yes_if_you_agree' | trans  }} </label>
        {% if school.agreeRgpd == false %}
          <label style="color: red" for="appbundle_school_agreeRgpd"> {{ 'menu.click_no_if_you_no_longer_agree_school_with_tag' | trans({'%tag_br%': '<br/>'}) | raw }} </label>
        {% else %}
          <label style="color: red" for="appbundle_school_agreeRgpd">{{'menu.click_no_if_you_no_longer_agree_school_with_tag' | trans({'%tag_br%': '<br/>'}) | raw}} </label>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 form-check school_agree_rgpd">
        {{ form_widget(form.agreeRgpd) }}
        <div class="slider round">
          <span class="non">{{ 'menu.no' | trans }}</span>
          <span class="oui">{{ 'menu.yes' | trans }}</span>
        </div>
        <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.agreeRgpd) }}</div>
      </div>
      <div class="col-sm-6">
        <a target="_blank" href="{{ path('rgpd_informations') }}"> {{ 'menu.information_on_the_protection_of_personal_data_pdp' | trans }} </a>
      </div>
    </div>
  </fieldset>
  {{ form_widget(form.mapsAddress) }}

  {# Affichages des activities #}
  {{ show_allactivities() }}

  {% if is_granted('ROLE_ETABLISSEMENT') %}
    <input style="display: none" value="ROLE_ETABLISSEMENT" id="role">
  {% else %}
    <input style="display: none" value="ROLE_OTHER" id="role">
  {% endif %}

  <input style="display: none" value="{{ school.personDegrees|length }}" id="personDegrees">
</div>

<select hidden id="selectedCountry">
  {%  if selectedCountry is not null %}
    <option value="{{ selectedCountry.id }}">{{ selectedCountry.name }}</option>
  {%  endif %}
</select>

{% if school is not null and school.country is not null %}
  <input style="display: none" value="{{ school.country.phoneCode }}" id="countryPhoneCode">
{% endif %}

<div><span><br>* :  {{ 'menu.required_field' | trans }} </span></div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="button" id="buttonSchool" onclick="preventDefaultSubmit()"> {{ 'menu.validate' | trans }} </button>
  <button class="btn btn-primary" type="submit" id="submitSchool" hidden="hidden"> {{ 'menu.validate' | trans }} </button>
</div>
