{% extends 'company/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {% set rowNumber = 0 %}
            <div id="test1"></div>

            <div class="element-wrapper">
                {% if app.user.roles|role == "Administrateur" %}
                    <img src="{{ asset('build/images/icon/degree.png') }}" alt="locality" class="title-icon"
                         style="margin-bottom: -35px;">
                {% endif %}
                <h6 class="element-header">Enrollement d'entreprises</h6>
                <div class="element-box">
                    {# <script>alert("role =" + {{ app.user.roles|role }})</script> #}
                    {% if app.user.roles|role == "Etablissement" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% set lien_images = asset('build/images/icon/') %}
                                    <a class="btn btn-sm btn-primary" href="#" id="importCSV">Import CSV</a>
                                    <button class="btn btn-sm btn-primary" id="addCompany"
                                            onclick="addRowCompany('{{ lien_images }}')">Ajouter Entreprise
                                    </button>

                                    <!--a class="btn btn-sm btn-primary" href="#">Archiver</a-->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap"
                               style="width:100%">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>Nom</th>
                                <th>Région</th>
                                <th>Ville</th>
                                <th>téléphone</th>
                                <th>Email</th>
                                <th>Secteur</th>
                                <th>Statut juridique</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyCompany">
                            {% for company in companies %}
                                {% set rowNumber = rowNumber + 1 %}
                                {{ app.session.set('rowNumber', rowNumber) }}
                                {{ add_row_company(rowNumber, company, asset('build/images/icon/')) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary" id="editAll" onclick="editAll('')">Editer tout</button>
                <button class="btn btn-sm btn-primary" id="editAll" onclick="saveAll('')">Sauvegarder Selection</button>
            </div>
            <input style="display: none" id="rowNumber" value="{{ rowNumber }}">
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        /*$(document).ready(function () {
           let table = datatable(true)
        });*/
    </script>

    <script>
        function addRowCompany(assetLocationIcon) {
            let rowNumber = $('#rowNumber').val();
            rowNumber++;
            $('#rowNumber').val(rowNumber);
            let colorBack = "odd";

            let html = '<tr class="enrollcompany ' + colorBack + '" id="company' + rowNumber + '" role="row">';
            html += '    <td class="row-actions sorting_1">';
            html += '        <span style="display: none" >undefined</span>';
            html += '        <button id="edit' + rowNumber + '" onclick="displayButton(\'edit\',' + rowNumber + ')"><img src="' + assetLocationIcon + 'edit_16.png"></button>';
            html += '        <button style="display: none"  id="remove' + rowNumber + '" onclick="displayButton(\'remove\',' + rowNumber + ')"><img src="' + assetLocationIcon + 'delete.png"></button>';
            html += '        <button style="display: none"  id="save' + rowNumber + '" onclick="displayButton(\'save\',' + rowNumber + ')"><img src="' + assetLocationIcon + 'save_16.png"></button>';
            html += '        <button style="display: none"  id="cancel' + rowNumber + '" onclick="displayButton(\'cancel\',' + rowNumber + ')"><img src="' + assetLocationIcon + 'cancel_16.png"></button>';
            html += '    </td>';
            html += '    <td><input id="name' + rowNumber + '" style="display:none" value="nom"><p>nom</p></td>';
            html += '    <td><input id="region' + rowNumber + '" style="display:none" value="Thiès"><p>Thiès</p></td>';
            html += '    <td><input id="city' + rowNumber + '" style="display:none" value="Thiès"><p>Thiès</p></td>';
            html += '    <td><input id="phoneStandard' + rowNumber + '" style="display:none" value="+221555555504"<p>+221555555504</p></td>';
            html += '    <td><input id="email' + rowNumber + '" style="display:none" value="monemail@mail.com"><p>monemail@mail.com</p></td>';
            html += '    <td><input id="sectorarea' + rowNumber + '" style="display:none" value="CONSTRUCTION, BÂTIMENT ET TRAVAUX PUBLICS"><p>CONSTRUCTION, BÂTIMENT ET TRAVAUX PUBLICS</p></td>';
            html += '    <td><input id="legalStatus' + rowNumber + '" style="display:none" value="SARL"><p>SARL</p></td>';

            html += '</tr>';

            $('#tbodyCompany').append(html);
            let idtest = "#edit" + rowNumber;
            $(idtest).addClass("editCompany");
        }

        function displayButton(action, rowNumber) {
            let save = "#save" + rowNumber;
            let cancel = "#cancel" + rowNumber;
            let edit = "#edit" + rowNumber;
            let remove = "#remove" + rowNumber;

            /* récupération de l'id de l'entreprise si existant */
            companyId = $("#id" + rowNumber).text();

            /* Affichage des buttons */
            /* --------------------- */
            if (action == "edit") {
                $(save).css("display", "inline-block");
                $(cancel).css("display", "inline-block");
                $(edit).css("display", "none");
                $(remove).css("display", "none");
            } else if ((action == "save") || (action == "cancel")) {
                $(save).css("display", "none");
                $(cancel).css("display", "none");
                $(edit).css("display", "inline-block");
                if (companyId)
                    $(remove).css("display", "inline-block");
            }
            /* Affichage des inputs et des p */
            /* ----------------------------- */
            row = $(edit).attr('id').replace("edit", "#company");
            //console.log(row);
            $(row).each(function () {
                if (action == "edit") {
                    $(this).find('input').each(function () {
                        $(this).css("display", "inline-block");
                    });
                    $(this).find('p').each(function () {
                        $(this).css("display", "none");
                    });
                } else if ((action == "save") || (action == "cancel")) {
                    $(this).find('input').each(function () {
                        $(this).css("display", "none");
                    });
                    $(this).find('p').each(function () {
                        $(this).css("display", "inline-block");
                    });
                }
            });

            /* Appels Ajax pour la sauvegarde et la suppression  */
            /* ------------------------------------------------- */
            if (action == "save") {
                if (confirm("Etes vous sûr de modifier cette entrée ?")) {
                    /* creation de la table des données */
                    /* -------------------------------- */
                    let company = [];
                    //console.log("row=" + row);
                    company = {};

                    /* récupération de l'id de l'entreprise si existant */
                    company["id"] = $("#id" + rowNumber).text();

                    /* récupération des données saisies dans les inputs */
                    /*------------------------------------------------- */
                    $(row).each(function () {
                        $(this).find('input').each(function () {
                            /*récupération du Label en enlevant le numero du rowNumber */
                            let nbDigitsRowNumber = rowNumber.toString().length;

                            let inputLabel = $(this).attr('id');
                            inputLabel = inputLabel.substring(0, inputLabel.length - nbDigitsRowNumber);
                            //console.log(inputLabel + " | " + nbDigitsRowNumber + " | " + rowNumber);

                            company[inputLabel] = $(this).val();
                        });
                    });

                    console.log(company)

                    /* appel ajax en get pour sauvegarder l'entreprise */
                    /* --------------------------------------------- */
                    data = {"test1": "toto", "test2": "tata"};
                    let dirs = window.location.href.split('/');
                    let $locationRef = "";
                    for (let i = 0; i < dirs.length - 1; i++)
                        $locationRef += dirs[i] + '/';
                    console.log($locationRef + 'companyUpdateAjax');

                    $.get($locationRef + 'companyUpdateAjax/', data).done(function (res) {
                        console.log(res)
                        /*
                         FONCTION A REALISER:
                         ENVOYER LES DONNEES AU SERVEUR
                         SI ID EST NULL : CREER L'ENTREPRISE
                         SI ID EST NON NULL : UPDATE L'ENTREPRISE
                         METTRE 0 JOUR LES <P> de LA TABLE AVEC LES VALEURS DE LA REPONSE JSON (ENTREPRISE)
                         ATTENTION, METTRE A JOUR L'ID
                         */
                    }, "json");
                }

            } else if (action == "remove") {
                if (confirm("Etes vous sûr de supprimer cette entrée ?")) {
                    /* creation de la table des données */
                    /* -------------------------------- */
                    let company = [];
                    company = {};

                    /* récupération de l'id de l'entreprise si existant */
                    companyId = $("#id" + rowNumber).text();

                    if (companyId) {
                        $.get($locationRef + 'companyDeleteAjax/', companyId).done(function (res) {
                            console.log(res)
                            /*
                             FONCTION A REALISER:
                             ENVOYER L'ID DE L'ENTREPRISE A SUPPRIMER
                             SI L'ENTREPRISE SUPPRIMée (REPONSE AJAX), SUPPRIMER LIGNE DANS LA TABLE
                             */
                        }, "json");
                    }
                }
            }
        }
    </script>
{% endblock %}

