{% extends 'school/content.html.twig' %}
{% set roleUser = app.user.roles|role %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    {%  if roleUser =="Administrateur" %}
                        {{ 'school.list_of_establishments' | trans }}
                    {% elseif roleUser =="Entreprise" %}
                        {{ 'school.list_of_partner_schools' | trans }}
                    {% endif %}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    {%  if roleUser =="Administrateur" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
{#                                    <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                    {#<a class="btn btn-sm btn-primary" href="{{ path('school_new') }}">#}
                                        {#<i class="fa fa-plus"></i> Ajouter une école</a>#}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                {%  if roleUser =="Administrateur" or roleUser =="Législateur" %}
                                    <th class="no-print">Actions</th>
                                {% endif %}
                                {%  if roleUser =="Administrateur" %}
                                    <th>Id</th>
                                {% endif %}
                                {%  if roleUser =="Administrateur" or roleUser =="Législateur" %}
                                    <th>Immat.</th>
                                {% endif %}

                                <th>{{ 'menu.name' | trans }}</th>
                                <th>{{ 'menu.city' | trans }}</th>
                                <th>{{ 'menu.phone' | trans }}</th>
                                <th>{{ 'menu.email' | trans }}</th>
                                {%  if roleUser =="Législateur" %}
                                    <th>{{ 'school.number_of_graduates_with_tag' | trans({'%tag_br%': '<br />'}) | raw }}</th>
                                {% endif %}
                                {%  if roleUser =="Administrateur" or roleUser =="Législateur" %}
                                    <th>{{ 'menu.created_date_with_tag' | trans({'%tag_br%': '<br />'}) | raw }}</th>
                                {% endif %}
                                {%  if roleUser =="Entreprise" %}
                                  <th>{{ 'menu.degree' | trans }}</th>
                                  <th>{{ 'menu.activity_area' | trans }}</th>
                                  <th>{{ 'menu.faculty' | trans }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for school in schools %}
                                <tr>
                                     {%  if roleUser =="Administrateur" %}
                                        <td class="row-actions">
                                          <a href="{{ path('school_edit', { 'id': school.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                          <a href="{{ path('school_show', { 'id': school.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                          <a class="danger" onclick="deleteElement('{{ path('school_delete', {'id': school.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                        </td>
                                        <td>{{ school.id }}</td>
                                        <td>{{ school.registration }}</td>
                                     {% elseif roleUser =="Législateur" %}
                                        <td class="row-actions">
                                          <a href="{{ path('school_show', { 'id': school.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        </td>
                                        <td>{{ school.registration }}</td>
                                     {% endif %}

                                    <td>{{ school.name }}</td>

                                    {%  if roleUser =="Administrateur" %}
                                        <td>{{ school.city }}</td>
                                    {%  elseif roleUser =="Législateur"%}
                                        <td>{{ school.region.name }}, {{ school.city.name }}</td>
                                    {%  elseif roleUser =="Entreprise" %}
                                        <td>{{ school.city.name }}</td>
                                    {% endif %}
                                    <td>{{ school.phoneStandard }}</td>
                                    <td>{{ school.email }}</td>
                                    {%  if roleUser =="Législateur" %}
                                      <td>{{ school.personDegrees | length }}</td>
                                    {% endif %}
                                    {%  if roleUser =="Administrateur" or roleUser =="Législateur" %}
                                      <td>{{ school.createdDate|date('d M Y H:i') }}</td>
                                    {% endif %}
                                  {%  if roleUser =="Entreprise" %}
                                      <td>
                                        {{ school.degrees | join('<br/>') | raw}}
                                      </td>

                                      <td>
                                        {{ school.sectorArea1 }}
                                        {% if school.sectorArea2|length > 0 %} {{ "<br>" | raw }}{{ school.sectorArea2 }} {% endif %}
                                        {% if school.sectorArea3|length > 0 %} {{ "<br>" | raw }}{{ school.sectorArea3}} {% endif %}
                                        {% if school.sectorArea4|length > 0 %} {{ "<br>" | raw }}{{ school.sectorArea4 }} {% endif %}
                                        {% if school.sectorArea5|length > 0 %} {{ "<br>" | raw }}{{ school.sectorArea5 }} {% endif %}
                                        {% if school.sectorArea6|length > 0 %} {{ "<br>" | raw }}{{ school.sectorArea6 }} {% endif %}
                                      </td>

                                      <td>
                                        {{ school.activities1 | join(' / ')}}
                                        {% if school.activities2|length > 0 %} {{ "<br>" | raw }}{{ school.activities2 | join(' / ') }} {% endif %}
                                        {% if school.activities3|length > 0 %} {{ "<br>" | raw }}{{ school.activities3 | join(' / ')}} {% endif %}
                                        {% if school.activities4|length > 0 %} {{ "<br>" | raw }}{{ school.activities4 | join(' / ')}} {% endif %}
                                        {% if school.activities5|length > 0 %} {{ "<br>" | raw }}{{ school.activities5 | join(' / ')}} {% endif %}
                                        {% if school.activities6|length > 0 %} {{ "<br>" | raw }}{{ school.activities6 | join(' / ')}} {% endif %}
                                      </td>
                                  {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  {%  if roleUser == "Entreprise"  %}
                    <p>{{ 'school.please_note_this_ist_comes_from_establishments_that_have_selected_you_as_a_partner' | trans }} </p>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       $(document).ready(function () {
          let table = datatable(true)
       });
       makeSelected('school')
    </script>
{% endblock %}
