{% extends 'school/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {% set rowNumber = 0 %}
            <div class="element-wrapper">
                {%  if app.user.roles|role =="Administrateur" %}
                    <img src="{{ asset('build/images/icon/degree.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                {% endif %}
                <h6 class="element-header">Enrollement de diplômés</h6>
                <div class="element-box">
                    {#<script>alert("role =" + {{ app.user.roles|role }})</script>#}
                    {%  if app.user.roles|role =="Etablissement" %}
                        <div class="controls-above-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% set lien_images = asset('build/images/icon/')  %}
                                    <button class="btn btn-sm btn-primary" id="addPersonDegree" onclick="addRowPersonDegree('{{ lien_images }}')">Ajouter Diplômé</button>
                                    <a class="btn btn-sm btn-primary" href="#" id="importCSV">Import CSV</a>
                                    <!--a class="btn btn-sm btn-primary" href="#">Archiver</a-->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>Actions</th>
                                <th>{{ 'menu.registration' | trans }}</th>
                                <th>{{ 'menu.firstname' | trans }}</th>
                                <th>{{ 'menu.name' | trans }}</th>
                                <th>Date<br>Naissance</th>
                                <th>Genre</th>
                                <th> {{ 'menu.region' | trans }} </th>
                                <th>{{ 'menu.city' | trans }}</th>
                                <th>{{ 'menu.cell_phone' | trans }}</th>
                                <th>portable parent</th>
                                <th>{{ 'menu.email' | trans }}</th>
                                <th>{{ 'menu.degree' | trans }}</th>
                                <th>{{ 'menu.sector' | trans }}</th>
                                <th>{{ 'menu.branch' | trans }}</th>
                                <th>Password</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyPersonDegree">
                            {% for personDegree in personDegrees %}
                                {% set rowNumber = rowNumber + 1%}
                                {{ app.session.set('rowNumber', rowNumber) }}
                                {{ add_row_person_degree(rowNumber, personDegree, asset('build/images/icon/')) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn btn-sm btn-primary" id="editAll" onclick="editAll()">{{ 'menu.edit_all' | trans }}</button>
                <button class="btn btn-sm btn-primary" id="saveAll" onclick="saveAll('')">{{ 'menu.save_all' | trans }}</button>
            </div>
            <input style="display: none" id="rowNumber" value="{{ rowNumber }}">
            <input style="display: none" id="selectedCountry" value="{{ app.user.country.id }}">
            <input style="display: none" id="userRole" value="{{ app.user.roles|role }}">
            <select style="display: none"  id="regions">
                {% for region in regions  %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endfor %}
            </select>
            <select style="display: none"  id="degrees">
                {% for degree in app.user.school.degrees  %}
                    <option value="{{ degree.id }}">{{ degree.name }}</option>
                {% endfor %}
            </select>

            </select>
            <select style="display: none"  id="sectorAreas">
                {% if app.user.school.sectorArea1  %} <option value="{{ app.user.school.sectorArea1.id }}">{{ app.user.school.sectorArea1.name }}</option>{% endif %}
                {% if app.user.school.sectorArea2  %} <option value="{{ app.user.school.sectorArea2.id }}">{{ app.user.school.sectorArea2.name }}</option>{% endif %}
                {% if app.user.school.sectorArea3  %} <option value="{{ app.user.school.sectorArea3.id }}">{{ app.user.school.sectorArea3.name }}</option>{% endif %}
                {% if app.user.school.sectorArea4  %} <option value="{{ app.user.school.sectorArea4.id }}">{{ app.user.school.sectorArea4.name }}</option>{% endif %}
                {% if app.user.school.sectorArea5  %} <option value="{{ app.user.school.sectorArea5.id }}">{{ app.user.school.sectorArea5.name }}</option>{% endif %}
                {% if app.user.school.sectorArea6  %} <option value="{{ app.user.school.sectorArea6.id }}">{{ app.user.school.sectorArea6.name }}</option>{% endif %}
            </select>
            <select style="display: none" id="cities">
            </select>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function editAll() {
            let rowNumber = $('#rowNumber').val();
            if($("#save1").css("display") == "none") {
                for (let i = 1; i <= rowNumber; i++) {
                    row = $("#edit" + i ).attr('id').replace("edit","#personDegree");

                    $("#save" + i).css("display", "inline-block");
                    $("#cancel" + i).css("display", "inline-block");
                    $("#edit" + i).css("display", "none");
                    $("#remove" + i).css("display", "none");

                    $(row).each(function() {
                        $(this).find('input').each(function () {
                            $(this).css("display", "inline-block");
                        });
                        $(this).find('select').each(function () {
                            $(this).css("display", "inline-block");
                        });
                        $(this).find('p').each(function () {
                            $(this).css("display", "none");
                        });
                    })
                }
            } else {
                for (let i = 1; i <= rowNumber; i++) {
                    row = $("#edit" + i ).attr('id').replace("edit","#personDegree");

                    $("#save" + i).css("display", "none");
                    $("#cancel" + i).css("display", "none");
                    $("#edit" + i).css("display", "inline-block");
                    $("#remove" + i).css("display", "inline-block");

                    $(row).each(function() {
                        $(this).find('input').each(function () {
                            $(this).css("display", "none");
                        });
                        $(this).find('select').each(function () {
                            $(this).css("display", "none");
                        });
                        $(this).find('p').each(function () {
                            $(this).css("display", "inline-block");
                        });
                    })
                }
            }
        }

        function saveAll() {
            let rowNumber = $('#rowNumber').val();
            let edits = [];
            /*  sauvegarde des id à sauvegarder */
            $('.savePersonDegree').each(function () {
                if($(this).css("display") != "none")
                    $id = $(this).attr('id')
            })
            for(let i =1; i<= rowNumber; i++)
                if($("#save" + i).css("display") != "none")
                    if($("#save" + i).attr("id") != null)
                        edits.push($("#save" + i).attr("id").replace("save","")) ;
            //console.log(edits);

            if (confirm("Etes vous sûr de modifier ces " + edits.length + " entrées ?")) {
                for(let i =0; i< edits.length; i++){
                    if ($("#save" + edits[i]).css("display") != "none") {
                        displayButton("save", edits[i], "all");
                    }
                }
            }
        }

        function addRowPersonDegree(assetLocationIcon) {
            let rowNumber = $('#rowNumber').val();
            rowNumber++;
            $('#rowNumber').val(rowNumber);
            let colorBack = "odd";

            let html = '<tr class="enrollpersondegree ' + colorBack + '" id="personDegree'+ rowNumber + '" role="row">';
            html += '    <td class="row-actions sorting_1">';
            html += '        <span style="display: none" id="id'+ rowNumber + '"></span>';
            html += '        <button id="edit'+ rowNumber + '" onclick="displayButton(\'edit\','+ rowNumber + ', \'one\')"><img src="'+ assetLocationIcon + 'edit_16.png"></button>';
            html += '        <button style="display: none"  id="remove'+ rowNumber + '" onclick="displayButton(\'remove\','+ rowNumber + ', \'one\')"><img src="'+ assetLocationIcon + 'delete.png"></button>';
            html += '        <button style="display: none" class="savePersonDegree" id="save'+ rowNumber + '" onclick="displayButton(\'save\','+ rowNumber + ', \'one\')"><img src="'+ assetLocationIcon + 'save_16.png"></button>';
            html += '        <button style="display: none"  id="cancel'+ rowNumber + '" onclick="displayButton(\'cancel\','+ rowNumber + ', \'one\')"><img src="'+ assetLocationIcon + 'cancel_16.png"></button>';
            html += '    </td>';
            html += '    <td class="tdinput"><input id="registrationStudentSchool'+ rowNumber + '" style="display:none" value="" placeholder="N° Identification"><p id="p_registrationStudentSchool'+ rowNumber + '"></p></td>';
            html += '    <td class="tdinput"><input required id="firstname'+ rowNumber + '" style="display:none" value="" placeholder="prénom"><p id="p_firstname'+ rowNumber + '"></p></td>';
            html += '    <td class="tdinput"><input required id="lastname'+ rowNumber + '" style="display:none" value="" placeholder="nom"><p id="p_lastname'+ rowNumber + '"></p></td>';
            html += '    <td class="tdinput"><input required id="birthDate'+ rowNumber + '" type="Date" style="display:none" value="" placeholder="dd/mm/yyyy"><p id="p_birthDate'+ rowNumber + '"></p></td>';
            //html += '    <td class="tdinput"><input id="sex'+ rowNumber + '" style="display:none" placeholder="genre"><p></p></td>';
            html += '    <td class="tdselect"><p id="p_selectSex'+ rowNumber + '"></p><select required class="sex" style="display:none" value="" id="selectSex'+ rowNumber + '" ><option>Selectionnez</option><option>un homme</option><option>une femme</option></select></td>';
            html += '    <td class="tdselect"><p id="p_selectRegion'+ rowNumber + '"></p><select required class="region" style="display:none" value="" id="selectRegion'+ rowNumber + '" ></select></td>';
            html += '    <td class="tdselect"><p id="p_selectAddressCity'+ rowNumber + '"></p><select required class="city" style="display:none" value="" id="selectAddressCity'+ rowNumber + '" placeholder="Sélectionnez une région"></select></td>';
            html += '    <td class="tdinput"><input required id="phoneMobile1'+ rowNumber + '" style="display:none" value="" placeholder="Mobile 1"><p id="p_phoneMobile1'+ rowNumber + '"></p></td>';
            html += '    <td class="tdinput"><input id="phoneMobile2'+ rowNumber + '" style="display:none" value="" placeholder="Mobile 1"><p id="p_phoneMobile2'+ rowNumber + '"></p></td>';
            html += '    <td class="tdinput"><input id="email'+ rowNumber + '" style="display:none" value="" placeholder="email@mail.com"><p id="p_email'+ rowNumber + '"></p></td>';
            html += '    <td class="tdselect"><p id="p_selectDegree'+ rowNumber + '"></p><select style="display:none" required value="" id="selectDegree'+ rowNumber + '" ></select></td>';
            html += '    <td class="tdselect"><p id="p_selectSectorArea'+ rowNumber + '"></p><select style="display:none" required value="" id="selectSectorArea'+ rowNumber + '"  placeholder="Sélectionnez un secteur"></select></td>';
            html += '    <td class="tdselect"><p id="p_selectActivity'+ rowNumber + '"></p><select style="display:none" required value="" id="selectActivity'+ rowNumber + '"  placeholder="Sélectionnez une filière"></select></td>';
            html += '    <td class="tdinput"><p id="p_password'+ rowNumber + '"></p></td>';

            html += '</tr>';

            $('#tbodyPersonDegree').append(html);
            let idtest = "#edit"+ rowNumber;
            $( idtest ).addClass( "editPersonDegree" );
            addOptionRegion(rowNumber);

            // Event
            // Recherches de ville en fonction de la region
            $('#selectRegion' + rowNumber).on('change', function() {
                $regionId = $('#selectRegion' + rowNumber + " option:selected" ).val();
                if($regionId) {
                    addOptionCity($regionId, rowNumber);
                    $("#selectAddressCity"+rowNumber).find('option').remove();
                }
            });

            // Event
            // Recherches des filières en fonction des secteurs
            $('#selectSectorArea' + rowNumber).on('change', function() {
                $sectorAreaId = $('#selectSectorArea' + rowNumber + " option:selected" ).val();
                if($sectorAreaId) {
                    addOptionActivity($sectorAreaId, rowNumber);
                    $("#selectActivity"+rowNumber).find('option').remove();
                }
            });

            // Add des options des diplômes de l'établissement
            if($('#selectDegree' + rowNumber + " option").length == 0)
                addOptionDegree(rowNumber);

            // Add des options des SectorAreas de l'établissement
            if($('#selectSectorArea' + rowNumber + " option").length == 0)
                addOptionSectorArea(rowNumber);

            // Add option de sélection de la région de l'établissement
            ($('#selectAddressCity' + rowNumber + " option").length == 0)
            $("#selectAddressCity"+rowNumber).append("<option value=\"\">Sélectionnez une region</option>");

            // Add option de sélection du SectorAreas de l'établissement
            if($('#selectActivity' + rowNumber + " option").length == 0)
                $("#selectActivity"+rowNumber).append("<option value=\"\">Sélectionnez un secteur</option>");

            //Lancement du mode édition
            $("#edit" + rowNumber).click();
        }

        function displayButton(action, rowNumber, type) {
            let save = "#save" + rowNumber;
            let cancel = "#cancel" + rowNumber;
            let edit = "#edit" + rowNumber;
            let remove = "#remove" + rowNumber;

            /* récupération de l'id du diplômé si existant */
            let personDegreeId = $("#id" + rowNumber).text();
            //console.log("Init personDegreeId = " + personDegreeId ) ;

            /* test si tout les champs sont remplis */
            /* ------------------------------------ */
            let check = true;
            if(action=="save") {
                $(row).each(function () {
                    $(this).find('input').each(function () {
                        if($(this).prop("required") == true) {
                            if ($(this).val() == '') {
                                check = false;
                                $(this).css({"background-color": "#ffd5d5"});
                            } else {
                                $(this).css({"background-color": "white"});
                            }
                        }
                    })
                    $(this).find('select').each(function () {
                        if($(this).prop("required") == true) {

                            if (($(this).val() == "") ||  (($(this).val())&&($(this).val().toLowerCase() == "selectionnez"))) {
                                check = false;
                                $(this).css({"background-color": "#ffd5d5"});
                            } else {
                                //console.log($(this).val())
                                $(this).css({"background-color": "white"});
                            }
                        }
                    })
                })
            }
            /* Affichage des buttons */
            /* --------------------- */
            if(action=="edit") {
                $(save).css("display", "inline-block");
                $(cancel).css("display", "inline-block");
                $(edit).css("display", "none");
                $(remove).css("display", "none");

            } else if((action=="save")&&(check==true)) {
                $(save).css("display", "none");
                $(cancel).css("display", "none");
                $(edit).css("display", "inline-block");
                if(personDegreeId)
                    $(remove).css("display", "inline-block");

            } else if(action=="cancel") {
                $(save).css("display", "none");
                $(cancel).css("display", "none");
                $(edit).css("display", "inline-block");
                if(personDegreeId)
                    $(remove).css("display", "inline-block");
            }

            /* Affichage des inputs, select et des p */
            /* ------------------------------------- */
            row = $( edit ).attr('id').replace("edit","#personDegree");
            //console.log(row);
            $(row).each(function() {
                if(action=="edit") {
                    $(this).find('input').each(function () {
                        $(this).css("display", "inline-block");
                    });
                    $(this).find('select').each(function () {
                        $(this).css("display", "inline-block");
                    });
                    $(this).find('p').each(function () {
                        $(this).css("display", "none");
                    });

                } else if((action=="save")&&(check==true)) {
                    $(this).find('input').each(function () {
                        $(this).css("display", "none");
                    });
                    $(this).find('select').each(function () {
                        $(this).css("display", "none");
                    });
                    $(this).find('p').each(function () {
                        $(this).css("display", "inline-block");
                    });

                } else if(action=="cancel") {
                    $(this).find('input').each(function () {
                        $(this).css("display", "none");
                    });
                    $(this).find('select').each(function () {
                        $(this).css("display", "none");
                    });
                    $(this).find('p').each(function () {
                        $(this).css("display", "inline-block");
                    });
                }
            });

            /* Appels Ajax pour la sauvegarde et la suppression  */
            /* ------------------------------------------------- */
            if(action=="save") {
                /* test si tout les champs sont remplis */
                /* ------------------------------------ */
                let check = true;
                if(action=="save") {
                    $(row).each(function () {
                        $(this).find('input').each(function () {
                            if($(this).prop("required") == true) {
                                if ($(this).val() == '') {
                                    check = false;
                                    $(this).css({"background-color": "#ffd5d5"});
                                } else {
                                    $(this).css({"background-color": "white"});
                                }
                            }
                        })
                        $(this).find('select').each(function () {
                            if($(this).prop("required") == true) {

                                if (($(this).val() == "") ||  (($(this).val())&&($(this).val().toLowerCase() == "selectionnez"))) {
                                    check = false;
                                    $(this).css({"background-color": "#ffd5d5"});
                                } else {
                                    //console.log($(this).val())
                                    $(this).css({"background-color": "white"});
                                }
                            }
                        })
                    })
                }
                //console.log("check=" + check);
                /* sauvegarde */
                /* ---------- */
                if(check == true) {
                    let resConfirm = false;
                    if(type == "one") {
                        resConfirm = true;
                        if (confirm("Etes vous sûr de modifier cette entrée ?")) {
                            resConfirm = false;
                        }
                    }
                    if (!resConfirm) {
                        /* creation de la table des données */
                        /* -------------------------------- */
                        let personDegree = [];
                        //console.log("row=" + row);
                        personDegree = new Object();
                        let strPersonDegree = "";

                        /* récupération de l'id du diplômé si existant et du selectedCountry du School */
                        personDegree["id"] = $("#id" + rowNumber).text();
                        personDegree["selectedCountry"] = $("#selectedCountry").val();
                        strPersonDegree += "id=" + $("#id" + rowNumber).text();

                        /* récupération des données saisies dans les inputs */
                        /*------------------------------------------------- */
                        $(row).each(function () {
                            $(this).find('input').each(function () {
                                /*récupération du Label en enlevant le numero du rowNumber */
                                let nbDigitsRowNumber = rowNumber.toString().length;

                                let inputLabel = $(this).attr('id');

                                inputLabel = inputLabel.substring(0, inputLabel.length - nbDigitsRowNumber);
                                personDegree[inputLabel] = $(this).val();

                                if($(this).val().length>0) {
                                    strPersonDegree += "&" + inputLabel + "=" + $(this).val();
                                }
                            });
                            $(this).find('select').each(function () {
                                /*récupération du Label en enlevant le numero du rowNumber */
                                let nbDigitsRowNumber = rowNumber.toString().length;

                                let selectLabel = $(this).attr('id');
                                selectLabel = selectLabel.substring(0, selectLabel.length - nbDigitsRowNumber);
                                //console.log(inputLabel + " | " + nbDigitsRowNumber + " | " + rowNumber);

                                let label = selectLabel;
                                label = label.replace('select', '');
                                //personDegree[selectLabel] = $(this).val();
                                personDegree[label] = $(this).val();
                                if($(this).val().length>0) {
                                    strPersonDegree += "&" + label + "=" + $(this).val();
                                }

                                /* mise a jour du selected dans l'option */
                                $(this).find('option').each(function () {
                                    if(personDegree[label] == $(this).val()) {
                                        $(this).attr("selected","selected");
                                        //console.log("-test--> " + personDegree[label] + " | "+ $(this).val() + " | " + $(this).text());
                                    }
                                })
                            });
                        });

                        //console.log(personDegree)

                        /* appel ajax en get pour sauvegarder le Diplômé */
                        /* --------------------------------------------- */
                        let dirs = window.location.href.split('/');
                        let $locationRef = "";
                        for (let i = 0; i < dirs.length - 1; i++)
                            $locationRef += dirs[i] + '/';

                        //console.log("Id persondegree=" + personDegree["id"]);
                        if(personDegreeId == "") personDegreeId = -1;
                        $.get($locationRef + personDegreeId + '/enrollPersonDegreeUpdate/', personDegree).done(function (res) {

                            /* affichage des erreurs rencontrées */
                            /* --------------------------------- */
                            if (res[1].length > 0) {
                                alert(res[1].length + " problèmes rencontrés lors de l'update, opération annuée");

                                for (let i = 0; i < res[1].length; i++)
                                    alert(res[1][i]);

                                /* mise à jour de l'affichage des éléments en mode show */
                                /* ---------------------------------------------------- */
                            } else {
                                row = "#personDegree" + rowNumber;

                                $(remove).css("display", "inline-block");
                                $("#p_password" + rowNumber).html(res[0]["pwd"]);
                                $("#id" + rowNumber).text(res[0]["id"]);
                                //console.log ("-->" + personDegreeId + " | " + res[0]["id"] + " | " + res[0]["pwd"]);

                                $(row).each(function () {
                                    $(this).find('input').each(function () {
                                        /*récupération du Label en enlevant le numero du rowNumber */
                                        personDegreeId = $(this).prop("id");
                                        let inputValue = $(this).val();

                                        let p_id = "#p_" + personDegreeId;
                                        $(p_id).html(inputValue);
                                    });
                                    $(this).find('select option').each(function () {
                                        if($(this).val() != "")
                                            if($(this).attr("selected")=="selected") {
                                                /*récupération du Label en enlevant le numero du rowNumber */
                                                personDegreeId = $(this).parent().prop("id");
                                                let inputValue = $(this).text();

                                                let p_id = "#p_" + personDegreeId;
                                                $(p_id).text(inputValue);
                                                //console.log(p_id + " Selected -->> " + inputValue);
                                            }
                                    });
                                })
                            }
                        }, "json");
                    };
                }
            } else if(action=="remove") {
                /* appel ajax en get pour spprimer le Diplômé */
                /* ------------------------------------------ */
                //data = {"firstname":"Raoul", "lastname":"Dupont"};
                let dirs = window.location.href.split('/');
                let $locationRef = "";
                for (let i = 0; i < dirs.length - 1; i++)
                    $locationRef += dirs[i] + '/';

                if(confirm ("Etes vous sûr de supprimer cette entrée ?" )) {
                    /* creation de la table des données */
                    /* -------------------------------- */
                    let personDegree = [];
                    personDegree = new Object();

                    /* récupération de l'id du diplômé si existant */
                    personDegreeId = $("#id" + rowNumber).text();

                    if(personDegreeId) {
                        $.get($locationRef + personDegreeId + '/personDegreeDelete/').done(function (res) {

                            /* affichage des erreurs rencontrées */
                            /* --------------------------------- */
                            if (res[1].length > 0) {
                                alert(res[1].length + " problèmes rencontrés lors de l'update, opération annuée");
                            } else {
                                alert( "Diplômé supprimé avec succès");
                                $("#personDegree" + rowNumber).remove();
                            }
                        }, "json");
                    }
                }
            }
        };

        function addOptionRegion(rowNumber) {
            $idSelected=-1;
            if($('#selectRegion'+rowNumber+' option').length == 1 ) {
                $idSelected = $('#selectRegion' + rowNumber + ' option:first').val();
                $('#selectRegion' + rowNumber + ' option:first').remove();
            }
            if($('#selectRegion'+rowNumber+' option').length == 0 ) {
                $("#selectRegion"+rowNumber).append("<option value=\"\">Sélectionnez</option>");
                $("#regions option").each(function (option) {
                    if($idSelected == $(this).val())
                        $("#selectRegion"+rowNumber).append("<option selected value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                    else
                        $("#selectRegion"+rowNumber).append("<option value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                });
            }
        }

        function addOptionDegree(rowNumber) {
            $idSelected=-1;
            if($('#selectDegree'+rowNumber+' option').length == 1 ) {
                $idSelected = $('#selectDegree' + rowNumber + ' option:first').val();
                $('#selectDegree' + rowNumber + ' option:first').remove();
            }
            if($('#selectDegree'+rowNumber+' option').length == 0 ) {
                $("#selectDegree"+rowNumber).append("<option value=\"\">Sélectionnez</option>");
                $("#degrees option").each(function (option) {
                    if($idSelected == $(this).val())
                        $("#selectDegree"+rowNumber).append("<option selected value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                    else
                        $("#selectDegree"+rowNumber).append("<option value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                });
            }
        }

        function addOptionSectorArea(rowNumber) {
            $idSelected=-1;
            if($('#selectSectorArea'+rowNumber+' option').length == 1 ) {
                $idSelected = $('#selectSectorArea' + rowNumber + ' option:first').val();
                $('#selectSectorArea' + rowNumber + ' option:first').remove();
            }

            if($('#selectSectorArea'+rowNumber+' option').length == 0 ) {
                $("#selectSectorArea"+rowNumber).append("<option selected value=\"\">Sélectionnez</option>");
                $("#sectorAreas option").each(function (option) {
                    if($idSelected == $(this).val())
                        $("#selectSectorArea"+rowNumber).append("<option selected value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                    else
                        $("#selectSectorArea"+rowNumber).append("<option value=\"" + $(this).val() + "\">" + $(this).text() + "</option>");
                });
            }
        }

        function addOptionCity($region, rowNumber) {
            let dirs = window.location.href.split('/');
            let $locationRef = "";
            for (let i = 0; i < dirs.length - 1; i++)
                $locationRef += dirs[i] + '/';
            //console.log($locationRef + $region + '/cityByRegion');

            // appel Ajax sur bdd
            $.get($locationRef + $region + '/cityByRegion').done(function (cities) {
                // recupere le Id du city existant
                $idSelected=-1;
                if($('#selectAddressCity'+rowNumber+' option').length == 1 ) {
                    $idSelected = $('#selectAddressCity' + rowNumber + ' option:first').val();
                    $('#selectAddressCity' + rowNumber + ' option:first').remove();
                }
                $("#selectAddressCity"+rowNumber).append("<option selected value=\"\">Sélectionnez</option>");
                //console.log(cities);
                if(cities) {
                    cities.forEach((city) => {
                        //console.log(city['name'] + ' ' + city['id'] + ' ' + $idSelected);
                        if ($idSelected == city['id'])
                            $("#selectAddressCity" + rowNumber).append("<option selected value=\"" + city['id'] + "\">" + city['name'] + "</option>");
                        else
                            $("#selectAddressCity" + rowNumber).append("<option value=\"" + city['id'] + "\">" + city['name'] + "</option>");
                    })
                }
            })
        }

        function addOptionActivity($sectorArea, rowNumber) {
            let dirs = window.location.href.split('/');
            let $locationRef = "";
            for (let i = 0; i < dirs.length - 1; i++)
                $locationRef += dirs[i] + '/';

            // appel Ajax sur bdd
            console.log($locationRef + $sectorArea + '/activityBySchoolSectorArea');
            $.get($locationRef + $sectorArea + '/activityBySchoolSectorArea').done(function (activities) {
                // recupere le Id de l'activity existant
                $idSelected=-1;
                if($('#selectActivity'+rowNumber+' option').length == 1 ) {
                    $idSelected = $('#selectActivity' + rowNumber + ' option:first').val();
                    $('#selectActivity' + rowNumber + ' option:first').remove();
                }

                $("#selectActivity"+rowNumber).append("<option selected value=\"\">Sélectionnez</option>");
                if(activities) {
                    activities.forEach((activity) => {
                        if ($idSelected == activity['id'])
                            $("#selectActivity" + rowNumber).append("<option selected value=\"" + activity['id'] + "\">" + activity['name'] + "</option>");
                        else
                            $("#selectActivity" + rowNumber).append("<option value=\"" + activity['id'] + "\">" + activity['name'] + "</option>");
                    })
                }
            })
        }
    </script>
    <script>
        $(document).ready(function () {
            /* Mise à jour des options dans les selects de PersonDegrees existants */
            /* ------------------------------------------------------------------- */
            for ($i = 1 ; $i <= $('#rowNumber').val(); $i++) {
                addOptionRegion($i);
                addOptionSectorArea($i);
                addOptionDegree($i);

                $region = $('#selectRegion' + $i +' option:selected').val();
                addOptionCity($region,$i);

                $sector = $('#selectSectorArea' + $i +' option:selected').val();
                addOptionActivity($sector,$i);
            }

            // Event
            // Recherches de ville en fonction de la region
            $('.selectRegion').on('change', function() {
                id= $(this).attr("id").replaceAll("selectRegion","");
                $regionId = $('#selectRegion' + id + " option:selected" ).val();
                if($regionId) {
                    addOptionCity($regionId, id);
                    $("#selectAddressCity"+id).find('option').remove();
                }
            });

            // Event
            // Recherches des filières en fonction des secteurs
            $('.selectSectorArea').on('change', function() {
                id= $(this).attr("id").replaceAll("selectSectorArea","");
                //console.log("Sector Activity " + id);
                $sectorAreaId = $('#selectSectorArea' + id + " option:selected" ).val();
                if($sectorAreaId) {
                    addOptionActivity($sectorAreaId, id);
                    $("#selectActivity"+id).find('option').remove();
                }
            });
        });
    </script>
{% endblock %}
