{% extends 'school/content.html.twig' %}

{% block referencement_h1 %}
    {{ parent() }}  {{ 'referencement.school_profile' | trans }}
{% endblock %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <h6 class="element-header">
                    {{ 'menu.detail' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('front_school_edit') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.edit' | trans }}
                    </a>
                </h6>
                <div class="element-box form-show">
                    <fieldset>
                        <legend><span> {{ 'menu.identity' | trans }} </span></legend>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> Type: </label>
                                <input class="form-control" disabled value="{{ school.type | trans }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for=""> {{ 'menu.name' | trans }} : </label>
                                <input class="form-control" disabled value="{{ school.name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> {{ 'menu.registration' | trans }}:</label>
                                <input class="form-control" disabled value="{{ school.registration }}">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for=""> {{ 'menu.created_date' | trans }} :</label>
                                <input class="form-control" disabled value="{{ school.createdDate|date('d/m/Y H:i') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for=""> {{ 'menu.description' | trans }} : </label>
                                <textarea class="form-control" disabled >{{ school.description }}</textarea>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend><span> {{ 'menu.address' | trans }} </span></legend>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.country' | trans }} : </label>
                                <input class="form-control" disabled value="{{ school.country }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.region' | trans }} : </label>
                                <input class="form-control" disabled value="{{ school.region }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.city' | trans }}: </label>
                                <input class="form-control" disabled value="{{ school.city }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.number' | trans }}: </label>
                                <input class="form-control" disabled value="{{ school.addressNumber }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.street' | trans }} : </label>
                                <input class="form-control" disabled value="{{ school.addressRoad }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.location' | trans }} : </label>
                                <input class="form-control" disabled value="{{ school.addressLocality }}">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend><span>{{ 'menu.contact' | trans }}</span></legend>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.connection_phone_country_code_number' | trans }} </label>
                                <input class="form-control" disabled value="{{ school.phoneStandard }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> {{ 'menu.other_phone_country_code_number' | trans }} </label>
                                <input class="form-control" disabled value="{{ school.phoneOther }}">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for=""> Email</label>
                                <input class="form-control" disabled value="{{ school.email }}">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend><span>{{ 'school.proposed_certificates_degrees' | trans }} </span></legend>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                {#<label for="">  plusieurs choix possibles (+ touche ctrl) </label>#}
                                <textarea class="form-control" disabled style="height: 120px">{{ school.degrees | join('\n')}}</textarea>
                            </div>
                            <div class="hide_flex_otherDegree col-sm-6">
                                <div class="form-group col-sm-12" style="padding: 0">
                                    <label for="">  {{ 'menu.other_degree' | trans }}s (séparés par une virgule si plusieurs) </label>
                                    <input class="form-control" disabled value="{{ school.otherDegree }}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend><span>{{ 'school.training_offers_1_sector_minimum_and_6_maximum' | trans  }}</span></legend>
                        <div class="row">
                          {# Secteur d'activité 1 #}
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 1</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea1 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity1">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity1 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for=""> {{'menu.faculty' | trans }}s </label>
                                <textarea class="form-control" disabled style="height: 120px">{{ school.activities1 | join('\n')}}</textarea>
                            </div>
                        </div>
                      {# Secteur d'activité 2 #}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 2</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea2 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity2">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity2 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{'menu.faculty' | trans }}s</label>
                                        <textarea class="form-control" disabled style="height: 120px">{{ school.activities2 | join('\n')}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                      {# Secteur d'activité 3 #}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 3</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea3 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity3">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity3 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for=""> {{'menu.faculty' | trans }}s</label>
                                <textarea class="form-control" disabled style="height: 120px">{{ school.activities3 | join('\n')}}</textarea>
                            </div>
                        </div>
                      {# Secteur d'activité 4 #}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 4</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea4 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity4">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity4 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for=""> {{'menu.faculty' | trans }}s</label>
                                <textarea class="form-control" disabled style="height: 120px">{{ school.activities4 | join('\n')}}</textarea>
                            </div>
                        </div>
                      {# Secteur d'activité 5 #}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 5</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea5 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity5">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity5 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for=""> {{'menu.faculty' | trans }}s</label>
                                <textarea class="form-control" disabled style="height: 120px">{{ school.activities5 | join('\n')}}</textarea>
                            </div>
                        </div>
                      {# Secteur d'activité 6 #}
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <div class="row" style="margin:0">
                                    <div class="col-sm-12 form-group without-margin without-padding">
                                        <label for=""> {{ 'menu.activity_area' | trans }} 6</label>
                                        <input class="form-control" disabled value="{{ school.sectorArea6 }}">
                                    </div>
                                    <div class="col-sm-12 form-group without-padding hide_flex_otherActivity6">
                                        <label for=""> {{'activity.other_sector_profession' | trans }}</label>
                                        <input class="form-control" disabled value="{{ school.otherActivity6 }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for=""> {{'menu.faculty' | trans }}s</label>
                                <textarea class="form-control" disabled style="height: 120px">{{ school.activities6 | join('\n')}}</textarea>
                            </div>
                        </div>
                    </fieldset>

                    <div class="line-separator"></div>
                    <div class="controls-above-table">
                        <div class="row" id="actions">
                            <div class="col-sm-6">
                                {% if is_granted('ROLE_ADMIN') %}
                                   <a class="btn btn-sm btn-primary"
                                   href="{{ path('school_edit' | route_school, {'id': school.id}) }}"> <img
                                        src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> {{ 'menu.edit' | trans }}</a>

                                   {#<button class="btn btn-sm btn-danger"#}
                                            {#onclick="deleteElement('{{ path('school_delete', {'id': school.id}) }}')"><img#}
                                            {#src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer#}
                                   {#</button>#}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
       $('#actions form').css('display', 'inline-block');
    </script>
{% endblock %}
