{% extends 'legalstatus/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/legal-status.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'legal_status.list_of_legal_statuses' | trans }}
                  {#{% include '_menu.html.twig' %}#}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
{#                                <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                <a class="btn btn-sm btn-primary" href="{{ path('legalstatus_new') }}">
                                    <i class="fa fa-plus"></i> {{ 'legal_status.add_a_legal_status' | trans }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table_with_width_export" class="table table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th>Id</th>
                                <th>{{ 'menu.name' | trans }}</th>
                                <th>{{ 'menu.description' | trans }} </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for legalstatus in legalStatuses %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('legalstatus_edit', { 'id': legalstatus.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('legalstatus_show', { 'id': legalstatus.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" onclick="deleteElement('{{ path('legalstatus_delete', {'id': legalstatus.id}) }}')">
                                            <img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete">
                                        </a>
                                    </td>
                                    <td><a href="{{ path('legalstatus_show', { 'id': legalstatus.id }) }}">{{ legalstatus.id }}</a></td>
                                    <td>{{ legalstatus.name }}</td>
                                    <td>{{ legalstatus.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
       makeSelected('legalstatus')
    </script>
{% endblock %}
