{{ form_widget(form._token) }}
<div class="form-group">
  <label for=""> {{ 'menu.country' | trans }} </label>
  {{ form_widget(form.country) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country) }}</div>
</div>
<div class="form-group">
  <label for=""> Téléphone (Indicatif pays + N°)</label>
  {{ form_widget(form.phone) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phone) }}</div>
</div>
<div class="form-group">
  <label for=""> Pseudo</label>
  {{ form_widget(form.username) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.username) }}</div>
</div>
<div class="form-group">
  <label for=""> Adresse email</label>
  {{ form_widget(form.email) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email) }}</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for=""> Mot de passe</label>
      {{ form_widget(form.plainPassword.first) }}
      <div class="help-block form-text text-muted form-control-feedback">
        Minimum of 6 characters
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="">Repeter le mot de passe</label>
      {{ form_widget(form.plainPassword.second) }}
      <div class="help-block form-text with-errors form-control-feedback"></div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for=""> Roles</label>
  {{ form_widget(form.profils) }}
</div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="submit"> {{ 'menu.validate' | trans }} </button>
</div>
