{{ form_widget(form._token) }}
{#dbta adaptation#}
<div class="form-group">
  <label for=""> {{'menu.phone_country_code_number' | trans }}</label>
  {{ form_widget(form.phone) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.phone) }}</div>
</div>
<div class="form-group">
  <label for=""> {{ 'menu.pseudo'  | trans}}</label>
  {{ form_widget(form.username) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.username) }}</div>
</div>
<div class="form-group">
  <label for=""> {{ 'menu.email' | trans }}</label>
  {{ form_widget(form.email) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.email) }}</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for=""> {{ 'menu.password' | trans }}</label>
      {{ form_widget(form.plainPassword.first) }}
      <div class="help-block form-text text-muted form-control-feedback">
        Minimum of 6 characters
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="">{{ 'menu.confirm' | trans }}</label>
      {{ form_widget(form.plainPassword.second) }}
      <div class="help-block form-text with-errors form-control-feedback"></div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for=""> Roles</label>
  {{ form_widget(form.profils) }}
  <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.profils) }}</div>
</div>
<div class="row">
  <div hidden id="selectCountry" class="col-sm-12">
    <div class="form-group">
      <label for=""> {{ 'menu.select' | trans }} {{ 'menu.country' | trans }} </label>
{#      {{ create_translated_select(form.country) }}#}
      {{ form_widget(form.country) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.country) }}</div>
    </div>
  </div>
  <div hidden id="selectRegions" class="col-sm-12">
    <div class="form-group">
      <label for=""> {{ 'menu.select' | trans }} {{ 'menu.region' | trans }}</label>
{#      {{ create_translated_select(form.adminRegions) }}#}
      {{ form_widget(form.adminRegions) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.adminRegions) }}</div>
    </div>
  </div>
  <div hidden id="selectCities" class="col-sm-12">
    <div class="form-group">
      <label for=""> {{ 'menu.select' | trans }} {{ 'menu.cities' | trans }}</label>
{#      {{ create_translated_select(form.adminCities) }}#}
      {{ form_widget(form.adminCities) }}
      <div class="help-block form-text with-errors form-control-feedback">{{ form_errors(form.adminCities) }}</div>
    </div>
  </div>
  <select hidden id="roles">
    {% for role in roles  %}
      <option value="{{ role.role }}">{{ role.pseudo }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-buttons-w">
  <button class="btn btn-primary" type="submit"> {{ 'menu.validate' | trans }} </button>
</div>
