{% extends "base_security.html.twig" %}


{% block fos_user_title %}
  <h4 class="auth-header">Initialisation du mot de passe</h4>
{% endblock fos_user_title %}

{% block fos_user_content %}
  <div class="container">
    <div class="form-text text-md-center">
      <em>
        Compléter le formulaire, un sms ou un email vous seras envoyé.<br />
        Il contiendra le code pour initialiser votre mot de passe.
      </em>
    </div>

    {#<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">#}
    <form action="{{ path('register_ask_new_password') }}" method="POST" class="fos_user_resetting_request">
      {{ form_widget(form._token) }}
      <div class="form-group">
        <label for="">Téléphone de Connexion*</label>
        {{ form_widget(form.phone) }}
        <div class="pre-icon os-icon os-icon-user-male-circle"></div>
      </div>
      <div class="form-group">
        <label for="">Adresse E-mail (falcutatif)</label>
        {{ form_widget(form.email) }}
        <div class="pre-icon os-icon os-icon-email-forward"></div>
      </div>
      <div class="form-group">
        <label for="">Code de Vérification</label>
        {{ form_widget(form.validCode, { 'value': '' }) }}
        <div class="pre-icon os-icon os-icon-fingerprint"></div>
      </div>
      <div class="multi_submit">
        {#<input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
        <input  id="submit_change_password" class="btn btn-primary" type="submit" value="Initialiser" />
        <a class="btn btn-primary" href="{{ path('logout') }}">Annuler</a>
      </div>
    </form>
  </div>
{% endblock fos_user_content %}
{% block fos_user_script %}
  <script>
     change_submit_name();
     $('#userbundle_user_validCode').hover(function (e) {
        change_submit_name();
     })
    function change_submit_name() {
       if($('#userbundle_user_validCode').val().length >0) {
          $('#submit_change_password').val("Initialiser votre mot de passe");
       } else {
          $('#submit_change_password').val("Demander le code");
       }
    }
  </script>
{% endblock fos_user_script %}
