{% extends "base_security.html.twig" %}


{% block fos_user_title %}
  <h4 class="auth-header">Initialisation du mot de passe</h4>
{% endblock fos_user_title %}

{% block fos_user_content %}
  <div class="container">
    <form action="{{ path('register_change_password') }}" method="POST" class="fos_user_resetting_request">
      {{ form_widget(form._token) }}
      <div class="row">
        <div class="col-sm-12">
          <div hidden class="form-group">
            <label for=""> Téléphone</label>
            {{ form_widget(form.phone, {'attr': {'value': user.phone}} ) }}
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for=""> Mot de passe</label>
            {{ form_widget(form.plainPassword.first) }}
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Confirmer</label>
            {{ form_widget(form.plainPassword.second) }}
          </div>
        </div>
      </div>
      {#<input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
      <input class="btn btn-primary" type="submit" value="Initialiser" />
      <a class="btn btn-primary" href="{{ path('logout') }}">Annuler</a>
    </form>
  </div>
{% endblock fos_user_content %}
