{% extends 'user/content.html.twig' %}
{% set roleUser = app.user.roles | role%}

{% block body %}
    {{ roleUser }}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/users.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'menu.users_list' | trans }}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
{#                                <a class="btn btn-sm btn-primary" href="#">{{ 'menu.archive' | trans }}</a>#}
                                <a class="btn btn-sm btn-primary" href="{{ path('user_new') }}">
                                    <i class="fa fa-plus"></i> {{ 'menu.new_user' | trans }}</a>
{#                                    <i class="fa fa-plus"></i> {% trans %}app.userbundle.new-user{% endtrans %}#}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="kz_table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th class="no-print">Actions</th>
                                <th>Id</th>
                                <th>{{ 'menu.country' | trans }}</th>
                                {# adaptation DBTA #}
                                {% if struct_province_country_city == 'true' %}
                                    <th>{{ 'menu.region' | trans }}</th>
                                {% endif %}
                                <th>Téléphone</th>
                                <th>Pseudo</th>
                                <th>{{ 'menu.email' | trans }}</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td class="row-actions">
                                        <a href="{{ path('user_edit', { 'id': user.id }) }}#"><img src="{{ asset('build/images/icon/edit_16.png') }}" alt="edit"></a>
                                        <a href="{{ path('user_show', { 'id': user.id }) }}"><img src="{{ asset('build/images/icon/show_16.png') }}" alt="show"></a>
                                        <a class="danger" onclick="deleteElement('{{ path('user_delete', {'id': user.id}) }}')"><img src="{{ asset('build/images/icon/delete_16.png') }}" alt="delete"></a>
                                    </td>
                                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                                    <td>{{ user.country | trans}}</td>

                                    {# adaptation DBTA #}
                                    {% if struct_province_country_city == 'true' %}
                                        {% if user.adminCities != NULL  %}
                                            <td>{{ user.region | trans}} [ {{ user.adminCities | trans }} ]</td>
                                        {% elseif user.adminRegions != NULL  %}
                                            {% set adminRegions = user.adminRegions | split(',') %}
                                            <td>[
                                                {% for adminRegion in adminRegions %}
                                                    {% if loop.index > 1 %} ,{% endif %}
                                                     {{ adminRegion | spaceless | trans }}
                                                {% endfor %}
                                                ]
                                            </td>
{#                                          <td>{{ user.adminRegions  }}</td>#}
                                        {% else%}
                                            <td>{{ user.region | trans }}</td>
                                        {% endif %}
                                    {% endif %}
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
{% endblock %}
