{% extends 'user/content.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

{% endblock %}

{% set roleUser = app.user.roles | role%}

{% block body %}
    <style>
        .clearfix {
            height: 15px;
            display: block;
        }
        .btn-primary {
            color: #fff !important;
            background-color: #007bff !important;
            border-color: #007bff !important;
        }
    </style>
    <div class="content-i">
        <div class="content-box">
            {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/users.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    {{ 'menu.users_list' | trans }}
                </h6>
                <div class="element-box">
                    <div class="controls-above-table">
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary" href="{{ path('user_new') }}">
                                    <i class="fa fa-plus"></i> {{ 'menu.new_user' | trans }}</a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div id="users">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(document).ready(function () {
            let title = $('h6.element-header').first().text();
            $('#users').addClass('table table-striped table-bordered dt-responsive nowrap dataTable no-footer')
            $('#users').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom: '<"row"<"col-12 text-center"B>>' +
                    '<"row"<"col-12"><"clearfix">>' +
                    'lfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        text: '<i class="fas fa-file-csv"></i> Export CSV',
                        className: 'btn btn-primary btn-dashboard rounded buttons-csv buttons-html5',
                        title: title,
                        exportOptions: {
                            columns: ':not(.no-print)',
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel"></i> Export Excel',
                        className: 'btn btn-primary btn-dashboard rounded buttons-excel buttons-html5',
                        title: title,
                        exportOptions: {
                            columns: ':not(.no-print)',
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i> Export PDF',
                        className: 'btn btn-primary btn-dashboard rounded buttons-pdf buttons-html5',
                        title: title,
                        exportOptions: {
                            columns: ':not(.no-print)',
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> Print',
                        className: 'btn btn-primary btn-dashboard rounded buttons-print buttons-html5',
                        title: title,
                        exportOptions: {
                            columns: ':not(.no-print)',
                        }
                    }
                ]
            });

        })
    </script>
{% endblock %}
