{% extends 'user/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
            {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/users.png') }}" alt="locality" class="title-icon"
                     style="margin-bottom: -35px;">
                <h6 class="element-header">
                    <i class="fa fa-user"></i>
                      {{ 'menu.new_user' | trans }}
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('user_index') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'menu.back_to_the_list' | trans }}
                    </a>
                </h6>
                <div class="element-box">
                    <form id="" method="post" action="{{ path('user_new') }}">
                        {% include 'user/_new.html.twig' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

