{% extends 'user/content.html.twig' %}

{% block body %}
    <div class="content-i">
        <div class="content-box">
          {# Tableau 1 #}
            <div class="element-wrapper">
                <img src="{{ asset('build/images/icon/users.png') }}" alt="locality" class="title-icon" style="margin-bottom: -35px;">
                <h6 class="element-header">
                    Details
                    <a class="btn btn-sm btn-primary float-right" href="{{ path('user_index') }}">
                        <i class="fa fa-arrow-left"></i> Retour à la liste
                    </a>
                </h6>
                <div class="element-box">
                    <form>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Id</label>
                            <div class="col-sm-8"><input class="form-control" disabled value="{{ user.id }}"></div>
                        </div>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Pseudo</label>
                            <div class="col-sm-8"><input class="form-control" disabled value="{{ user.username }}"></div>
                        </div>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Email</label>
                            <div class="col-sm-8"><input class="form-control" disabled value="{{ user.email }}"></div>
                        </div>
                        <div class="form-group row">
                            <label class="text-uppercase col-form-label col-sm-4">Roles</label>
                            <div class="col-sm-8">
                                <select name="" id="" multiple class="select2 form-control" disabled>
                                  {% for profil in user.roles %}
                                      <option value="{{ profil }}" selected>{{ profil }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="controls-above-table">
                        <div class="row" id="actions">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">
                                    <img src="{{ asset('build/images/icon/edit_16_ba.png') }}" alt="edit"> Modifier</a>
                                <button class="btn btn-sm btn-danger" onclick="deleteElement('{{ path('user_delete', {'id': user.id}) }}')">
                                    <img src="{{ asset('build/images/icon/delete_16_ba.png') }}" alt="delete">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
